openapi: 3.2.0
info:
  title: Airbus OneAtlas OneAtlas Radar Sar/Config API
  version: 1.0.0
  contact:
    email: dl_webservices_geo@airbus.com
  description: OneAtlas Radar API is a powerful tool that allows developers to access and integrate radar satellite data into their applications and processes. By utilizing this API, users can access real-time and historical radar imagery, which can be used for a wide range of applications including agriculture, disaster management, urban planning, and security. The API provides high-resolution radar images that can be used for monitoring changes in land cover, detecting anomalies, and analyzing patterns over time. With OneAtlas Radar API, users can access valuable radar data to enhance their decision-making processes and improve their overall operational efficiency.
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Radar Tasking & Archive
security:
- basicAuth: []
tags:
- name: Sar/Config
  description: 'Endpoint for SAR specific user configuration.

    '
paths:
  /sar/config:
    get:
      summary: Airbus OneAtlas Retrieve Entire Configuration
      tags:
      - Sar/Config
      responses:
        '200':
          description: omnibus configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions:
                    type: object
                    properties:
                      acquisitionOnly:
                        type: boolean
                      leftLooking:
                        type: boolean
                      outOfFullPerformance:
                        type: boolean
                      PAZ:
                        type: boolean
                    required:
                    - acquisitionOnly
                    - leftLooking
                    - outOfFullPerformance
                    - PAZ
                  receivingStations:
                    type: array
                    items:
                      description: Downlink station to use for direct-access customers
                      type: string
                      default: NSG_POOL
                      example: NSG_POOL
                  orderTemplates:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        default:
                          type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/config/orderTemplates:
    get:
      summary: Airbus OneAtlas Retrieve List of Order Templates
      tags:
      - Sar/Config
      responses:
        '200':
          description: list of order templates
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    default:
                      type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/config/permissions:
    get:
      summary: Airbus OneAtlas Get User Permissions
      tags:
      - Sar/Config
      responses:
        '200':
          description: user permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  acquisitionOnly:
                    type: boolean
                  leftLooking:
                    type: boolean
                  outOfFullPerformance:
                    type: boolean
                  PAZ:
                    type: boolean
                required:
                - acquisitionOnly
                - leftLooking
                - outOfFullPerformance
                - PAZ
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/config/receivingStations:
    get:
      summary: Airbus OneAtlas Get Allowed Receiving Stations
      tags:
      - Sar/Config
      responses:
        '200':
          description: list of receiving stations
          content:
            application/json:
              schema:
                type: array
                items:
                  description: Downlink station to use for direct-access customers
                  type: string
                  default: NSG_POOL
                  example: NSG_POOL
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
