openapi: 3.2.0
info:
  title: OneAtlas Basemap Get Capabilities API
  description: OneAtlas Basemap API is a geospatial service that provides access to high-resolution satellite imagery and basemaps. It allows users to retrieve up-to-date visual information of any location on Earth, enabling them to analyze and monitor changes in the environment, infrastructure, and land use. The API offers a seamless and easy-to-use interface for developers to integrate mapping capabilities into their applications, providing valuable insights for a wide range of industries such as agriculture, urban planning, disaster management, and more. With OneAtlas Basemap API, users can access reliable and accurate geospatial data to support decision-making processes and enhance their understanding of the world around them.
  version: '2.0'
servers:
- url: https://view-bm.api.oneatlas.airbus.com
tags:
- name: Get Capabilities
paths:
  /basemap/wmts?SERVICE=WMTS&REQUEST=GetCapabilities:
    get:
      summary: Service Capabilities.
      description: Allows authorized users to see the capacities of the service.
      security:
      - Bearer: []
      responses:
        '200':
          description: Request successful
        '401':
          description: 'Unauthorized: the authorization is missing or has expired.'
      tags:
      - Get Capabilities
components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: 'Enter the token with the `Bearer: ` prefix, e.g. "Bearer abcde12345".'
