openapi: 3.2.0
info:
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  title: OneAtlas Data Living Library Freemium API
  description: OneAtlas Data Living Library is a platform that provides users with access to a diverse range of geospatial data and satellite imagery. The library is constantly updated with the latest data, ensuring that users have access to accurate and timely information for their projects. Users can easily search for and find the data they need, whether it be for environmental monitoring, urban planning, agriculture, or any other application. The platform also offers tools for analysis and visualization, allowing users to derive insights and make informed decisions based on the data they have access to. Overall, OneAtlas Data Living Library is a valuable resource for anyone looking to harness the power of geospatial data for their work.
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
tags:
- name: freemium
paths:
  /api/v1/register:
    post:
      description: Create freemium contract and user
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-06/schema#
              definitions:
                contractsFreemium:
                  properties:
                    content:
                      properties:
                        datasets:
                          items:
                            enum:
                            - barcelonaHarbor
                            - bostonConventionCenter
                            - budapest
                            - capetownHarbor
                            - casablancaHarbor
                            - dubai
                            - istanbul
                            - mexicoAirport
                            - rio
                            - sanFranciscoAirport
                            - shanghai
                            - sydneyOpera
                            type: string
                          maxItems: 3
                          minItems: 1
                          type: array
                          uniqueItems: true
                      required:
                      - datasets
                      type: object
                    kind:
                      pattern: ^contract.oneatlasdata.freemium$
                    name:
                      type: string
                  required:
                  - content
                  - kind
                  type: object
              description: Freemium contract api
              id: http://local/schemas/public/contract.freemium.json#
              oneOf:
              - properties:
                  content:
                    properties:
                      datasets:
                        items:
                          enum:
                          - barcelonaHarbor
                          - bostonConventionCenter
                          - budapest
                          - capetownHarbor
                          - casablancaHarbor
                          - dubai
                          - istanbul
                          - mexicoAirport
                          - rio
                          - sanFranciscoAirport
                          - shanghai
                          - sydneyOpera
                          type: string
                        maxItems: 3
                        minItems: 1
                        type: array
                        uniqueItems: true
                    required:
                    - datasets
                    type: object
                  kind:
                    pattern: ^contract.oneatlasdata.freemium$
                  name:
                    type: string
                required:
                - content
                - kind
                type: object
              title: Freemium contract
      responses:
        '200':
          description: message for freemium acces
      summary: Create Freemium Acces
      tags:
      - freemium
x-tagGroups:
- name: Authentication
  tags:
  - APIkey management
  - Token retrieval
- name: Catalog search
  tags:
  - Catalog search
- name: Living Library ordering
  tags:
  - Orders
  - Subscriptions
