openapi: 3.2.0
info:
  title: Airbus Oneatlas Monitor API
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  version: '1.0'
  description: 'Operations tagged Monitor across 3 of this provider''s published API definitions: oneatlas-data-living-library-openapi.yml, oneatlas-data-pay-per-order-api-openapi.yml, oneatlas-data-pay-per-order-tasking-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
- description: API server
  url: https://order.api.oneatlas.airbus.com
tags:
- name: Monitor
paths:
  /api/v1/activities/search:
    get:
      description: Search activities depending on given parameters.
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      - in: query
        name: creationDate
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/creationDate'
      - in: query
        name: endDate
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/endDate'
      - in: query
        name: itemsPerPage
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/itemsPerPage'
      - in: query
        name: payload
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/payload'
      - in: query
        name: progress
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/progress'
      - in: query
        name: sortBy
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/sortBy'
      - in: query
        name: startDate
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/startDate'
      - in: query
        name: startIndex
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/startIndex'
      - in: query
        name: status
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/status'
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/type'
      - in: query
        name: userId
        schema:
          $ref: '#/components/schemas/ActivitySearchOptions/properties/userId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySearchResponse'
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: Search Activities
      tags:
      - Monitor
    post:
      description: Search activities depending on given parameters.
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivitySearchOptions'
        description: The search options
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySearchResponse'
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: Search Activities
      tags:
      - Monitor
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
  /api/v1/activities/{activityId}:
    get:
      description: 'Get the detail of an activity.


        This endpoints **should not be forged** but retrieved from the `_links` map in list activities response or create process response.'
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/ActivityId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: The activity detail
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get Activity Status
      tags:
      - Monitor
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
  /api/v1/activities/{activityId}/cancel:
    post:
      description: 'Cancel an activity.


        If the activity is already terminated (status `ARCHIVED`, `CANCELED`, `FAILED` or `SUCCESSED`), the response is an HTTP `400` error code.


        This endpoints **should not be forged** but retrieved from the `_links` map in list activities response or any endpoint that create or modify an activity.'
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/ActivityId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityStage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: If last activity stage is a cancel stage with the same payload. In this case X-Ads-CorrelationId header is ignored.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: The activity stage is created and the activity status is set to `CANCELED`.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Cancel Activity
      tags:
      - Monitor
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
  /api/v1/activities/{activityId}/rerun:
    post:
      description: 'Set activity status to `RUNNING` only for manual activities such as physical delivering.


        If the activity is already terminated (status `ARCHIVED`, `CANCELED`, `FAILED` or `SUCCESSED`), the response is an HTTP `400` error code.


        This endpoints **should not be forged** but retrieved from the `_links` map in list activities response or any endpoint that create or modify an activity.

        '
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/ActivityId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityStage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: If last stage is a run stage with the same payload. In this case X-Ads-CorrelationId header is ignored.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: The activity stage is created and the activity status is set to `RUNNING`.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Run Activity
      tags:
      - Monitor
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
  /api/v1/activities/{activityId}/stages:
    get:
      description: 'Get the stages of an activity. This url is not forged but directly retrieved using the monitoring key in the ingestion/process/format order response.


        This endpoints **should not be forged** but retrieved from the `_links` map in list activities response or create process response.'
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/ActivityId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityStages'
          description: The activity stages
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get Activity Stages
      tags:
      - Monitor
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
components:
  schemas:
    ActivitySearchOptions:
      properties:
        creationDate:
          description: The creation date or creation date range of the activity
          oneOf:
          - description: The creation date of the activity.
            example: '2017-08-29T00:00:00Z'
            format: date-time
            type: string
          - description: "The creation dates range.\n\nRanges are expressed as follow:\n  - Comma to separate start value from end value\n  - Start value or end value can be omitted (it means values are infinite)\n  - Start with `[` means *start value is included*\n  - Start with `]` means *start value is excluded*\n  - End with `[` means *end value is included*\n  - End with `]` means *end value is excluded*"
            example: '[2017-08-29T00:00:00Z'
            format: date-time-range
            type: string
        endDate:
          description: The end date pf the activity (copy of the date associated to the SUCCEEDED or FAILED stage)
          format: datetime
          oneOf:
          - description: The end date of the activity.
            example: '2017-08-29T00:00:00Z'
            format: date-time
            type: string
          - description: "The end dates range.\n\nRanges are expressed as follow:\n  - Comma to separate start value from end value\n  - Start value or end value can be omitted (it means values are infinite)\n  - Start with `[` means *start value is included*\n  - Start with `]` means *start value is excluded*\n  - End with `[` means *end value is included*\n  - End with `]` means *end value is excluded*"
            example: '[2017-08-29T00:00:00Z'
            format: date-time-range
            type: string
          type: string
        itemsPerPage:
          description: Number of requested items per page
          example: 50
          format: integer
          minimum: 1
          type: number
        payload:
          description: The copy of the origin user request. It could be the whole object or only some elements.
          oneOf:
          - description: The json object.
            example:
            - workspace: public
            type: object
          - description: String representation of the json object.
            example: '{"workspace":"public"}'
            type: string
        progress:
          description: A progress indicator between 0 and 100
          format: integer
          maximum: 100
          minimum: 0
          type: number
        sortBy:
          description: Unbounded list or parameters to sort by. The '+' indicates ascendant ordering, the '-' indicates descendant ordering. If not precised, default to '+'
          example: +startDate,-endDate
          type: string
        startDate:
          description: The start date of the activity (date of the first stage that is not QUEUED)
          format: datetime
          oneOf:
          - description: The start date of the activity.
            example: '2017-08-29T00:00:00Z'
            format: date-time
            type: string
          - description: "The start dates range.\n\nRanges are expressed as follow:\n  - Comma to separate start value from end value\n  - Start value or end value can be omitted (it means values are infinite)\n  - Start with `[` means *start value is included*\n  - Start with `]` means *start value is excluded*\n  - End with `[` means *end value is included*\n  - End with `]` means *end value is excluded*"
            example: '[2017-08-29T00:00:00Z'
            format: date-time-range
            type: string
          type: string
        startIndex:
          description: The index of the first item present in the response
          example: 1
          format: integer
          minimum: 0
          type: number
        status:
          description: The status or status list (comma separated list) of the activity.
          enum:
          - QUEUED
          - RUNNING
          - ON_HOLD
          - CANCELED
          - WAITING_CANCEL
          - SUCCEEDED
          - FAILED
          - ARCHIVED
          type: string
        type:
          description: Type of activity
          enum:
          - ingestion
          - processing
          - formatting
          - delivering
          type: string
        userId:
          $ref: '#/components/schemas/Id'
      type: object
    ApiError:
      properties:
        correlationId:
          $ref: '#/components/schemas/Id'
        hint:
          type: string
        internalCode:
          example: 400
          format: integer
          type: number
        message:
          type: string
        timestamp:
          description: Number of seconds since 01/01/1970
          example: 1530088354390
          format: integer
          type: number
      type: object
    ActivityStages:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ActivityStage'
          type: array
          uniqueItems: true
      type: object
    Link:
      description: Link object
      properties:
        href:
          description: The absolute web link
          example: https://monitoring.oneatlas.geoapi-airbusds.com/api/v1/activities/6b7a749b-64fb-48cd-ae68-39c0bbbe5051
          format: uri
          type: string
        method:
          default: GET
          description: HTTP verb to distinguish between several possible actions on the same ressource.
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - HEAD
          type: string
        name:
          description: The name of the link
          example: Self
          type: string
        resourceId:
          $ref: '#/components/schemas/Id'
        type:
          description: The mime-type when deferencing the link
          example: application/json
          type: string
      required:
      - href
      type: object
    Id:
      description: Unique Id of an element. Follows UUID v4 standard.
      example: d1c80fd9-ddf6-4f6a-b6dc-4c8e60be61e8
      format: uuid
      readOnly: true
      type: string
    ActivityStage:
      properties:
        date:
          default: now
          description: Date of the stage
          example: '2018-06-12T11:24:31.254Z'
          format: datetime
          type: string
        message:
          type: string
        name:
          description: Name of the completed stage
          type: string
        status:
          description: Status of the activity
          enum:
          - QUEUED
          - RUNNING
          - ON_HOLD
          - CANCELED
          - WAITING_CANCEL
          - SUCCEEDED
          - FAILED
          - ARCHIVED
          type: string
        userId:
          allOf:
          - readOnly: true
          - $ref: '#/components/schemas/Id'
          - description: If exists, the id of the user that is the origin of the activity stage (extracted from the X-Forwarded-User request header)
      type: object
    Activity:
      properties:
        _links:
          properties:
            cancel:
              allOf:
              - description: See [Cancel activity](#/paths/~1api~1v1~1activities~1{correlationId}~1cancel/post)
              - $ref: '#/components/schemas/Link'
            catalogItems:
              description: 'Resource id property (`resourceId`) is a catalog item id (`catalogItemId`). It can be used in all endpoints that need a `catalogItemId`.


                See [Search catalog items with opensearch](#/paths/~1api~1v1~1opensearch/get). See [Format catalog item](#/paths/~1api~1v1~1items~1{catalogItemId}~1format/post).'
              items:
                $ref: '#/components/schemas/Link'
              type: array
              uniqueItems: true
            history:
              allOf:
              - description: See [Get activity stages](#/paths/~1api~1v1~1activities~1{correlationId}~1stages/get)
              - $ref: '#/components/schemas/Link'
            hold:
              allOf:
              - description: See [Hold activity](#/paths/~1api~1v1~1activities~1{correlationId}~1hold/post)
              - $ref: '#/components/schemas/Link'
            nexts:
              description: Next endpoints applicable to the resource when the activity is finished.
              items:
                $ref: '#/components/schemas/Link'
              type: array
              uniqueItems: true
            rerun:
              allOf:
              - description: See [Run activity](#/paths/~1api~1v1~1activities~1{correlationId}~1rerun/post)
              - $ref: '#/components/schemas/Link'
          readOnly: true
          type: object
        creationDate:
          description: The time when the activity was created
          format: datetime
          readOnly: true
          type: string
        endDate:
          description: The time when the activity was ended (copy of the date associated to the SUCCEEDED, CANCELED or FAILED stage)
          format: datetime
          readOnly: true
          type: string
        id:
          $ref: '#/components/schemas/Id'
        lastStageName:
          description: Name of the last completed stage
          type: string
        message:
          description: A free text (copy of the last stage message)
          readOnly: true
          type: string
        payload:
          description: The copy of the origin user request
          type: object
        priority:
          default: 5
          description: A priority indicator between 1 and 9. 1 is the highest.
          format: int
          maximum: 9
          minimum: 1
          type: number
        progress:
          default: 0
          description: A progress indicator between 0 and 100
          format: int
          maximum: 100
          minimum: 0
          type: number
        startDate:
          description: The time when the activity was started (date of the first stage that is not QUEUED)
          format: datetime
          readOnly: true
          type: string
        status:
          default: QUEUED
          description: Status of the activity (copy of the last stage status)
          enum:
          - QUEUED
          - RUNNING
          - ON_HOLD
          - CANCELED
          - WAITING_CANCEL
          - SUCCEEDED
          - FAILED
          - ARCHIVED
          type: string
        type:
          description: Type of activity
          enum:
          - ingestion
          - process
          - format
          - control
          - deliver
          type: string
        userId:
          allOf:
          - $ref: '#/components/schemas/Id'
          - description: The id of the user that is the origin of the activity (extracted from the X-Forwarded-User request header)
      type: object
    ActivitySearchResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Activity'
          type: array
          uniqueItems: true
        itemsPerPage:
          description: Number of requested items per page
          example: 100
          format: integer
          minimum: 1
          type: number
        startIndex:
          description: The index of the first item present in the response
          example: 0
          format: integer
          minimum: 0
          type: number
        totalResults:
          description: The total number of activities
          example: 582
          format: integer
          maximum: 10000
          minimum: 0
          type: number
      type: object
  responses:
    '500':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Internal server error
    '401':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: User is not authenticated
    '403':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: User has not enough rights to consume the item
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Item not found in catalog or resource not found in item
    '400':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Bad request
  parameters:
    CorrelationID:
      description: CorrelationID is a header to track transaction identifier. If not specified, a new one is automatically generated.
      example: 799246d8-4172-11e8-b045-e7011a379ec4
      in: header
      name: X-Ads-Correlation-Id
      schema:
        $ref: '#/components/schemas/Id'
    ActivityId:
      description: The identifier of the activity. It is the correlation ID given to the ingestion/process/format order request.
      example: 799246d8-4172-11e8-b045-e7011a379ec4
      in: path
      name: activityId
      required: true
      schema:
        $ref: '#/components/schemas/Id'
x-refined-from:
- oneatlas-data-living-library-openapi.yml
- oneatlas-data-pay-per-order-api-openapi.yml
- oneatlas-data-pay-per-order-tasking-api-openapi.yml
