openapi: 3.2.0
info:
  title: Airbus Oneatlas Orders API
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  version: '1.0'
  description: 'Operations tagged Orders across 3 of this provider''s published API definitions: oneatlas-data-living-library-openapi.yml, oneatlas-data-pay-per-order-api-openapi.yml, oneatlas-data-pay-per-order-tasking-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
- description: API server
  url: https://order.api.oneatlas.airbus.com
tags:
- name: Orders
paths:
  /api/v1/orders:
    get:
      description: Get all orders
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/itemsPerPage'
      - description: Filter orders by status
        in: query
        name: status
        schema:
          type: string
      - description: Filter orders by kind
        in: query
        name: kind
        schema:
          type: string
      - description: Filter orders by tags, comma-separated values
        in: query
        name: tags
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $schema: http://json-schema.org/draft-06/schema#
                  description: Orders api
                  id: http://local/schemas/public/orders.json
                  oneOf:
                  - properties:
                      kind:
                        pattern: ^order.product$
                      products:
                        required:
                        - id
                        - aoi
                        - productType
                        - radiometricProcessing
                        - imageFormat
                        - crsCode
                        properties:
                          aoi:
                            $schema: http://json-schema.org/draft-06/schema#
                            definitions:
                              multiPolygonAoi:
                                properties:
                                  coordinates:
                                    items:
                                      items:
                                        items:
                                          items:
                                            type: number
                                          maxItems: 2
                                          minItems: 2
                                          type: array
                                        minItems: 4
                                        type: array
                                      minItems: 1
                                      type: array
                                    minItems: 1
                                    type: array
                                  type:
                                    enum:
                                    - MultiPolygon
                                type: object
                              polygonAoi:
                                properties:
                                  coordinates:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  type:
                                    enum:
                                    - Polygon
                                type: object
                            description: Aoi definition in GeoJson
                            id: http://local/schemas/public/aoi.json#
                            oneOf:
                            - properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                            - properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            title: aoi
                            type: object
                          crsCode:
                            description: The spatial reference system of the output image
                            type: string
                            oneOf:
                            - pattern: ^urn:ogc:def:crs:EPSG::326[01-60]$
                              title: EPSG326XX
                            - pattern: ^urn:ogc:def:crs:EPSG::327[01-60]$
                              title: EPSG327XX
                            - pattern: ^urn:ogc:def:crs:EPSG::4326$
                              title: EPSG4326
                          id:
                            type: string
                          imageFormat:
                            enum:
                            - image/jp2
                            - image/geotiff
                            type: string
                          productType:
                            oneOf:
                            - enum:
                              - bundle
                              - pansharpened
                              description: To be used for SPOT and Pleiades only
                            - enum:
                              - bundle-fs
                              - pansharpened-fs
                              description: To be used for PleiadesNeo only
                            type: string
                          radiometricProcessing:
                            description: 'Reflectance: image radiometry is corrected from atmospheric effects.'
                            enum:
                            - REFLECTANCE
                            - DISPLAY
                            title: Radiometric Processing
                            type: string
                          sourceId:
                            type: string
                        type: object
                      tags:
                        items:
                          pattern: ^[a-zA-Z]+$
                          type: string
                        type: array
                    required:
                    - products
                    - kind
                    type: object
                  - properties:
                      kind:
                        pattern: ^order.subscription.streaming$
                      subscription:
                        additionalProperties: false
                        properties:
                          duration:
                            minimum: 1
                            type: integer
                          geofence:
                            $schema: http://json-schema.org/draft-06/schema#
                            definitions:
                              multiPolygonAoi:
                                properties:
                                  coordinates:
                                    items:
                                      items:
                                        items:
                                          items:
                                            type: number
                                          maxItems: 2
                                          minItems: 2
                                          type: array
                                        minItems: 4
                                        type: array
                                      minItems: 1
                                      type: array
                                    minItems: 1
                                    type: array
                                  type:
                                    enum:
                                    - MultiPolygon
                                type: object
                              polygonAoi:
                                properties:
                                  coordinates:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  type:
                                    enum:
                                    - Polygon
                                type: object
                            description: aoi definition
                            id: http://local/schemas/public/aoi.json#
                            oneOf:
                            - properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                            - properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            title: aoi
                            type: object
                          monthlyPrice:
                            type: number
                          paymentModality:
                            enum:
                            - monthly
                            - full
                          startedAt:
                            description: ISO 8061 Notation
                            pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                            type: string
                          streamingPlan:
                            pattern: ^custom$
                          tileAmount:
                            type: integer
                          title:
                            type: string
                          type:
                            pattern: ^view$
                        required:
                        - type
                        - duration
                        - paymentModality
                        - tileAmount
                        - monthlyPrice
                        - streamingPlan
                        type: object
                      tags:
                        items:
                          pattern: ^[a-zA-Z]+$
                          type: string
                        type: array
                    required:
                    - subscription
                    - kind
                    type: object
                  - properties:
                      kind:
                        pattern: ^order.subscription.change-detection$
                      subscription:
                        additionalProperties: false
                        properties:
                          aoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                          duration:
                            enum:
                            - 3
                            - 6
                            - 12
                          frequency:
                            enum:
                            - monthly
                          resolution:
                            enum:
                            - 0.5
                            - 1.5
                          startedAt:
                            description: ISO 8061 Notation
                            pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                            type: string
                          title:
                            type: string
                          type:
                            pattern: ^change-detection$
                        required:
                        - aoi
                        - type
                        - resolution
                        - duration
                        type: object
                      tags:
                        items:
                          pattern: ^[a-zA-Z]+$
                          type: string
                        type: array
                    required:
                    - subscription
                    - kind
                    type: object
                  title: Orders
                type: array
          description: List of all orders
      summary: Get All Orders
      tags:
      - Orders
    post:
      description: Create an order
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-06/schema#
              description: Orders api
              id: http://local/schemas/public/orders.json
              oneOf:
              - properties:
                  kind:
                    pattern: ^order.product$
                  products:
                    required:
                    - id
                    - aoi
                    - productType
                    - radiometricProcessing
                    - imageFormat
                    - crsCode
                    properties:
                      aoi:
                        $schema: http://json-schema.org/draft-06/schema#
                        definitions:
                          multiPolygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          polygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                        description: Aoi definition in GeoJson
                        id: http://local/schemas/public/aoi.json#
                        oneOf:
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - Polygon
                          type: object
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - MultiPolygon
                          type: object
                        title: aoi
                        type: object
                      crsCode:
                        description: The spatial reference system of the output image
                        type: string
                        oneOf:
                        - pattern: ^urn:ogc:def:crs:EPSG::326[01-60]$
                          title: EPSG326XX
                        - pattern: ^urn:ogc:def:crs:EPSG::327[01-60]$
                          title: EPSG327XX
                        - pattern: ^urn:ogc:def:crs:EPSG::4326$
                          title: EPSG4326
                      id:
                        type: string
                      imageFormat:
                        enum:
                        - image/jp2
                        - image/geotiff
                        type: string
                      productType:
                        oneOf:
                        - enum:
                          - bundle
                          - pansharpened
                          description: To be used for SPOT and Pleiades only
                        - enum:
                          - bundle-fs
                          - pansharpened-fs
                          description: To be used for PleiadesNeo only
                        type: string
                      radiometricProcessing:
                        description: 'Reflectance: image radiometry is corrected from atmospheric effects.'
                        enum:
                        - REFLECTANCE
                        - DISPLAY
                        title: Radiometric Processing
                        type: string
                      sourceId:
                        type: string
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - products
                - kind
                type: object
              - properties:
                  kind:
                    pattern: ^order.subscription.streaming$
                  subscription:
                    additionalProperties: false
                    properties:
                      duration:
                        minimum: 1
                        type: integer
                      geofence:
                        $schema: http://json-schema.org/draft-06/schema#
                        definitions:
                          multiPolygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          polygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                        description: aoi definition
                        id: http://local/schemas/public/aoi.json#
                        oneOf:
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - Polygon
                          type: object
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - MultiPolygon
                          type: object
                        title: aoi
                        type: object
                      monthlyPrice:
                        type: number
                      paymentModality:
                        enum:
                        - monthly
                        - full
                      startedAt:
                        description: ISO 8061 Notation
                        pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                        type: string
                      streamingPlan:
                        pattern: ^custom$
                      tileAmount:
                        type: integer
                      title:
                        type: string
                      type:
                        pattern: ^view$
                    required:
                    - type
                    - duration
                    - paymentModality
                    - tileAmount
                    - monthlyPrice
                    - streamingPlan
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - subscription
                - kind
                type: object
              - properties:
                  kind:
                    pattern: ^order.subscription.change-detection$
                  subscription:
                    additionalProperties: false
                    properties:
                      aoi:
                        properties:
                          coordinates:
                            items:
                              items:
                                items:
                                  type: number
                                maxItems: 2
                                minItems: 2
                                type: array
                              minItems: 4
                              type: array
                            minItems: 1
                            type: array
                          type:
                            enum:
                            - Polygon
                        type: object
                      duration:
                        enum:
                        - 3
                        - 6
                        - 12
                      frequency:
                        enum:
                        - monthly
                      resolution:
                        enum:
                        - 0.5
                        - 1.5
                      startedAt:
                        description: ISO 8061 Notation
                        pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                        type: string
                      title:
                        type: string
                      type:
                        pattern: ^change-detection$
                    required:
                    - aoi
                    - type
                    - resolution
                    - duration
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - subscription
                - kind
                type: object
              title: Orders
      responses:
        '201':
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-06/schema#
                description: Orders api
                id: http://local/schemas/public/orders.json
                oneOf:
                - properties:
                    kind:
                      pattern: ^order.product$
                    products:
                      required:
                      - id
                      - aoi
                      - productType
                      - radiometricProcessing
                      - imageFormat
                      - crsCode
                      properties:
                        aoi:
                          $schema: http://json-schema.org/draft-06/schema#
                          definitions:
                            multiPolygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            polygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                          description: Aoi definition in GeoJson
                          id: http://local/schemas/public/aoi.json#
                          oneOf:
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          title: aoi
                          type: object
                        crsCode:
                          description: The spatial reference system of the output image
                          type: string
                          oneOf:
                          - pattern: ^urn:ogc:def:crs:EPSG::326[01-60]$
                            title: EPSG326XX
                          - pattern: ^urn:ogc:def:crs:EPSG::327[01-60]$
                            title: EPSG327XX
                          - pattern: ^urn:ogc:def:crs:EPSG::4326$
                            title: EPSG4326
                        id:
                          type: string
                        imageFormat:
                          enum:
                          - image/jp2
                          - image/geotiff
                          type: string
                        productType:
                          oneOf:
                          - enum:
                            - bundle
                            - pansharpened
                            description: To be used for SPOT and Pleiades only
                          - enum:
                            - bundle-fs
                            - pansharpened-fs
                            description: To be used for PleiadesNeo only
                          type: string
                        radiometricProcessing:
                          description: 'Reflectance: image radiometry is corrected from atmospheric effects.'
                          enum:
                          - REFLECTANCE
                          - DISPLAY
                          title: Radiometric Processing
                          type: string
                        sourceId:
                          type: string
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - products
                  - kind
                  type: object
                - properties:
                    kind:
                      pattern: ^order.subscription.streaming$
                    subscription:
                      additionalProperties: false
                      properties:
                        duration:
                          minimum: 1
                          type: integer
                        geofence:
                          $schema: http://json-schema.org/draft-06/schema#
                          definitions:
                            multiPolygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            polygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                          description: aoi definition
                          id: http://local/schemas/public/aoi.json#
                          oneOf:
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          title: aoi
                          type: object
                        monthlyPrice:
                          type: number
                        paymentModality:
                          enum:
                          - monthly
                          - full
                        startedAt:
                          description: ISO 8061 Notation
                          pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                          type: string
                        streamingPlan:
                          pattern: ^custom$
                        tileAmount:
                          type: integer
                        title:
                          type: string
                        type:
                          pattern: ^view$
                      required:
                      - type
                      - duration
                      - paymentModality
                      - tileAmount
                      - monthlyPrice
                      - streamingPlan
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - subscription
                  - kind
                  type: object
                - properties:
                    kind:
                      pattern: ^order.subscription.change-detection$
                    subscription:
                      additionalProperties: false
                      properties:
                        aoi:
                          properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - Polygon
                          type: object
                        duration:
                          enum:
                          - 3
                          - 6
                          - 12
                        frequency:
                          enum:
                          - monthly
                        resolution:
                          enum:
                          - 0.5
                          - 1.5
                        startedAt:
                          description: ISO 8061 Notation
                          pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                          type: string
                        title:
                          type: string
                        type:
                          pattern: ^change-detection$
                      required:
                      - aoi
                      - type
                      - resolution
                      - duration
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - subscription
                  - kind
                  type: object
                title: Orders
          description: order created
      summary: Create an Order
      tags:
      - Orders
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
  /api/v1/orders/{orderId}:
    get:
      description: Get order by id
      summary: Get Order by Id
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-06/schema#
                description: Orders api
                id: http://local/schemas/public/orders.json
                oneOf:
                - properties:
                    kind:
                      pattern: ^order.product$
                    products:
                      oneOf:
                      - required:
                        - sourceId
                        - aoi
                        - productType
                        - radiometricProcessing
                        - imageFormat
                        - crsCode
                      - required:
                        - id
                        - aoi
                        - productType
                        - radiometricProcessing
                        - imageFormat
                        - crsCode
                      properties:
                        aoi:
                          $schema: http://json-schema.org/draft-06/schema#
                          definitions:
                            multiPolygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            polygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                          description: aoi definition
                          id: http://local/schemas/public/aoi.json#
                          properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - MultiPolygon
                          title: aoi
                          type: object
                        crsCode:
                          const: urn:ogc:def:crs:EPSG::4326
                          description: The spatial reference system of the output image.
                          title: The output srs
                          type: string
                        id:
                          type: string
                        imageFormat:
                          const: image/jp2
                          type: string
                        productType:
                          description: ''
                          enum:
                          - bundle
                          title: Product type
                          type: string
                        radiometricProcessing:
                          default: REFLECTANCE
                          description: 'Reflectance: image radiometry is corrected from atmospheric effects.'
                          enum:
                          - REFLECTANCE
                          title: Radiometric Processing
                          type: string
                        sourceId:
                          type: string
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - products
                  - kind
                  type: object
                - properties:
                    kind:
                      pattern: ^order.subscription.streaming$
                    subscription:
                      additionalProperties: false
                      properties:
                        duration:
                          minimum: 1
                          type: integer
                        geofence:
                          $schema: http://json-schema.org/draft-06/schema#
                          definitions:
                            multiPolygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            polygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                          description: aoi definition
                          id: http://local/schemas/public/aoi.json#
                          oneOf:
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          title: aoi
                          type: object
                        monthlyPrice:
                          type: number
                        paymentModality:
                          enum:
                          - monthly
                          - full
                        startedAt:
                          description: ISO 8061 Notation
                          pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                          type: string
                        streamingPlan:
                          pattern: ^custom$
                        tileAmount:
                          type: integer
                        title:
                          type: string
                        type:
                          pattern: ^view$
                      required:
                      - type
                      - duration
                      - paymentModality
                      - tileAmount
                      - monthlyPrice
                      - streamingPlan
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - subscription
                  - kind
                  type: object
                - properties:
                    kind:
                      pattern: ^order.subscription.change-detection$
                    subscription:
                      additionalProperties: false
                      properties:
                        aoi:
                          properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - Polygon
                          type: object
                        duration:
                          enum:
                          - 3
                          - 6
                          - 12
                        frequency:
                          enum:
                          - monthly
                        resolution:
                          enum:
                          - 0.5
                          - 1.5
                        startedAt:
                          description: ISO 8061 Notation
                          pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                          type: string
                        title:
                          type: string
                        type:
                          pattern: ^change-detection$
                      required:
                      - aoi
                      - type
                      - resolution
                      - duration
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - subscription
                  - kind
                  type: object
                title: Orders
          description: an order
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
  /api/v1/prices:
    post:
      description: Get an order price
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-06/schema#
              description: Orders api
              id: http://local/schemas/public/orders.json
              oneOf:
              - properties:
                  kind:
                    pattern: ^order.product$
                  products:
                    oneOf:
                    - required:
                      - sourceId
                      - aoi
                      - productType
                      - radiometricProcessing
                      - imageFormat
                      - crsCode
                    - required:
                      - id
                      - aoi
                      - productType
                      - radiometricProcessing
                      - imageFormat
                      - crsCode
                    properties:
                      aoi:
                        $schema: http://json-schema.org/draft-06/schema#
                        definitions:
                          multiPolygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          polygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                        description: aoi definition
                        id: http://local/schemas/public/aoi.json#
                        properties:
                          coordinates:
                            items:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            minItems: 1
                            type: array
                          type:
                            enum:
                            - MultiPolygon
                        title: aoi
                        type: object
                      crsCode:
                        const: urn:ogc:def:crs:EPSG::4326
                        description: The spatial reference system of the output image.
                        title: The output srs
                        type: string
                      id:
                        type: string
                      imageFormat:
                        const: image/jp2
                        type: string
                      productType:
                        description: ''
                        enum:
                        - bundle
                        title: Product type
                        type: string
                      radiometricProcessing:
                        default: REFLECTANCE
                        description: 'Reflectance: image radiometry is corrected from atmospheric effects.'
                        enum:
                        - REFLECTANCE
                        title: Radiometric Processing
                        type: string
                      sourceId:
                        type: string
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - products
                - kind
                type: object
              - properties:
                  kind:
                    pattern: ^order.subscription.streaming$
                  subscription:
                    additionalProperties: false
                    properties:
                      duration:
                        minimum: 1
                        type: integer
                      geofence:
                        $schema: http://json-schema.org/draft-06/schema#
                        definitions:
                          multiPolygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          polygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                        description: aoi definition
                        id: http://local/schemas/public/aoi.json#
                        oneOf:
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - Polygon
                          type: object
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - MultiPolygon
                          type: object
                        title: aoi
                        type: object
                      monthlyPrice:
                        type: number
                      paymentModality:
                        enum:
                        - monthly
                        - full
                      startedAt:
                        description: ISO 8061 Notation
                        pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                        type: string
                      streamingPlan:
                        pattern: ^custom$
                      tileAmount:
                        type: integer
                      title:
                        type: string
                      type:
                        pattern: ^view$
                    required:
                    - type
                    - duration
                    - paymentModality
                    - tileAmount
                    - monthlyPrice
                    - streamingPlan
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - subscription
                - kind
                type: object
              - properties:
                  kind:
                    pattern: ^order.subscription.change-detection$
                  subscription:
                    additionalProperties: false
                    properties:
                      aoi:
                        properties:
                          coordinates:
                            items:
                              items:
                                items:
                                  type: number
                                maxItems: 2
                                minItems: 2
                                type: array
                              minItems: 4
                              type: array
                            minItems: 1
                            type: array
                          type:
                            enum:
                            - Polygon
                        type: object
                      duration:
                        enum:
                        - 3
                        - 6
                        - 12
                      frequency:
                        enum:
                        - monthly
                      resolution:
                        enum:
                        - 0.5
                        - 1.5
                      startedAt:
                        description: ISO 8061 Notation
                        pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                        type: string
                      title:
                        type: string
                      type:
                        pattern: ^change-detection$
                    required:
                    - aoi
                    - type
                    - resolution
                    - duration
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - subscription
                - kind
                type: object
              title: Orders
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-06/schema#
                description: Orders api
                id: http://local/schemas/public/orders.json
                oneOf:
                - properties:
                    kind:
                      pattern: ^order.product$
                    products:
                      oneOf:
                      - required:
                        - sourceId
                        - aoi
                        - productType
                        - radiometricProcessing
                        - imageFormat
                        - crsCode
                      - required:
                        - id
                        - aoi
                        - productType
                        - radiometricProcessing
                        - imageFormat
                        - crsCode
                      properties:
                        aoi:
                          $schema: http://json-schema.org/draft-06/schema#
                          definitions:
                            multiPolygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            polygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                          description: aoi definition
                          id: http://local/schemas/public/aoi.json#
                          properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - MultiPolygon
                          title: aoi
                          type: object
                        crsCode:
                          const: urn:ogc:def:crs:EPSG::4326
                          description: The spatial reference system of the output image.
                          title: The output srs
                          type: string
                        id:
                          type: string
                        imageFormat:
                          const: image/jp2
                          type: string
                        productType:
                          description: ''
                          enum:
                          - bundle
                          title: Product type
                          type: string
                        radiometricProcessing:
                          default: REFLECTANCE
                          description: 'Reflectance: image radiometry is corrected from atmospheric effects.'
                          enum:
                          - REFLECTANCE
                          title: Radiometric Processing
                          type: string
                        sourceId:
                          type: string
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - products
                  - kind
                  type: object
                - properties:
                    kind:
                      pattern: ^order.subscription.streaming$
                    subscription:
                      additionalProperties: false
                      properties:
                        duration:
                          minimum: 1
                          type: integer
                        geofence:
                          $schema: http://json-schema.org/draft-06/schema#
                          definitions:
                            multiPolygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            polygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                          description: aoi definition
                          id: http://local/schemas/public/aoi.json#
                          oneOf:
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                          - properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          title: aoi
                          type: object
                        monthlyPrice:
                          type: number
                        paymentModality:
                          enum:
                          - monthly
                          - full
                        startedAt:
                          description: ISO 8061 Notation
                          pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                          type: string
                        streamingPlan:
                          pattern: ^custom$
                        tileAmount:
                          type: integer
                        title:
                          type: string
                        type:
                          pattern: ^view$
                      required:
                      - type
                      - duration
                      - paymentModality
                      - tileAmount
                      - monthlyPrice
                      - streamingPlan
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - subscription
                  - kind
                  type: object
                - properties:
                    kind:
                      pattern: ^order.subscription.change-detection$
                    subscription:
                      additionalProperties: false
                      properties:
                        aoi:
                          properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - Polygon
                          type: object
                        duration:
                          enum:
                          - 3
                          - 6
                          - 12
                        frequency:
                          enum:
                          - monthly
                        resolution:
                          enum:
                          - 0.5
                          - 1.5
                        startedAt:
                          description: ISO 8061 Notation
                          pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                          type: string
                        title:
                          type: string
                        type:
                          pattern: ^change-detection$
                      required:
                      - aoi
                      - type
                      - resolution
                      - duration
                      type: object
                    tags:
                      items:
                        pattern: ^[a-zA-Z]+$
                        type: string
                      type: array
                  required:
                  - subscription
                  - kind
                  type: object
                title: Orders
          description: a price
      summary: Get Price
      tags:
      - Orders
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
  ' /api/v1/prices':
    post:
      tags:
      - Orders
      description: Get an order price
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-06/schema#
              description: Orders api
              id: http://local/schemas/public/orders.json
              oneOf:
              - properties:
                  kind:
                    pattern: ^order.product$
                  products:
                    oneOf:
                    - required:
                      - sourceId
                      - aoi
                      - productType
                      - radiometricProcessing
                      - imageFormat
                      - crsCode
                    - required:
                      - id
                      - aoi
                      - productType
                      - radiometricProcessing
                      - imageFormat
                      - crsCode
                    properties:
                      aoi:
                        $schema: http://json-schema.org/draft-06/schema#
                        definitions:
                          multiPolygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          polygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                        description: aoi definition
                        id: http://local/schemas/public/aoi.json#
                        properties:
                          coordinates:
                            items:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            minItems: 1
                            type: array
                          type:
                            enum:
                            - MultiPolygon
                        title: aoi
                        type: object
                      crsCode:
                        const: urn:ogc:def:crs:EPSG::4326
                        description: The spatial reference system of the output image.
                        title: The output srs
                        type: string
                      id:
                        type: string
                      imageFormat:
                        const: image/jp2
                        type: string
                      productType:
                        description: ''
                        enum:
                        - bundle
                        title: Product type
                        type: string
                      radiometricProcessing:
                        default: REFLECTANCE
                        description: 'Reflectance: image radiometry is corrected from atmospheric effects.'
                        enum:
                        - REFLECTANCE
                        title: Radiometric Processing
                        type: string
                      sourceId:
                        type: string
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - products
                - kind
                type: object
              - properties:
                  kind:
                    pattern: ^order.subscription.streaming$
                  subscription:
                    additionalProperties: false
                    properties:
                      duration:
                        minimum: 1
                        type: integer
                      geofence:
                        $schema: http://json-schema.org/draft-06/schema#
                        definitions:
                          multiPolygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - MultiPolygon
                            type: object
                          polygonAoi:
                            properties:
                              coordinates:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              type:
                                enum:
                                - Polygon
                            type: object
                        description: aoi definition
                        id: http://local/schemas/public/aoi.json#
                        oneOf:
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    type: number
                                  maxItems: 2
                                  minItems: 2
                                  type: array
                                minItems: 4
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - Polygon
                          type: object
                        - properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - MultiPolygon
                          type: object
                        title: aoi
                        type: object
                      monthlyPrice:
                        type: number
                      paymentModality:
                        enum:
                        - monthly
                        - full
                      startedAt:
                        description: ISO 8061 Notation
                        pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                        type: string
                      streamingPlan:
                        pattern: ^custom$
                      tileAmount:
                        type: integer
                      title:
                        type: string
                      type:
                        pattern: ^view$
                    required:
                    - type
                    - duration
                    - paymentModality
                    - tileAmount
                    - monthlyPrice
                    - streamingPlan
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - subscription
                - kind
                type: object
              - properties:
                  kind:
                    pattern: ^order.subscription.change-detection$
                  subscription:
                    additionalProperties: false
                    properties:
                      aoi:
                        properties:
                          coordinates:
                            items:
                              items:
                                items:
                                  type: number
                                maxItems: 2
                                minItems: 2
                                type: array
                              minItems: 4
                              type: array
                            minItems: 1
                            type: array
                          type:
                            enum:
                            - Polygon
                        type: object
                      duration:
                        enum:
                        - 3
                        - 6
                        - 12
                      frequency:
                        enum:
                        - monthly
                      resolution:
                        enum:
                        - 0.5
                        - 1.5
                      startedAt:
                        description: ISO 8061 Notation
                        pattern: \s*[0-9]{4}-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01])\s*
                        type: string
                      title:
                        type: string
                      type:
                        pattern: ^change-detection$
                    required:
                    - aoi
                    - type
                    - resolution
                    - duration
                    type: object
                  tags:
                    items:
                      pattern: ^[a-zA-Z]+$
                      type: string
                    type: array
                required:
                - subscription
                - kind
                type: object
              title: Orders
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-06/schema#
                description: Orders api
                id: http://local/schemas/public/orders.json
                oneOf:
                - properties:
                    kind:
                      pattern: ^order.product$
                    products:
                      oneOf:
                      - required:
                        - sourceId
                        - aoi
                        - productType
                        - radiometricProcessing
                        - imageFormat
                        - crsCode
                      - required:
                        - id
                        - aoi
                        - productType
                        - radiometricProcessing
                        - imageFormat
                        - crsCode
                      properties:
                        aoi:
                          $schema: http://json-schema.org/draft-06/schema#
                          definitions:
                            multiPolygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        items:
                                          type: number
                                        maxItems: 2
                                        minItems: 2
                                        type: array
                                      minItems: 4
                                      type: array
                                    minItems: 1
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - MultiPolygon
                              type: object
                            polygonAoi:
                              properties:
                                coordinates:
                                  items:
                                    items:
                                      items:
                                        type: number
                                      maxItems: 2
                                      minItems: 2
                                      type: array
                                    minItems: 4
                                    type: array
                                  minItems: 1
                                  type: array
                                type:
                                  enum:
                                  - Polygon
                              type: object
                          description: aoi definition
                          id: http://local/schemas/public/aoi.json#
                          properties:
                            coordinates:
                              items:
                                items:
                                  items:
                                    items:
                                      type: number
                                    maxItems: 2
                                    minItems: 2
                                    type: array
                                  minItems: 4
                                  type: array
                                minItems: 1
                                type: array
                              minItems: 1
                              type: array
                            type:
                              enum:
                              - MultiPolygon
[...]
