openapi: 3.2.0
info:
  title: Airbus Oneatlas Accounting/balance API
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: 'Operations tagged accounting/balance across 2 of this provider''s published API definitions: airbus-oneatlas-worlddem-api-openapi.yml, oneatlas-worlddem-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Elevation
security:
- basicAuth: []
tags:
- name: accounting/balance
  description: 'Allows users to query their current balance.

    '
paths:
  /accounting/balance:
    get:
      summary: Get the Balance
      tags:
      - accounting/balance
      responses:
        '200':
          description: balance object(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - description: Balance information
                    type: object
                    properties:
                      units:
                        description: the different available currencies
                        type: string
                        enum:
                        - EUR
                        - CREDITS
                        - USD
                      amount_max:
                        type: number
                        example: 10000
                        description: sum of pay_ins
                      amount_consumed:
                        type: number
                        example: -5729.42
                        description: sum of all orders
                      amount_available:
                        type: number
                        example: 4270.58
                        description: The available limit of potential new orders
                    required:
                    - units
                    - amount_max
                    - amount_consumed
                    - amount_available
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
    servers:
    - url: https://sar.api.oneatlas.airbus.com/v1
      description: OneAtlas - Elevation
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- airbus-oneatlas-worlddem-api-openapi.yml
- oneatlas-worlddem-api-openapi.yml
