openapi: 3.2.0
info:
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  title: OneAtlas Data Living Library Payments API
  description: OneAtlas Data Living Library is a platform that provides users with access to a diverse range of geospatial data and satellite imagery.
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
tags:
- name: Payments
paths:
  /api/v1/payments/{paymentId}/refunds:
    parameters:
    - $ref: '#/components/parameters/paymentId'
    - $ref: '#/components/parameters/page'
    - $ref: '#/components/parameters/itemsPerPage'
    get:
      description: Get refunded payments by payment id
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-06/schema#
                additionalProperties: true
                id: http://local/schemas/private/payments.json#
                properties:
                  contractId:
                    type: string
                  createdAt:
                    type: string
                  creditAmount:
                    type: integer
                  description:
                    type: string
                  id:
                    type: string
                  orderId:
                    type: string
                  subscriptionId:
                    type: string
                  type:
                    enum:
                    - payment
                    - refund
                    - credit
                    type: string
                title: Payment schema
                type: object
          description: payment
      summary: Get Refunded Payments
      tags:
      - Payments
      operationId: getApiV1PaymentsByPaymentIdRefunds
      x-operation-id-source: derived
components:
  parameters:
    page:
      description: Page number, defaults to '1'
      in: query
      name: page
      schema:
        minimum: 1
        type: number
    paymentId:
      description: The payment id
      in: path
      name: paymentId
      required: true
      schema:
        type: string
    itemsPerPage:
      description: Amount of items per page, defaults to '10'
      in: query
      name: itemsPerPage
      schema:
        minimum: 1
        type: number
x-tagGroups:
- name: Authentication
  tags:
  - APIkey management
  - Token retrieval
- name: Catalog search
  tags:
  - Catalog search
- name: Living Library ordering
  tags:
  - Orders
  - Subscriptions
