openapi: 3.2.0
info:
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  title: OneAtlas Data Living Library Convert API
  description: OneAtlas Data Living Library is a platform that provides users with access to a diverse range of geospatial data and satellite imagery. The library is constantly updated with the latest data, ensuring that users have access to accurate and timely information for their projects. Users can easily search for and find the data they need, whether it be for environmental monitoring, urban planning, agriculture, or any other application. The platform also offers tools for analysis and visualization, allowing users to derive insights and make informed decisions based on the data they have access to. Overall, OneAtlas Data Living Library is a valuable resource for anyone looking to harness the power of geospatial data for their work.
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
tags:
- name: Convert
paths:
  /api/v1/convert:
    post:
      description: Convert input file in geojson format.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json'
          application/vnd.geo+json:
            schema:
              $ref: '#/components/schemas/GeojsonGeometry'
          application/vnd.google-earth.kml+xml:
            schema:
              $ref: '#/components/schemas/kml'
          application/vnd.google-earth.kmz:
            schema:
              $ref: '#/components/schemas/kmz'
          application/zip:
            schema:
              $ref: '#/components/schemas/geoshape'
        description: Request to convert geometries to geojson format
      responses:
        '200':
          content:
            application/vnd.geo+json:
              schema:
                $ref: '#/components/schemas/GeojsonGeometry'
            multipart/related:
              schema:
                $ref: '#/components/schemas/multipart'
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: To Geojson
      tags:
      - Convert
components:
  schemas:
    kmz:
      description: A geometry in kmz format. Is a zip containing kml file and associated files.
      format: binary
    multipart:
      description: 'First part: the equivalent vector file in geojson format.


        Second part: metadata about the vector file.

        '
      format: multipart/related
    json:
      description: A json representing a file in a Google Cloud Storage bucket. The appropriate content type must be set in Google Cloud Storage
      example:
        gcsUri: gs://bucket-name/path/to/file.kmz
      format: json
    geoshape:
      description: A geometry in shape format. Is a zip containing a .shp files and associated files.
      format: binary
    Id:
      description: Unique Id of an element. Follows UUID v4 standard.
      example: d1c80fd9-ddf6-4f6a-b6dc-4c8e60be61e8
      format: uuid
      readOnly: true
      type: string
    ApiError:
      properties:
        correlationId:
          $ref: '#/components/schemas/Id'
        hint:
          type: string
        internalCode:
          example: 400
          format: integer
          type: number
        message:
          type: string
        timestamp:
          description: Number of seconds since 01/01/1970
          example: 1530088354390
          format: integer
          type: number
      type: object
    kml:
      description: A geometry in kml format
      format: binary
    GeojsonGeometry:
      externalDocs:
        url: http://geojson.org/geojson-spec.html#geometry-objects
      properties:
        geometry:
          description: A valid geojson geometry coordinates
          type: object
        type:
          enum:
          - Polygon
      type: object
  responses:
    '401':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: User is not authenticated
    '500':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Internal server error
    '400':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Bad request
x-tagGroups:
- name: Authentication
  tags:
  - APIkey management
  - Token retrieval
- name: Catalog search
  tags:
  - Catalog search
- name: Living Library ordering
  tags:
  - Orders
  - Subscriptions
