openapi: 3.2.0
info:
  title: Airbus Oneatlas APIkey management API
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  version: '1.0'
  description: 'Operations tagged APIkey management across 3 of this provider''s published API definitions: oneatlas-data-living-library-openapi.yml, oneatlas-data-pay-per-order-api-openapi.yml, oneatlas-data-pay-per-order-tasking-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
- description: API server
  url: https://order.api.oneatlas.airbus.com
tags:
- name: APIkey management
paths:
  /apikeys:
    servers:
    - description: Prod authenticate server
      url: https://authenticate.foundation.api.oneatlas.airbus.com/api/v1
    get:
      description: Returns the list of authenticated or impersonated user's apikeys
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyPage'
          description: A page containing the api keys information
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      summary: Returns the List of Authenticated or Impersonated User's Apikeys
      tags:
      - APIkey management
    post:
      description: Create a new API Key attached to the authenticated or impersonated user
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: A JSON payload describing the created API Key. The 'secret' field should be populated in the response.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      summary: Create a New API Key Attached to the Authenticated or Impersonated User
      tags:
      - APIkey management
  /apikeys/{apikey_id}:
    delete:
      description: Delete a User's API Key
      parameters:
      - description: id of the API Key to delete
        in: path
        name: apikey_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HumanReadableOperationSummary'
          description: A summary of the operation
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      summary: Delete a User's API Key
      tags:
      - APIkey management
      servers:
      - description: Prod authenticate server
        url: https://authenticate.foundation.api.oneatlas.airbus.com/api/v1
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
components:
  schemas:
    HumanReadableOperationSummary:
      properties:
        message:
          description: Human readable summary of the operation execution
          type: string
      type: object
    ApiKey:
      properties:
        date:
          description: API key creation date in ISO 8601 format
          type: string
        description:
          description: A free-text human readable description of this API key
          type: string
        expirationDate:
          description: API key expiration date in ISO 8601 format
          type: string
        id:
          description: API Key identifier
          type: string
        secret:
          description: The API Key secret to be used to retrieve acces tokens. This field is only provided once, then the client should store this information in a secure place.
          type: string
      required:
      - id
      - description
      - date
      - expirationDate
      type: object
    ApiKeyPage:
      properties:
        items:
          description: API Keys
          items:
            $ref: '#/components/schemas/ApiKey'
          type: array
      type: object
  responses:
    UnauthorizedError:
      content:
        application/json:
          schema:
            type: string
      description: API key is missing or invalid
      headers:
        WWW-Authenticate:
          schema:
            type: string
x-refined-from:
- oneatlas-data-living-library-openapi.yml
- oneatlas-data-pay-per-order-api-openapi.yml
- oneatlas-data-pay-per-order-tasking-api-openapi.yml
