openapi: 3.2.0
info:
  title: Airbus Oneatlas Elevation/orders API
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: 'Operations tagged elevation/orders across 2 of this provider''s published API definitions: airbus-oneatlas-worlddem-api-openapi.yml, oneatlas-worlddem-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Elevation
security:
- basicAuth: []
tags:
- name: elevation/orders
  description: "All operations needed to order DEM data:\n  * place orders\n  * show placed orders\n  * download purchased data\n"
paths:
  /elevation/orders:
    post:
      summary: Create New Order
      tags:
      - elevation/orders
      requestBody:
        description: Data to be ordered. Multiple items can be placed in the "items" part. After requesting a price, the response can be sent to order data. Instead of requesting a price first, it is possible to set min-/max-Filter to avoid orders that exceed those limits.
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
              - type: object
                required:
                - items
                - kind
                properties:
                  kind:
                    type: string
                    enum:
                    - order.item
                    - order
                  title:
                    type: string
                    maxLength: 32
                    pattern: ^([a-zA-Z0-9 _-]{0,32})$
                    description: user defined title of an order to ease the identification of an order (max. 32 characters)
                    example: Friedrichshafen
                  customer:
                    type: string
                    description: name of the user's end customer (only relevant for resellers)
                    example: Airbus Intelligence Germany
                  items:
                    type: array
                    required:
                    - itemType
                    items:
                      type: object
                      required:
                      - aoi
                      - itemType
                      properties:
                        crsCode:
                          type: string
                          example: urn:ogc:def:crs:EPSG::4326
                        itemFormat:
                          type: string
                          description: output format for area (GeoJSON only for Point, GeoTIFF only for Polygon)
                          enum:
                          - GeoTIFF
                          - GeoJSON
                        itemType:
                          type: string
                          enum:
                          - dem.wddsm
                          - dem.wd4o
                          - dem.wddtmlite
                          - dem.wdneo
                          - dem.wd30
                          - dem.wdneodtm
                        aoi:
                          oneOf:
                          - description: The GeoJSON Point
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: Point
                                enum:
                                - Point
                              coordinates:
                                description: Basic geometry type describing longitude and latitude
                                type: array
                                minItems: 2
                                items:
                                  type: number
                                example:
                                - 9.3
                                - 47.7
                          - description: The GeoJSON MultiPoint (currently **not implemented**)
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiPoint
                                enum:
                                - MultiPoint
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: Basic geometry type describing longitude and latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                  - 9.3
                                  - 47.7
                          - description: The GeoJSON Polygon
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: Polygon
                                enum:
                                - Polygon
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: Closed ring of four or more positions. First and last position must be identical.
                                  type: array
                                  minItems: 4
                                  items:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                                  example:
                                  - - 9.3
                                    - 47.7
                                  - - 9.3
                                    - 47.2
                                  - - 9.5
                                    - 47.2
                                  - - 9.5
                                    - 47.7
                                  - - 9.3
                                    - 47.7
                          - description: The GeoJSON MultiPolygon
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiPolygon
                                enum:
                                - MultiPolygon
                              coordinates:
                                type: array
                                minItems: 1
                                example:
                                - - - 9.3
                                    - 47.7
                                  - - 9.4
                                    - 47.7
                                  - - 9.4
                                    - 47.65
                                  - - 9.3
                                    - 47.7
                                items:
                                  type: array
                                  minItems: 1
                                  items:
                                    description: Closed ring of four or more positions. First and last position must be identical.
                                    type: array
                                    minItems: 4
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                                    example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.3
                                      - 47.2
                                    - - 9.5
                                      - 47.2
                                    - - 9.5
                                      - 47.7
                                    - - 9.3
                                      - 47.7
                          - description: The GeoJSON LineString (currently **not implemented**)
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: LineString
                                enum:
                                - LineString
                              coordinates:
                                description: String of connected positions
                                type: array
                                minItems: 2
                                items:
                                  description: Basic geometry type describing longitude and latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                  - 9.3
                                  - 47.7
                                example:
                                - - 9.3
                                  - 47.7
                                - - 9.5
                                  - 47.2
                          - description: The GeoJSON MultiLineString (currently **not implemented**)
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiLineString
                                enum:
                                - MultiLineString
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: String of connected positions
                                  type: array
                                  minItems: 2
                                  items:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                                  example:
                                  - - 9.3
                                    - 47.7
                                  - - 9.5
                                    - 47.2
                          example:
                            type: Polygon
                            coordinates:
                            - - - 9.3
                                - 47.7
                              - - 9.4
                                - 47.7
                              - - 9.4
                                - 47.65
                              - - 9.3
                                - 47.7
              - description: order object with price included
                allOf:
                - type: object
                  required:
                  - kind
                  - items
                  - price
                  - billableAreaKm2
                  properties:
                    kind:
                      type: string
                      enum:
                      - order.item
                      - order
                    title:
                      type: string
                      maxLength: 32
                      pattern: ^([a-zA-Z0-9 _-]{0,32})$
                      description: user defined title of an order to ease the identification of an order (max. 32 characters)
                      example: Friedrichshafen
                    customer:
                      type: string
                      description: name of the user's end customer (only relevant for resellers)
                      example: Airbus Intelligence Germany
                    items:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - aoi
                          - itemType
                          properties:
                            crsCode:
                              type: string
                              example: urn:ogc:def:crs:EPSG::4326
                            itemFormat:
                              type: string
                              description: output format for area (GeoJSON only for Point, GeoTIFF only for Polygon)
                              enum:
                              - GeoTIFF
                              - GeoJSON
                            itemType:
                              type: string
                              enum:
                              - dem.wddsm
                              - dem.wd4o
                              - dem.wddtmlite
                              - dem.wdneo
                              - dem.wd30
                              - dem.wdneodtm
                            aoi:
                              oneOf:
                              - description: The GeoJSON Point
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Point
                                    enum:
                                    - Point
                                  coordinates:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                              - description: The GeoJSON MultiPoint (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPoint
                                    enum:
                                    - MultiPoint
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                              - description: The GeoJSON Polygon
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Polygon
                                    enum:
                                    - Polygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Closed ring of four or more positions. First and last position must be identical.
                                      type: array
                                      minItems: 4
                                      items:
                                        description: Basic geometry type describing longitude and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                        - 9.3
                                        - 47.7
                                      example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.3
                                        - 47.2
                                      - - 9.5
                                        - 47.2
                                      - - 9.5
                                        - 47.7
                                      - - 9.3
                                        - 47.7
                              - description: The GeoJSON MultiPolygon
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPolygon
                                    enum:
                                    - MultiPolygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    example:
                                    - - - 9.3
                                        - 47.7
                                      - - 9.4
                                        - 47.7
                                      - - 9.4
                                        - 47.65
                                      - - 9.3
                                        - 47.7
                                    items:
                                      type: array
                                      minItems: 1
                                      items:
                                        description: Closed ring of four or more positions. First and last position must be identical.
                                        type: array
                                        minItems: 4
                                        items:
                                          description: Basic geometry type describing longitude and latitude
                                          type: array
                                          minItems: 2
                                          items:
                                            type: number
                                          example:
                                          - 9.3
                                          - 47.7
                                        example:
                                        - - 9.3
                                          - 47.7
                                        - - 9.3
                                          - 47.2
                                        - - 9.5
                                          - 47.2
                                        - - 9.5
                                          - 47.7
                                        - - 9.3
                                          - 47.7
                              - description: The GeoJSON LineString (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: LineString
                                    enum:
                                    - LineString
                                  coordinates:
                                    description: String of connected positions
                                    type: array
                                    minItems: 2
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                                    example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.5
                                      - 47.2
                              - description: The GeoJSON MultiLineString (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiLineString
                                    enum:
                                    - MultiLineString
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: String of connected positions
                                      type: array
                                      minItems: 2
                                      items:
                                        description: Basic geometry type describing longitude and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                        - 9.3
                                        - 47.7
                                      example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.5
                                        - 47.2
                              example:
                                type: Polygon
                                coordinates:
                                - - - 9.3
                                    - 47.7
                                  - - 9.4
                                    - 47.7
                                  - - 9.4
                                    - 47.65
                                  - - 9.3
                                    - 47.7
                        - type: object
                          required:
                          - price
                          - areaKm2
                          - billableAreaKm2
                          properties:
                            price:
                              description: Price information
                              type: object
                              required:
                              - amountUnit
                              - amount
                              - amountPerKm2
                              properties:
                                amountUnit:
                                  type: string
                                  enum:
                                  - EUR
                                  - CREDITS
                                  - USD
                                amount:
                                  type: number
                                  example: 83.4
                                amountPerKm2:
                                  type: number
                                  example: 4
                            areaKm2:
                              type: number
                              example: 20.85
                              description: area in km� of AOI
                            billableAreaKm2:
                              type: number
                              example: 15.23
                              description: area (in km�) of AOI with elevation information available and therefore billable
                            discounts:
                              type: object
                              properties:
                                reseller:
                                  allOf:
                                  - description: The reseller discount granted for being a reseller
                                  - type: object
                                    properties:
                                      basePrice:
                                        allOf:
                                        - description: The base price this discount uses for calculations
                                        - description: Price information
                                          type: object
                                          required:
                                          - amountUnit
                                          - amount
                                          - amountPerKm2
                                          properties:
                                            amountUnit:
                                              type: string
                                              enum:
                                              - EUR
                                              - CREDITS
                                              - USD
                                            amount:
                                              type: number
                                              example: 83.4
                                            amountPerKm2:
                                              type: number
                                              example: 4
                                      percentage:
                                        description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                        minimum: 0
                                        maximum: 100
                                        type: number
                                        example: 34.56
                                      amount:
                                        description: The amount which will be deducted from the basePrice amount
                                        type: number
                                        maximum: 0
                                        example: -123.45
                                      amountPerKm2:
                                        description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                        type: number
                                        maximum: 0
                                        example: -0.5
                                      amountUnit:
                                        type: string
                                        enum:
                                        - EUR
                                        - CREDITS
                                        - USD
                                volume:
                                  allOf:
                                  - description: The volume discount granted depending on the item area
                                  - allOf:
                                    - type: object
                                      properties:
                                        basePrice:
                                          allOf:
                                          - description: The base price this discount uses for calculations
                                          - description: Price information
                                            type: object
                                            required:
                                            - amountUnit
                                            - amount
                                            - amountPerKm2
                                            properties:
                                              amountUnit:
                                                type: string
                                                enum:
                                                - EUR
                                                - CREDITS
                                                - USD
                                              amount:
                                                type: number
                                                example: 83.4
                                              amountPerKm2:
                                                type: number
                                                example: 4
                                        percentage:
                                          description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                          minimum: 0
                                          maximum: 100
                                          type: number
                                          example: 34.56
                                        amount:
                                          description: The amount which will be deducted from the basePrice amount
                                          type: number
                                          maximum: 0
                                          example: -123.45
                                        amountPerKm2:
                                          description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                          type: number
                                          maximum: 0
                                          example: -0.5
                                        amountUnit:
                                          type: string
                                          enum:
                                          - EUR
                                          - CREDITS
                                          - USD
                                    - type: object
                                      properties:
                                        nextDiscount:
                                          description: The next possible discount
                                          allOf:
                                          - type: object
                                            properties:
                                              basePrice:
                                                allOf:
                                                - description: The base price this discount uses for calculations
                                                - description: Price information
                                                  type: object
                                                  required:
                                                  - amountUnit
                                                  - amount
                                                  - amountPerKm2
                                                  properties:
                                                    amountUnit:
                                                      type: string
                                                      enum:
                                                      - EUR
                                                      - CREDITS
                                                      - USD
                                                    amount:
                                                      type: number
                                                      example: 83.4
                                                    amountPerKm2:
                                                      type: number
                                                      example: 4
                                              percentage:
                                                description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                                minimum: 0
                                                maximum: 100
                                                type: number
                                                example: 34.56
                                              amount:
                                                description: The amount which will be deducted from the basePrice amount
                                                type: number
                                                maximum: 0
                                                example: -123.45
                                              amountPerKm2:
                                                description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                                type: number
                                                maximum: 0
                                                example: -0.5
                                              amountUnit:
                                                type: string
                                                enum:
                                                - EUR
                                                - CREDITS
                                                - USD
                                          - type: object
                                            properties:
                                              missingKm2:
                                                description: The missing billable km� for the next discount to be reached
                                                type: number
                                                example: '1234.45'
                                total:
                                  allOf:
                                  - description: The total discount applied (which is the sum of all other discounts)
                                  - type: object
                                    properties:
                                      basePrice:
                                        allOf:
                                        - description: The base price this discount uses for calculations
                                        - description: Price information
                                          type: object
                                          required:
                                          - amountUnit
                                          - amount
                                          - amountPerKm2
                                          properties:
                                            amountUnit:
                                              type: string
                                              enum:
                                              - EUR
                                              - CREDITS
                                              - USD
                                            amount:
                                              type: number
                                              example: 83.4
                                            amountPerKm2:
                                              type: number
                                              example: 4
                                      percentage:
                                        description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                        minimum: 0
                                        maximum: 100
                                        type: number
                                        example: 34.56
                                      amount:
                                        description: The amount which will be deducted from the basePrice amount
                                        type: number
                                        maximum: 0
                                        example: -123.45
                                      amountPerKm2:
                                        description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                        type: number
                                        maximum: 0
                                        example: -0.5
                                      amountUnit:
                                        type: string
                                        enum:
                                        - EUR
                                        - CREDITS
                                        - USD
                    areaKm2:
                      type: number
                      example: 20.85
                      description: area in km� of AOI
                    billableAreaKm2:
                      type: number
                      example: 15.23
                      description: area (in km�) of AOI with elevation information available and therefore billable
                    price:
                      description: Price information
                      type: object
                      required:
                      - amountUnit
                      - amount
                      properties:
                        amountUnit:
                          type: string
                          enum:
                          - EUR
                          - CREDITS
                          - USD
                        amount:
                          type: number
                          example: 83.4
                    orderable:
                      type: boolean
                      example: true
              - description: order request using at least one filter
                allOf:
                - type: object
                  required:
                  - items
                  - kind
                  properties:
                    kind:
                      type: string
                      enum:
                      - order.item
                      - order
                    title:
                      type: string
                      maxLength: 32
                      pattern: ^([a-zA-Z0-9 _-]{0,32})$
                      description: user defined title of an order to ease the identification of an order (max. 32 characters)
                      example: Friedrichshafen
                    customer:
                      type: string
                      description: name of the user's end customer (only relevant for resellers)
                      example: Airbus Intelligence Germany
                    items:
                      type: array
                      required:
                      - itemType
                      items:
                        type: object
                        required:
                        - aoi
                        - itemType
                        properties:
                          crsCode:
                            type: string
                            example: urn:ogc:def:crs:EPSG::4326
                          itemFormat:
                            type: string
                            description: output format for area (GeoJSON only for Point, GeoTIFF only for Polygon)
                            enum:
                            - GeoTIFF
                            - GeoJSON
                          itemType:
                            type: string
                            enum:
                            - dem.wddsm
                            - dem.wd4o
                            - dem.wddtmlite
                            - dem.wdneo
                            - dem.wd30
                            - dem.wdneodtm
                          aoi:
                            oneOf:
                            - description: The GeoJSON Point
                              type: object
                              required:
                              - type
                              - coordinates
                              properties:
                                type:
                                  type: string
                                  example: Point
                                  enum:
                                  - Point
                                coordinates:
                                  description: Basic geometry type describing longitude and latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                  - 9.3
                                  - 47.7
                            - description: The GeoJSON MultiPoint (currently **not implemented**)
                              type: object
                              required:
                              - type
                              - coordinates
                              properties:
                                type:
                                  type: string
                                  example: MultiPoint
                                  enum:
                                  - MultiPoint
                                coordinates:
                                  type: array
                                  minItems: 1
                                  items:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                            - description: The GeoJSON Polygon
                              type: object
                              required:
                              - type
                              - coordinates
                              properties:
                                type:
                                  type: string
                                  example: Polygon
                                  enum:
                                  - Polygon
                                coordinates:
                                  type: array
                                  minItems: 1
                                  items:
                                    description: Closed ring of four or more positions. First and last position must be identical.
                                    type: array
                                    minItems: 4
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                                    example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.3
                                      - 47.2
                                    - - 9.5
                                      - 47.2
                                    - - 9.5
                                      - 47.7
                                    - - 9.3
                                      - 47.7
                            - description: The GeoJSON MultiPolygon
                              type: object
                              required:
                              - type
                              - coordinates
                              properties:
                                type:
                                  type: string
                                  example: MultiPolygon
                                  enum:
                                  - MultiPolygon
                                coordinates:
                                  type: array
                                  minItems: 1
                                  example:
                                  - - - 9.3
                                      - 47.7
                                    - - 9.4
                                      - 47.7
                                    - - 9.4
                                      - 47.65
                                    - - 9.3
                                      - 47.7
                                  items:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Closed ring of four or more positions. First and last position must be identical.
                                      type: array
                                      minItems: 4
                                      items:
                                        description: Basic geometry type describing longitude and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                        - 9.3
                                        - 47.7
                                      example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.3
                                        - 47.2
                                      - - 9.5
                                        - 47.2
                                      - - 9.5
                                        - 47.7
                                      - - 9.3
                                        - 47.7
                            - description: The GeoJSON LineString (currently **not implemented**)
                              type: object
                              required:
                              - type
                              - coordinates
                              properties:
                                type:
                                  type: string
                                  example: LineString
                                  enum:
                                  - LineString
                                coordinates:
                                  description: String of connected positions
                                  type: array
                                  minItems: 2
                                  items:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                                  example:
                                  - - 9.3
                                    - 47.7
                                  - - 9.5
                                    - 47.2
                            - description: The GeoJSON MultiLineString (currently **not implemented**)
                              type: object
                              required:
                              - type
                              - coordinates
                              properties:
                                type:
                                  type: string
                                  example: MultiLineString
                                  enum:
                                  - MultiLineString
                                coordinates:
                                  type: array
                                  minItems: 1
                                  items:
                                    description: String of connected positions
                                    type: array
                                    minItems: 2
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                                    example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.5
                                      - 47.2
                            example:
                              type: Polygon
                              coordinates:
                              - - - 9.3
                                  - 47.7
                                - - 9.4
                                  - 47.7
                                - - 9.4
                                  - 47.65
                                - - 9.3
                                  - 47.7
                - anyOf:
                  - type: object
                    properties:
                      maxArea:
                        type: number
                        description: the order will only be placed if the actual billable area is smaller than specified. Unit in square km.
                        example: 42
                  - type: object
                    properties:
                      minArea:
                        type: number
                        description: the order will only be placed if the actual billable area is bigger than specified. Unit in square km.
                        example: 24
                  - allOf:
                    - description: Price information
                      type: object
                      required:
                      - amountUnit
                      - amount
                      properties:
                        amountUnit:
                          type: string
                          enum:
                          - EUR
                          - CREDITS
                          - USD
                        amount:
                          type: number
                          example: 83.4
                    - description: the order will only be placed if the actual price is below the one specified here.
              example:
                kind: order.item
                title: City of Friedrichshafen
                items:
                - crsCode: urn:ogc:def:crs:EPSG::4326
                  itemFormat: GeoTIFF
                  itemType: dem.wdneo
                  aoi:
                    type: Polygon
                    coordinates:
                    - - - 9.3
                        - 47.7
                      - - 9.4
                        - 47.7
                      - - 9.4
                        - 47.65
                      - - 9.3
                        - 47.7
                  price:
                    amountUnit: EUR
                    amount: 83.4
                  areaKm2: 20.85
                  billableAreaKm2: 15.23
                areaKm2: 20.85
                billableAreaKm2: 15.23
                price:
                  amountUnit: EUR
                  amount: 83.4
                orderable: true
      responses:
        '200':
          description: id of and link to the order
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    example: b9071d6c-b275-4929-8ba1-eefb013abc5f
                  self:
                    type: object
                    properties:
                      href:
                        type: string
                        example: /orders/b9071d6c-b275-4929-8ba1-eefb013abc5f/
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
    get:
      summary: Get All Orders as References
      tags:
      - elevation/orders
      responses:
        '200':
          description: array containing the id of and link to the orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                      example: b9071d6c-b275-4929-8ba1-eefb013abc5f
                    order:
                      type: object
                      properties:
                        href:
                          type: string
                          example: /orders/b9071d6c-b275-4929-8ba1-eefb013abc5f/
                    self:
                      type: object
                      properties:
                        href:
                          type: string
                          example: /orders/b9071d6c-b275-4929-8ba1-eefb013abc5f/
                      deprecated: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
    servers:
    - url: https://sar.api.oneatlas.airbus.com/v1
      description: OneAtlas - Elevation
  /elevation/orders/full:
    get:
      summary: Get All Orders
      tags:
      - elevation/orders
      responses:
        '200':
          description: array containing the all full orders
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - order
                      title:
                        type: string
                        maxLength: 32
                        pattern: ^([a-zA-Z0-9 _-]{0,32})$
                        description: user defined title of an order to ease the identification of an order (max. 32 characters)
                        example: Friedrichshafen
                      customer:
                        type: string
                        description: name of the user's end customer (only relevant for resellers)
                        example: Airbus Intelligence Germany
                      areaKm2:
                        type: number
                        example: 20.85
                        description: area in km� of AOI
                      billableAreaKm2:
                        type: number
                        example: 15.23
                        description: area (in km�) of AOI with elevation information available and therefore billable
                      price:
                        description: Price information
                        type: object
                        properties:
                          amountUnit:
                            type: string
                            enum:
                            - EUR
                            - CREDITS
                            - USD
                          amount:
                            type: number
                            example: 83.4
                      createdAt:
                        type: string
                        example: '2020-07-27T16:07:23.308Z'
                      createdBy:
                        type: string
                        example: 0e203d66-578a-4661-9b40-ccf87a80e6a1
                      id:
                        type: string
                        format: uuid
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        example: 11186097-2e15-4f3a-abb1-0ed4ac3bb57f
                      crsCode:
                        type: string
                        example: urn:ogc:def:crs:EPSG::4326
                        deprecated: true
                      itemFormat:
                        type: string
                        example: GeoTIFF
                        deprecated: true
                      itemType:
                        type: string
                        example: dem.wdneo
                        deprecated: true
                      status:
                        type: string
                        example: ready
                        deprecated: true
                      aoi:
                        allOf:
                        - oneOf:
                          - description: The GeoJSON Point
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: Point
                                enum:
                                - Point
                              coordinates:
                                description: Basic geometry type describing longitude and latitude
                                type: array
                                minItems: 2
                                items:
                                  type: number
                                example:
                                - 9.3
                                - 47.7
                          - description: The GeoJSON MultiPoint (currently **not implemented**)
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiPoint
                                enum:
                                - MultiPoint
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: Basic geometry type describing longitude and latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                  - 9.3
                                  - 47.7
                          - description: The GeoJSON Polygon
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: Polygon
                                enum:
                                - Polygon
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: Closed ring of four or more positions. First and last position must be identical.
                                  type: array
                                  minItems: 4
                                  items:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                                  example:
                                  - - 9.3
                                    - 47.7
                                  - - 9.3
                                    - 47.2
                                  - - 9.5
                                    - 47.2
                                  - - 9.5
                                    - 47.7
                                  - - 9.3
                                    - 47.7
                          - description: The GeoJSON MultiPolygon
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiPolygon
                                enum:
                                - MultiPolygon
                              coordinates:
                                type: array
                                minItems: 1
                                example:
                                - - - 9.3
                                    - 47.7
                                  - - 9.4
                                    - 47.7
                                  - - 9.4
                                    - 47.65
                                  - - 9.3
                                    - 47.7
                                items:
                                  type: array
                                  minItems: 1
                                  items:
                                    description: Closed ring of four or more positions. First and last position must be identical.
                                    type: array
                                    minItems: 4
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                                    example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.3
                                      - 47.2
                                    - - 9.5
                                      - 47.2
                                    - - 9.5
                                      - 47.7
                                    - - 9.3
                                      - 47.7
                          - description: The GeoJSON LineString (currently **not implemented**)
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: LineString
                                enum:
                                - LineString
                              coordinates:
                                description: String of connected positions
                                type: array
                                minItems: 2
                                items:
                                  description: Basic geometry type describing longitude and latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                  - 9.3
                                  - 47.7
                                example:
                                - - 9.3
                                  - 47.7
                                - - 9.5
                                  - 47.2
                          - description: The GeoJSON MultiLineString (currently **not implemented**)
                            type: object
                            required:
                            - type
                            - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiLineString
                                enum:
                                - MultiLineString
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: String of connected positions
                                  type: array
                                  minItems: 2
                                  items:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                                  example:
                                  - - 9.3
                                    - 47.7
                                  - - 9.5
                                    - 47.2
                          example:
                            type: Polygon
                            coordinates:
                            - - - 9.3
                                - 47.7
                              - - 9.4
                                - 47.7
                              - - 9.4
                                - 47.65
                              - - 9.3
                                - 47.7
                        - deprecated: true
                      _links:
                        type: object
                        properties:
                          item:
                            type: object
                            properties:
                              href:
                                type: string
                                example: /items/e332914b-3ee2-4881-b050-300352363124
                            deprecated: true
                          items:
                            type: object
                            properties:
                              href:
                                type: string
                                example: /orders/11186097-2e15-4f3a-abb1-0ed4ac3bb57f/items
                          order:
                            type: object
                            properties:
                              href:
                                type: string
                                example: /orders/11186097-2e15-4f3a-abb1-0ed4ac3bb57f
                            deprecated: true
                          orders:
                            type: object
                            properties:
                              href:
                                type: string
                                example: /orders
                          self:
                            type: object
                            properties:
                              href:
                                type: string
                                example: /orders/11186097-2e15-4f3a-abb1-0ed4ac3bb57f
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            _links:
                              type: object
                              properties:
                                download:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      example: /orders/11186097-2e15-4f3a-abb1-0ed4ac3bb57f/items/e332914b-3ee2-4881-b050-300352363124/download
                                items:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      example: /orders/11186097-2e15-4f3a-abb1-0ed4ac3bb57f/items
                                order:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      example: /orders/11186097-2e15-4f3a-abb1-0ed4ac3bb57f
                                orders:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      example: /orders
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      example: /orders/11186097-2e15-4f3a-abb1-0ed4ac3bb57f/items/e332914b-3ee2-4881-b050-300352363124
                            aoi:
                              oneOf:
                              - description: The GeoJSON Point
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Point
                                    enum:
                                    - Point
                                  coordinates:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                              - description: The GeoJSON MultiPoint (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPoint
                                    enum:
                                    - MultiPoint
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                              - description: The GeoJSON Polygon
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Polygon
                                    enum:
                                    - Polygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Closed ring of four or more positions. First and last position must be identical.
                                      type: array
                                      minItems: 4
                                      items:
                                        description: Basic geometry type describing longitude and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                        - 9.3
                                        - 47.7
                                      example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.3
                                        - 47.2
                                      - - 9.5
                                        - 47.2
                                      - - 9.5
                                        - 47.7
                                      - - 9.3
                                        - 47.7
                              - description: The GeoJSON MultiPolygon
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPolygon
                                    enum:
                                    - MultiPolygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    example:
                                    - - - 9.3
                                        - 47.7
                                      - - 9.4
                                        - 47.7
                                      - - 9.4
                                        - 47.65
                                      - - 9.3
                                        - 47.7
                                    items:
                                      type: array
                                      minItems: 1
                                      items:
                                        description: Closed ring of four or more positions. First and last position must be identical.
                                        type: array
                                        minItems: 4
                                        items:
                                          description: Basic geometry type describing longitude and latitude
                                          type: array
                                          minItems: 2
                                          items:
                                            type: number
                                          example:
                                          - 9.3
                                          - 47.7
                                        example:
                                        - - 9.3
                                          - 47.7
                                        - - 9.3
                                          - 47.2
                                        - - 9.5
                                          - 47.2
                                        - - 9.5
                                          - 47.7
                                        - - 9.3
                                          - 47.7
                              - description: The GeoJSON LineString (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: LineString
                                    enum:
                                    - LineString
                                  coordinates:
                                    description: String of connected positions
                                    type: array
                                    minItems: 2
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                                    example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.5
                                      - 47.2
                              - description: The GeoJSON MultiLineString (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiLineString
                                    enum:
                                    - MultiLineString
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: String of connected positions
                                      type: array
                                      minItems: 2
                                      items:
                                        description: Basic geometry type describing longitude and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                        - 9.3
                                        - 47.7
                                      example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.5
                                        - 47.2
                              example:
                                type: Polygon
                                coordinates:
                                - - - 9.3
                                    - 47.7
                                  - - 9.4
                                    - 47.7
                                  - - 9.4
                                    - 47.65
                                  - - 9.3
                                    - 47.7
                            areaKm2:
                              type: number
                              example: 20.85
                              description: area in km� of AOI
                            billableAreaKm2:
                              type: number
                              example: 15.23
                              description: area (in km�) of AOI with elevation information available and therefore billable
                            price:
                              description: Price information
                              type: object
                              properties:
                                amountUnit:
                                  type: string
                                  enum:
                                  - EUR
                                  - CREDITS
                                  - USD
                                amount:
                                  type: number
                                  example: 83.4
                                amountPerKm2:
                                  type: number
                                  example: 4
                            createdAt:
                              type: string
                              example: '2020-07-27T16:07:23.308Z'
                            createdBy:
                              type: string
                              format: uuid
                              pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                              example: 0e203d66-578a-4661-9b40-ccf87a80e6a1
                            crsCode:
                              type: string
                              example: urn:ogc:def:crs:EPSG::4326
                            orderId:
                              type: string
                              format: uuid
                              pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                              example: 11186097-2e15-4f3a-abb1-0ed4ac3bb57f
                            itemId:
                              type: string
                              format: uuid
                              pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                              example: e332914b-3ee2-4881-b050-300352363124
                            orderItemId:
                              type: number
                              description: Item Number
                              example: 1
                            itemFormat:
                              type: string
                              example: GeoTIFF
                            itemType:
                              type: string
                              example: dem.wdneo
                            kind:
                              type: string
                              enum:
                              - order.item
                            status:
                              type: string
                              example: ready
                            customer:
                              type: string
                              description: name of the user's end customer (only relevant for resellers)
                              example: Airbus Intelligence Germany
                            discounts:
                              type: object
                              properties:
                                reseller:
                                  allOf:
                                  - description: The reseller discount granted for being a reseller
                                  - type: object
                                    properties:
                                      basePrice:
                                        allOf:
                                        - description: The base price this discount uses for calculations
                                        - description: Price information
                                          type: object
                                          required:
                                          - amountUnit
                                          - amount
                                          - amountPerKm2
                                          properties:
                                            amountUnit:
                                              type: string
                                              enum:
                                              - EUR
                                              - CREDITS
                                              - USD
                                            amount:
                                              type: number
                                              example: 83.4
                                            amountPerKm2:
                                              type: number
                                              example: 4
                                      percentage:
                                        description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                        minimum: 0
                                        maximum: 100
                                        type: number
                                        example: 34.56
                                      amount:
                                        description: The amount which will be deducted from the basePrice amount
                                        type: number
                                        maximum: 0
                                        example: -123.45
                                      amountPerKm2:
                                        description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                        type: number
                                        maximum: 0
                                        example: -0.5
                                      amountUnit:
                                        type: string
                                        enum:
                                        - EUR
                                        - CREDITS
                                        - USD
                                volume:
                                  allOf:
                                  - description: The volume discount granted depending on the item area
                                  - allOf:
                                    - type: object
                                      properties:
                                        basePrice:
                                          allOf:
                                          - description: The base price this discount uses for calculations
                                          - description: Price information
                                            type: object
                                            required:
                                            - amountUnit
                                            - amount
                                            - amountPerKm2
                                            properties:
                                              amountUnit:
                                                type: string
                                                enum:
                                                - EUR
                                                - CREDITS
                                                - USD
                                              amount:
                                                type: number
                                                example: 83.4
                                              amountPerKm2:
                                                type: number
                                                example: 4
                                        percentage:
                                          description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                          minimum: 0
                                          maximum: 100
                                          type: number
                                          example: 34.56
                                        amount:
                                          description: The amount which will be deducted from the basePrice amount
                                          type: number
                                          maximum: 0
                                          example: -123.45
                                        amountPerKm2:
                                          description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                          type: number
                                          maximum: 0
                                          example: -0.5
                                        amountUnit:
                                          type: string
                                          enum:
                                          - EUR
                                          - CREDITS
                                          - USD
                                    - type: object
                                      properties:
                                        nextDiscount:
                                          description: The next possible discount
                                          allOf:
                                          - type: object
                                            properties:
                                              basePrice:
                                                allOf:
                                                - description: The base price this discount uses for calculations
                                                - description: Price information
                                                  type: object
                                                  required:
                                                  - amountUnit
                                                  - amount
                                                  - amountPerKm2
                                                  properties:
                                                    amountUnit:
                                                      type: string
                                                      enum:
                                                      - EUR
                                                      - CREDITS
                                                      - USD
                                                    amount:
                                                      type: number
                                                      example: 83.4
                                                    amountPerKm2:
                                                      type: number
                                                      example: 4
                                              percentage:
                                                description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                                minimum: 0
                                                maximum: 100
                                                type: number
                                                example: 34.56
                                              amount:
                                                description: The amount which will be deducted from the basePrice amount
                                                type: number
                                                maximum: 0
                                                example: -123.45
                                              amountPerKm2:
                                                description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                                type: number
[...]
