openapi: 3.2.0
info:
  title: Airbus Oneatlas Ordering API
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  version: '1.0'
  description: 'Operations tagged Ordering across 2 of this provider''s published API definitions: oneatlas-data-pay-per-order-api-openapi.yml, oneatlas-data-pay-per-order-tasking-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: API server
  url: https://order.api.oneatlas.airbus.com
tags:
- name: Ordering
paths:
  /api/v1/feasibility:
    post:
      summary: Check Feasibility
      tags:
      - Ordering
      requestBody:
        content:
          application/json:
            schema:
              description: Feasibility request
              oneOf:
              - title: PleiadesNeo
                properties:
                  progTypeNames:
                    enum:
                    - ONEPLAN
                    - ONEDAY
                    - ONENOWATTEMPTS
                    - ONENOWWEATHER
                    type: string
                  mission:
                    enum:
                    - PLEIADESNEO
                    type: string
                  contractId:
                    type: string
                  acquisitionDate:
                    $ref: '#/components/schemas/AcquisitionDate'
                  optical:
                    $ref: '#/components/schemas/Optical'
                  aoi:
                    $schema: http://json-schema.org/draft-06/schema#
                    id: http://local/schemas/public/aoi.json#
                    properties:
                      coordinates:
                        items:
                          items:
                            items:
                              type: number
                            maxItems: 2
                            minItems: 2
                            type: array
                          minItems: 4
                          type: array
                        minItems: 1
                        type: array
                      type:
                        enum:
                        - Polygon
                    title: aoi
                    type: object
                required:
                - progTypeNames
                - mission
                - contractId
                - acquisitionDate
                - optical
                - aoi
                type: object
                example:
                  progTypeNames:
                  - ONEPLAN
                  mission: PLEIADESNEO
                  contractId: CTR2100XXXX
                  acquisitionDate:
                    startDate: '2021-08-31T19:22:11.250Z'
                    endDate: '2021-09-30T23:59:59.999Z'
                  optical:
                    acquisitionMode: MONO
                    maxCloudCover: 20
                    maxIncidenceAngle: 30
                  aoi:
                  - - - -3.71612548828124
                      - 40.35910267579197
                    - - -3.6090087890624893
                      - 40.35910267579197
                    - - -3.6090087890624893
                      - 40.45739708775443
                    - - -3.71612548828124
                      - 40.45739708775443
                    - - -3.71612548828124
                      - 40.35910267579197
              - title: Pleiades and SPOT
                properties:
                  progTypeNames:
                    enum:
                    - ONEPLAN
                    - ONEDAY
                    - ONENOW
                    - ONESERIES
                    type: string
                  mission:
                    $ref: '#/components/schemas/Mission'
                  contractId:
                    type: string
                  acquisitionDate:
                    $ref: '#/components/schemas/AcquisitionDate'
                  optical:
                    $ref: '#/components/schemas/Optical'
                  aoi:
                    $schema: http://json-schema.org/draft-06/schema#
                    id: http://local/schemas/public/aoi.json#
                    properties:
                      coordinates:
                        items:
                          items:
                            items:
                              type: number
                            maxItems: 2
                            minItems: 2
                            type: array
                          minItems: 4
                          type: array
                        minItems: 1
                        type: array
                      type:
                        enum:
                        - Polygon
                    title: aoi
                    type: object
                required:
                - progTypeNames
                - mission
                - contractId
                - acquisitionDate
                - optical
                - aoi
                type: object
                example:
                  progTypeNames:
                  - ONEPLAN
                  mission: PLEIADES
                  contractId: CTR2100XXXX
                  acquisitionDate:
                    startDate: '2021-08-31T19:22:11.250Z'
                    endDate: '2021-09-30T23:59:59.999Z'
                  optical:
                    acquisitionMode: MONO
                    maxCloudCover: 20
                    maxIncidenceAngle: 30
                  aoi:
                  - - - -3.71612548828124
                      - 40.35910267579197
                    - - -3.6090087890624893
                      - 40.35910267579197
                    - - -3.6090087890624893
                      - 40.45739708775443
                    - - -3.71612548828124
                      - 40.45739708775443
                    - - -3.71612548828124
                      - 40.35910267579197
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                - title: SPOT & Pleiades
                  type: object
                  properties:
                    progCapacities:
                      type: array
                      items:
                        type: object
                        properties:
                          mission:
                            $ref: '#/components/schemas/Mission'
                          progTypes:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  enum:
                                  - ONEPLAN
                                  - ONEDAY
                                  - ONENOW
                                  - ONESERIES
                                  type: string
                                mission:
                                  $ref: '#/components/schemas/Mission'
                                feasibility:
                                  type: object
                                  properties:
                                    classification:
                                      type: string
                                      enum:
                                      - EASY
                                      - CHALLENGING
                                    automation:
                                      type: string
                                      enum:
                                      - AUTOMATIC
                                      - MAUAL
                                    automationName:
                                      type: string
                                available:
                                  type: boolean
                - title: PleiadesNeo
                  type: object
                  properties:
                    progCapacities:
                      type: array
                      items:
                        type: object
                        properties:
                          mission:
                            type: string
                            enum:
                            - PLEIADESNEO
                          progTypes:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  enum:
                                  - ONEPLAN
                                  - ONEDAY
                                  - ONENOWATTEMPTS
                                  - ONENOWWEATHER
                                  type: string
                                mission:
                                  type: string
                                  enum:
                                  - PLEIADESNEO
                                feasibility:
                                  type: object
                                  properties:
                                    classification:
                                      type: string
                                      enum:
                                      - EASY
                                      - CHALLENGING
                                    automation:
                                      type: string
                                      enum:
                                      - AUTOMATIC
                                      - MAUAL
                                    automationName:
                                      type: string
                                available:
                                  type: boolean
                                expirationDate:
                                  type: string
                                  format: datetime
                                  pattern: ^yyyy-MM-dd'T'HH:mm:ss.SSS'Z$
              examples:
                SPOT & Pleiades:
                  value:
                    progCapacities:
                    - mission: PLEIADES
                      progTypes:
                      - name: ONEPLAN
                        mission: PLEIADES
                        feasibility:
                          classification: CHALLENGING
                          automation: AUTOMATIC
                          automationName: AutomaticTasking30
                        available: true
                PleiadesNeo:
                  value:
                    progCapacities:
                    - mission: PLEIADESNEO
                      progTypes:
                      - name: ONEPLAN
                        mission: PLEIADESNEO
                        feasibility:
                          classification: CHALLENGING
                          automation: AUTOMATIC
                        available: true
                        expirationDate: '2021-05-12T08:03:19.052Z'
      servers:
      - description: Tasking API server
        url: https://order.api.oneatlas.airbus.com
    servers:
    - description: API server
      url: https://order.api.oneatlas.airbus.com
  /api/v1/attempts:
    post:
      summary: Retrieve Attempts
      tags:
      - Ordering
      description: Get tasking attempts
      requestBody:
        content:
          application/json:
            schema:
              description: Orders api
              oneOf:
              - title: PleiadesNeo
                properties:
                  progTypeNames:
                    enum:
                    - ONEDAY
                    - ONENOWATTEMPTS
                    type: string
                  mission:
                    enum:
                    - PLEIADESNEO
                    type: string
                  contractId:
                    type: string
                  acquisitionDate:
                    $ref: '#/components/schemas/AcquisitionDate'
                  optical:
                    $ref: '#/components/schemas/Optical'
                  aoi:
                    properties:
                      coordinates:
                        items:
                          items:
                            items:
                              type: number
                            maxItems: 2
                            minItems: 2
                            type: array
                          minItems: 4
                          type: array
                        minItems: 1
                        type: array
                      type:
                        enum:
                        - Polygon
                    title: aoi
                    type: object
                    example:
                      type: Polygon
                      coordinates:
                      - - - 23.69574504957747
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 37.91905533651132
                required:
                - progTypeNames
                - mission
                - contractId
                - acquisitionDate
                - optical
                - aoi
                example:
                  progTypeNames:
                  - ONEDAY
                  missions:
                  - PLEIADESNEO
                  acquisitionDate:
                    startDate: 2023-03-26T00:00.000Z
                    endDate: '2022-03-29T00:00:00.000Z'
                    optical:
                      maxCloudCover: 100
                      maxIncidenceAngle: 20
                    aoi:
                      type: Polygon
                      coordinates:
                      - - - 23.69574504957747
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 37.91905533651132
              - title: SPOT & Pleiades
                properties:
                  progTypeNames:
                    enum:
                    - ONEDAY
                    - ONENOW
                    type: string
                  mission:
                    $ref: '#/components/schemas/Mission'
                  contractId:
                    type: string
                  acquisitionDate:
                    $ref: '#/components/schemas/AcquisitionDate'
                  optical:
                    $ref: '#/components/schemas/Optical'
                  aoi:
                    properties:
                      coordinates:
                        items:
                          items:
                            items:
                              type: number
                            maxItems: 2
                            minItems: 2
                            type: array
                          minItems: 4
                          type: array
                        minItems: 1
                        type: array
                      type:
                        enum:
                        - Polygon
                    title: aoi
                    type: object
                    example:
                      type: Polygon
                      coordinates:
                      - - - 23.69574504957747
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 37.91905533651132
                required:
                - progTypeNames
                - mission
                - contractId
                - acquisitionDate
                - optical
                - aoi
                example:
                  progTypeNames:
                  - ONEDAY
                  missions:
                  - PLEIADES
                  acquisitionDate:
                    startDate: 2023-03-26T00:00.000Z
                    endDate: '2022-03-29T00:00:00.000Z'
                    optical:
                      maxCloudCover: 100
                      maxIncidenceAngle: 20
                    aoi:
                      type: Polygon
                      coordinates:
                      - - - 23.69574504957747
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 37.91905533651132
                        - - 23.815564690690753
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 38.033261134969194
                        - - 23.69574504957747
                          - 37.91905533651132
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskingAttempt'
              examples:
                SPOT & Pleiades:
                  value:
                    progCapacities:
                      mission: PLEIADES
                      progTypes:
                      - name: ONEDAY
                        mission: PLEIADES
                        segments:
                        - id: PNEO1
                          footprint:
                            geometry: POLYGON((23.642028 38.043069, 23.642495 37.909283, 23.868104 37.908839, 23.868548 38.04307, 23.642028 38.043069, 23.642028 38.043069))
                            center: POINT(23.755357 37.97611)
                          instrumentMode: THR
                          orderDeadline: '2022-03-26T08:28:00.499Z'
                          extendedAngle: false
                          acquisitionStartDate: '2022-03-26T09:15:27.499Z'
                          acquisitionEndDate: '2022-03-26T09:15:29.671Z'
                          incidenceAngle: 26.72
                          segmentKey: 895651bbc3f881c1e1245b224ac69c34668001bd8610e359dfdfbf9b7430ad69c1b92543b80d84a75ed9961c0dca088f38f278c4df90a686f327e2cfc3d0be73::[{"key":"orderDeadLine","value":"2022-03-26T08:28:00.499Z"},{"key":"acqPeriod","value":"2022-03-26T09:15:27.499Z 2022-03-26T09:15:29.671Z"},{"key":"maxIncidenceAngle","value":"30.0"},{"key":"geometryWkt","value":"POLYGON((23.642028 38.043069, 23.642495 37.909283, 23.868104 37.908839, 23.868548 38.04307, 23.642028 38.043069, 23.642028 38.043069))"}]
                          acrossTrackIncidenceAngle: -7.874962709778218
                          maxIncidenceAngle: 30
                        - id: PNEO2
                          footprint:
                            geometry: POLYGON((23.644797 38.043069, 23.644964 37.90931, 23.866444 37.908808, 23.86659 38.043069, 23.644797 38.043069, 23.644797 38.043069))
                            center: POINT(23.755768 37.97608)
                          instrumentMode: THR
                          orderDeadline: '2022-03-29T08:35:00.699Z'
                          extendedAngle: false
                          acquisitionStartDate: '2022-03-29T09:22:50.699Z'
                          acquisitionEndDate: '2022-03-29T09:22:52.871Z'
                          incidenceAngle: 26.98
                          segmentKey: ef7be0cf8ff00529830ca020a8c9a6ac823f0e59b31c1b242f6a4e88ee5891eaf98605040452702b85dce33e4e9bc5a256a342126a18b2c10506c7cfdaa52682::[{"key":"orderDeadLine","value":"2022-03-29T08:35:00.699Z"},{"key":"acqPeriod","value":"2022-03-29T09:22:50.699Z 2022-03-29T09:22:52.871Z"},{"key":"maxIncidenceAngle","value":"30.0"},{"key":"geometryWkt","value":"POLYGON((23.644797 38.043069, 23.644964 37.90931, 23.866444 37.908808, 23.86659 38.043069, 23.644797 38.043069, 23.644797 38.043069))"}]
                          acrossTrackIncidenceAngle: 8.063750464703226
                          maxIncidenceAngle: 30
                        available: true
                PleiadesNeo:
                  value:
                    progCapacities:
                      mission: PLEIADESNEO
                      progTypes:
                      - name: ONEDAY
                        mission: PLEIADESNEO
                        segments:
                        - id: PNEO1
                          footprint:
                            geometry: POLYGON((23.642028 38.043069, 23.642495 37.909283, 23.868104 37.908839, 23.868548 38.04307, 23.642028 38.043069, 23.642028 38.043069))
                            center: POINT(23.755357 37.97611)
                          instrumentMode: THR
                          orderDeadline: '2022-03-26T08:28:00.499Z'
                          extendedAngle: false
                          acquisitionStartDate: '2022-03-26T09:15:27.499Z'
                          acquisitionEndDate: '2022-03-26T09:15:29.671Z'
                          incidenceAngle: 26.72
                          segmentKey: 895651bbc3f881c1e1245b224ac69c34668001bd8610e359dfdfbf9b7430ad69c1b92543b80d84a75ed9961c0dca088f38f278c4df90a686f327e2cfc3d0be73::[{"key":"orderDeadLine","value":"2022-03-26T08:28:00.499Z"},{"key":"acqPeriod","value":"2022-03-26T09:15:27.499Z 2022-03-26T09:15:29.671Z"},{"key":"maxIncidenceAngle","value":"30.0"},{"key":"geometryWkt","value":"POLYGON((23.642028 38.043069, 23.642495 37.909283, 23.868104 37.908839, 23.868548 38.04307, 23.642028 38.043069, 23.642028 38.043069))"}]
                          acrossTrackIncidenceAngle: -7.874962709778218
                          maxIncidenceAngle: 30
                        - id: PNEO2
                          footprint:
                            geometry: POLYGON((23.644797 38.043069, 23.644964 37.90931, 23.866444 37.908808, 23.86659 38.043069, 23.644797 38.043069, 23.644797 38.043069))
                            center: POINT(23.755768 37.97608)
                          instrumentMode: THR
                          orderDeadline: '2022-03-29T08:35:00.699Z'
                          extendedAngle: false
                          acquisitionStartDate: '2022-03-29T09:22:50.699Z'
                          acquisitionEndDate: '2022-03-29T09:22:52.871Z'
                          incidenceAngle: 26.98
                          segmentKey: ef7be0cf8ff00529830ca020a8c9a6ac823f0e59b31c1b242f6a4e88ee5891eaf98605040452702b85dce33e4e9bc5a256a342126a18b2c10506c7cfdaa52682::[{"key":"orderDeadLine","value":"2022-03-29T08:35:00.699Z"},{"key":"acqPeriod","value":"2022-03-29T09:22:50.699Z 2022-03-29T09:22:52.871Z"},{"key":"maxIncidenceAngle","value":"30.0"},{"key":"geometryWkt","value":"POLYGON((23.644797 38.043069, 23.644964 37.90931, 23.866444 37.908808, 23.86659 38.043069, 23.644797 38.043069, 23.644797 38.043069))"}]
                          acrossTrackIncidenceAngle: 8.063750464703226
                          maxIncidenceAngle: 30
                        available: true
        '500':
          description: No possible attempt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSensorAvailable'
      servers:
      - description: Tasking API server
        url: https://order.api.oneatlas.airbus.com/
    servers:
    - description: API server
      url: https://order.api.oneatlas.airbus.com
  /api/v1/prices:
    post:
      summary: Calculate a Price
      tags:
      - Ordering
      servers:
      - description: Tasking API server
        url: https://order.api.oneatlas.airbus.com/
      description: '<h3>Archive and Tasking ordering</h3>

        '
      requestBody:
        content:
          application/json:
            schema:
              description: Orders api
              title: Orders
              oneOf:
              - title: Tasking SPOT & Pleiades
                properties:
                  aoi:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          format: integer
                          type: number
                          description: It is used to identify the aoi on which some options are set (refer to the 'item' parameter below)
                        name:
                          type: string
                        geometry:
                          $ref: '#/components/schemas/GeojsonGeometry'
                  programReference:
                    type: string
                  contractId:
                    $ref: '#/components/schemas/contractId'
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        productTypeId:
                          type: string
                          enum:
                          - PleiadesTaskingOneDay
                          - SpotTaskingOneDay
                          - PleiadesTaskingOnePlan
                          - SpotTaskingOnePlan
                          - PleiadesTaskingOneNow
                          - SpotTaskingOneNow
                          - PleiadesTaskingOneSeries
                          - SpotTaskingOneSeries
                        dataSourceIds:
                          $ref: '#/components/schemas/DataSourceIds'
                        aoiId:
                          type: number
                          format: integer
                          description: refers to the specific aoi id.
                        properties:
                          type: array
                          items:
                            anyOf:
                            - type: object
                              title: acquisitionMode
                              properties:
                                key:
                                  enum:
                                  - acquisitionMode
                                value:
                                  enum:
                                  - MONO
                                  - STEREO
                                  - TRISTEREO
                            - type: object
                              title: notificationThreshold
                              properties:
                                key:
                                  enum:
                                  - notificationThreshold
                                value:
                                  format: float
                                  type: number
                                  maximum: 100
                                  minimum: 0
                                  description: Defines the cloud cover percentage upon which you want the acquisitions to be proposed to you (tasking continues unless you accept the acquisition). If you want to integrate only through API, we advise you to keep notification Threshold = maxCloudCover
                            - type: object
                              title: maxCloudCover
                              properties:
                                key:
                                  enum:
                                  - maxCloudCover
                                value:
                                  format: float
                                  type: number
                                  maximum: 100
                                  minimum: 0
                                  description: Defines the cloud cover percentage upon which you want validate automatically the acquisition
                            - type: object
                              title: maxIncidenceAngle
                              properties:
                                key:
                                  enum:
                                  - maxIncidenceAngle
                                value:
                                  format: float
                                  type: number
                                  maximum: 90
                                  minimum: 0
                                  description: Defines the maximum incidence angle you want validate automatically the acquisition
                            - type: object
                              title: acqPeriod
                              properties:
                                key:
                                  enum:
                                  - acqPeriod
                                value:
                                  $ref: '#/components/schemas/AcqPerod'
                            - type: object
                              title: feasibilityAutomation
                              properties:
                                key:
                                  enum:
                                  - feasibilityAutomation
                                  description: Value is to be filled with the result of the RETRIEVE FEASIBILITY (key 'automation'). If you want to force a manual feasibility study, use 'MANUAL' and request quotation
                                value:
                                  enum:
                                  - AUTOMATIC
                                  - MANUAL
                            - type: object
                              title: classification
                              properties:
                                key:
                                  enum:
                                  - classification
                                value:
                                  enum:
                                  - CHALLENGING
                                  - EASY
                                  description: Value is to be filled with the result of the RETRIEVE FEASIBILITY (key 'classification')
                            - type: object
                              title: acquisitionModeMinBH
                              properties:
                                key:
                                  enum:
                                  - acquisitionModeMinBH
                                  description: Only in STEREO and TRISTEREO modes
                                value:
                                  format: float
                                  type: number
                                  maximum: 0.8
                                  minimum: 0.2
                            - type: object
                              title: acquisitionModeMaxBH
                              properties:
                                key:
                                  enum:
                                  - acquisitionModeMaxBH
                                  description: Only in STEREO and TRISTEREO modes
                                value:
                                  format: float
                                  type: number
                                  maximum: 0.8
                                  minimum: 0.2
                        comments:
                          $ref: '#/components/schemas/Comments'
                        segmentKey:
                          $ref: '#/components/schemas/SegmentKey'
                  primaryMarket:
                    type: string
                    enum:
                    - AGRI
                    - GENIE
                    - GDPUBLIC
                    - DEFSEC
                    - DISTRI
                    - RISQUE
                    - ENERGIE
                    - ENV
                    - FORET
                    - SANTE
                    - ASSUR
                    - IOT
                    - CARTO
                    - MARITIME
                    - PRESSE
                    - MOBIL
                    - AUTRE
                    - TELECOM
                    - TOURISME
                    - TRANSPORT
                    - NQUAL
                  customerReference:
                    $ref: '#/components/schemas/CustomerReference'
                  optionsPerProductType:
                    type: array
                    items:
                      type: object
                      properties:
                        productTypeId:
                          type: string
                          enum:
                          - PleiadesTaskingOneDay
                          - SpotTaskingOneDay
                          - PleiadesTaskingOnePlan
                          - SpotTaskingOnePlan
                          - PleiadesTaskingOneNow
                          - SpotTaskingOneNow
                          - PleiadesTaskingOneSeries
                          - SpotTaskingOneSeries
                        options:
                          type: array
                          items:
                            anyOf:
                            - type: object
                              title: spectral_processing
                              properties:
                                key:
                                  enum:
                                  - spectral_processing
                                value:
                                  description: Defines the spectral processing
                                  default: bundle
                                  enum:
                                  - pansharpened_natural_color
                                  - panchromatic
                                  - pansharpened
                                  - multispectral
                                  - pansharpened_false_color
                                  - bundle
                            - type: object
                              title: radiometric_processing
                              properties:
                                key:
                                  enum:
                                  - radiometric_processing
                                value:
                                  description: Defines the radiometric processing
                                  enum:
                                  - basic
                                  - reflectance
                                  - display
                            - type: object
                              title: image_format
                              properties:
                                key:
                                  enum:
                                  - image_format
                                value:
                                  description: Defines the output image format
                                  default: dimap_jpeg2000_regular
                                  enum:
                                  - dimap_jpeg2000_optimized
                                  - dimap_jpeg2000_regular
                                  - dimap_geotiff
                            - $ref: '#/components/schemas/pixelCoding'
                            - type: object
                              title: processing_level
                              properties:
                                key:
                                  enum:
                                  - processing_level
                                value:
                                  description: Defines the processing level
                                  enum:
                                  - ortho
                                  - projected
                                  - primary
                            - type: object
                              title: projection_i
                              properties:
                                key:
                                  enum:
                                  - projection_i
                                value:
                                  description: Defines the projection, i refers to the aoi's id (To be filled only if processing_level = ortho or projected)
                                  enum:
                                  - ortho
                                  - projected
                                  - primary
                            - $ref: '#/components/schemas/dem'
                            - type: object
                              title: elevation
                              properties:
                                key:
                                  enum:
                                  - elevation
                                value:
                                  description: Defines the elevation. To be filled only if processing_level = projected
                                  format: float
                                  type: number
                                  maximum: 10000
                                  minimum: -100
                            - type: object
                              title: priority
                              properties:
                                key:
                                  enum:
                                  - priority
                                value:
                                  description: Defines the priority. 'Rush' means no quality checking
                                  default: standard
                                  enum:
                                  - standard
                                  - rush
                            - type: object
                              title: licence
                              properties:
                                key:
                                  enum:
                                  - licence
                                value:
                                  description: Defines the licence (our licences in details here:https://www.intelligence-airbusds.com/legal/licences/).
                                  enum:
                                  - standard
                                  - background_layer
                                  - stand_background_layer
                            - type: object
                              title: delivery_method
                              properties:
                                key:
                                  enum:
                                  - delivery_method
                                value:
                                  description: Defines the delivery method
                                  enum:
                                  - on_the_flow
                                  - at_the_end
                  orderGroup:
                    description: Allows to provide a custom identifier for grouped invoicing
                    example: ''
                    type: string
                  endUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        endUserName:
                          type: string
                        country:
                          type: string
                          enum:
                          - SU
                          - NT
                          - AE
                          - AD
                          - AF
                          - AG
                          - AI
                          - AL
                          - AM
                          - AN
                          - AO
                          - AQ
                          - AR
                          - AS
                          - AT
                          - AU
                          - AW
                          - AX
                          - AZ
                          - BA
                          - BB
                          - BD
                          - BE
                          - BF
                          - BG
                          - BH
                          - BI
                          - BJ
                          - BL
                          - BM
                          - BN
                          - BO
                          - BR
                          - BS
                          - BT
                          - BV
                          - BW
                          - BY
                          - BZ
                          - CA
                          - CC
                          - CD
                          - CF
                          - CG
                          - CH
                          - CI
                          - CK
                          - CL
                          - CM
                          - CN
                          - CO
                          - CR
                          - CS
                          - CU
                          - CV
                          - CX
                          - CY
                          - CZ
                          - DE
                          - DJ
                          - DK
                          - DM
                          - DO
                          - DZ
                          - EC
                          - EE
                          - EG
                          - EH
                          - ER
                          - ES
                          - ET
                          - FI
                          - FJ
                          - FK
                          - FM
                          - FO
                          - FR
                          - GA
                          - GB
                          - GD
                          - GE
                          - GF
                          - GG
                          - GH
                          - GI
                          - GL
                          - GM
                          - GN
                          - GP
                          - GQ
                          - GR
                          - GS
                          - GT
                          - GU
                          - GW
                          - GY
                          - HK
                          - HM
                          - HN
                          - HR
                          - HT
                          - HU
                          - ID
                          - IE
                          - IL
                          - IM
                          - IN
                          - IO
                          - IQ
                          - IR
                          - IS
                          - IT
                          - JE
                          - JM
                          - JO
                          - JP
                          - KE
                          - KG
                          - KH
                          - KI
                          - KM
                          - KN
                          - KP
                          - KR
                          - KW
                          - KY
                          - KZ
                          - LA
                          - LB
                          - LC
                          - LI
                          - LK
                          - LR
                          - LS
                          - LT
                          - LU
                          - LV
                          - LY
                          - MA
                          - MC
                          - MD
                          - ME
                          - MF
                          - MG
                          - MH
                          - MK
                          - ML
                          - MM
                          - MN
                          - MO
                          - MP
                          - MQ
                          - MR
                          - MS
                          - MT
                          - MU
                          - MV
                          - MW
                          - MX
                          - MY
                          - MZ
                          - NA
                          - NC
                          - NE
                          - NF
                          - NG
                          - NI
                          - NL
                          - 'NO'
                          - NP
                          - NR
                          - NU
                          - NZ
                          - OM
                          - PA
                          - PE
                          - PF
                          - PG
                          - PH
                          - PK
                          - PL
                          - PM
                          - PN
                          - PR
                          - PS
                          - PT
                          - PW
                          - PY
                          - QA
                          - RE
                          - RO
                          - RS
                          - RU
                          - RW
                          - SA
                          - SB
                          - SC
                          - SD
                          - SE
                          - SG
                          - SH
                          - SI
                          - SJ
                          - SK
                          - SL
                          - SM
                          - SN
                          - SO
                          - SR
                          - SS
                          - ST
                          - SV
                          - SY
                          - SZ
                          - TC
                          - TD
                          - TF
                          - TG
                          - TH
                          - TJ
                          - TK
                          - TL
                          - TM
                          - TN
                          - TO
                          - TR
                          - TT
                          - TV
                          - TW
                          - TZ
                          - UA
                          - UG
                          - UM
                          - US
                          - UY
                          - UZ
                          - VA
                          - VC
                          - VE
                          - VG
                          - VI
                          - VN
                          - VU
                          - WF
                          - WS
                          - YE
                          - YT
                          - YU
                          - ZA
                          - ZM
                          - ZW
                    example:
                      endUsers:
                      - endUserName: Jack
                        country: FR
                  delivery:
                    $ref: '#/components/schemas/delivery'
                  notificationEmails:
                    type: array
                    items:
                      type: string
                required:
                - contractId
                - aoi
                - items
                - customerReference
                - optionsPerProductType
                - endUsers
                - primaryMarket
                - notificationEmails
                type: object
                example:
                  aoi:
                  - id: 2
                    name: Polygon 2
                    geometry:
                      type: Polygon
                      coordinates:
                      - - - -0.8847217475974262
                          - 48.627903919147286
                        - - -0.7528858100974261
                          - 48.627903919147286
                        - - -0.7528858100974261
                          - 48.711340646239705
                        - - -0.8847217475974262
                          - 48.711340646239705
                        - - -0.8847217475974262
                          - 48.627903919147286
                  contractId: Standard-GEO
                  items:
                    productTypeId: PleiadesTaskingOneDay
                    dataSourceIds: []
                    aoiId: 2
                    properties:
                    - key: acquisitionMode
                      value: MONO
                    - key: notificationThreshold
                      value: 10
                    - key: maxCloudCover
                      value: 10
                    - key: maxIncidenceAngle
                      value: 50
                    - key: acqPeiod
                      value: 2022-03-25T00:00:00.000Z 2022-04-01T23:59:59.999Z
                    - key: feasibilityAutomation
                      value: AUTOMATIC
                    - key: classification
                      value: EASY
                    comments: ''
                    segmentKey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  primaryMarket: AGRI
                  customerReference: Polygon 2
                  optionsPerProductType:
                  - key: spectral_processing
                    value: bundle
                  - key: radiometric_processing
                    value: basic
                  - key: image_format
                    value: dimap_jpeg2000_regular
                  - key: pixel_coding
                    value: 12bits
                  - key: processing_level
                    value: ortho
                  - key: projection_2
                    value: '32630'
                  - key: dem_2
                    value: best_available
                  - key: priority
                    value: rush
                  - key: licence
                    value: standard
                  - key: delivery_method
                    value: on_the_flow
                  orderGroup: ''
                  endUsers:
                  - endUserName: Kevin
                    country: FR
                  delivery:
                    type: network
                    workspace: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  notificationEmails:
                  - your@email.xx
                  - aother@one.xx
              - title: Archive SPOT & Pleiades
                properties:
                  aoi:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          format: integer
                          type: number
                          description: It is used to identify the aoi on which some options are set (refer to the 'item' parameter below)
                        name:
                          type: string
                        geometry:
                          $ref: '#/components/schemas/GeojsonGeometry'
                  programReference:
                    type: string
                  contractId:
                    $ref: '#/components/schemas/contractId'
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        productTypeId:
                          enum:
                          - PleiadesArchiveMono
                          - SpotArchiveMono
                          type: string
                        dataSourceIds:
                          $ref: '#/components/schemas/DataSourceIds'
                        datastripIds:
                          $ref: '#/components/schemas/DatastripIds'
                        aoiId:
                          type: number
                          format: integer
                        comments:
                          $ref: '#/components/schemas/Comments'
                        segmentKey:
                          $ref: '#/components/schemas/SegmentKey'
                  primaryMarket:
                    type: string
                    enum:
                    - AGRI
                    - GENIE
                    - GDPUBLIC
                    - DEFSEC
                    - DISTRI
                    - RISQUE
                    - ENERGIE
                    - ENV
                    - FORET
                    - SANTE
                    - ASSUR
                    - IOT
                    - CARTO
                    - MARITIME
                    - PRESSE
                    - MOBIL
                    - AUTRE
                    - TELECOM
                    - TOURISME
                    - TRANSPORT
                    - NQUAL
                  customerReference:
                    $ref: '#/components/schemas/CustomerReference'
                  optionsPerProductType:
                    type: array
                    items:
                      type: object
                      properties:
                        productTypeId:
                          enum:
                          - PleiadesArchiveMono
                          - SpotArchiveMono
                          type: string
                        options:
                          type: array
                          items:
                            anyOf:
                            - type: object
                              title: spectral_processing
                              properties:
                                key:
                                  enum:
                                  - spectral_processing
                                value:
                                  description: Defines the spectral processing
                                  default: bundle
                                  enum:
                                  - pansharpened_natural_color
                                  - panchromatic
                                  - pansharpened
                                  - multispectral
                                  - pansharpened_false_color
                                  - bundle
                            - type: object
                              title: radiometric_processing
                              properties:
                                key:
                                  enum:
                                  - radiometric_processing
                                value:
                                  description: Defines the radiometric processing
                                  enum:
                                  - basic
                                  - reflectance
                                  - display
                            - type: object
                              title: image_format
                              properties:
                                key:
                                  enum:
                                  - image_format
                                value:
                                  description: Defines the output image format
                                  default: dimap_jpeg2000_regular
                                  enum:
                                  - dimap_jpeg2000_optimized
                                  - dimap_jpeg2000_regular
                                  - dimap_geotiff
                            - $ref: '#/components/schemas/pixelCoding'
                            - type: object
                              title: processing_level
                              properties:
                                key:
                                  enum:
                                  - processing_level
                                value:
                                  description: Defines the processing level
                                  enum:
                                  - ortho
                                  - projected
                                  - primary
                            - type: object
                              title: projection_i
                              properties:
                                key:
                                  enum:
                                  - projection_i
                                value:
                                  description: Defines the projection, i refers to the aoi's id (To be filled only if processing_level = ortho or projected)
                                  enum:
                                  - ortho
                                  - projected
                                  - primary
                            - $ref: '#/components/schemas/dem'
                            - type: object
                              title: elevation
                              properties:
                                key:
                                  enum:
                                  - elevation
                                value:
                                  description: Defines the elevation. To be filled only if processing_level = projected
                                  format: float
                                  type: number
                                  maximum: 10000
                                  minimum: -100
                            - type: object
                              title: priority
                              properties:
                                key:
                                  enum:
                                  - priority
                                value:
                                  description: Defines the priority. 'Rush' means no quality checking
                                  default: standard
                                  enum:
                                  - standard
                                  - rush
                            - type: object
                              title: licence
                              properties:
                                key:
                                  enum:
                                  - licence
                                value:
                                  description: Defines the licence (our licences in details here:https://www.intelligence-airbusds.com/legal/licences/).
                                  enum:
                                  - standard
                                  - background_layer
                                  - stand_background_layer
                            - type: object
                              title: delivery_method
                              properties:
                                key:
                                  enum:
                                  - delivery_method
                                value:
                                  description: Defines the delivery method
                                  enum:
                                  - on_the_flow
                                  - at_the_end
                  orderGroup:
                    description: Allows to provide a custom identifier for grouped invoicing
                    example: ''
                    type: string
                  endUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        endUserName:
                          type: string
                        country:
                          type: string
                          enum:
                          - SU
                          - NT
                          - AE
                          - AD
                          - AF
                          - AG
                          - AI
                          - AL
                          - AM
                          - AN
                          - AO
                          - AQ
                          - AR
                          - AS
                          - AT
                          - AU
                          - AW
                          - AX
                          - AZ
                          - BA
                          - BB
                          - BD
                          - BE
                          - BF
                          - BG
                          - BH
                          - BI
                          - BJ
                          - BL
                          - BM
                          - BN
                          - BO
                          - BR
                          - BS
                          - BT
                          - BV
                          - BW
                          - BY
                          - BZ
                          - CA
                          - CC
                          - CD
                          - CF
                          - CG
                          - CH
                          - CI
                          - CK
                          - CL
                          - CM
                          - CN
                          - CO
                          - CR
                          - CS
                          - CU
                          - CV
                          - CX
                          - CY
                          - CZ
                          - DE
                          - DJ
                          - DK
                          - DM
                          - DO
                          - DZ
                          - EC
                          - EE
                          - EG
                          - EH
                          - ER
                          - ES
                          - ET
                          - FI
                          - FJ
                          - FK
                          - FM
                          - FO
                          - FR
                          - GA
                          - GB
                          - GD
                          - GE
                          - GF
                          - GG
                          - GH
                          - GI
                          - GL
                          - GM
                          - GN
                          - GP
                          - GQ
                          - GR
                          - GS
                          - GT
                          - GU
                          - GW
                          - GY
                          - HK
                          - HM
                          - HN
                          - HR
                          - HT
                          - HU
                          - ID
                          - IE
                          - IL
                          - IM
                          - IN
                          - IO
                          - IQ
                          - IR
                          - IS
                          - IT
                          - JE
                          - JM
                          - JO
                          - JP
                          - KE
                          - KG
                          - KH
                          - KI
                          - KM
                          - KN
                          - KP
                          - KR
                          - KW
                          - KY
                          - KZ
                          - LA
                          - LB
                          - LC
                          - LI
                          - LK
                          - LR
                          - LS
                          - LT
                          - LU
                          - LV
                          - LY
                          - MA
                          - MC
                          - MD
                          - ME
                          - MF
                          - MG
                          - MH
                          - MK
                          - ML
                          - MM
                          - MN
                          - MO
                          - MP
                          - MQ
                          - MR
                          - MS
                          - MT
                          - MU
                          - MV
                          - MW
                          - MX
                          - MY
                          - MZ
                          - NA
                          - NC
                          - NE
                          - NF
                          - NG
                          - NI
                          - NL
                          - 'NO'
                          - NP
                          - NR
                          - NU
                          - NZ
                          - OM
                          - PA
                          - PE
                          - PF
                          - PG
                          - PH
                          - PK
                          - PL
                          - PM
                          - PN
                          - PR
                          - PS
                          - PT
                          - PW
                          - PY
                          - QA
                          - RE
                          - RO
                          - RS
                          - RU
                          - RW
                          - SA
                          - SB
                          - SC
                          - SD
                          - SE
                          - SG
                          - SH
                          - SI
                          - SJ
                          - SK
                          - SL
                          - SM
                          - SN
                          - SO
                          - SR
                          - SS
                          - ST
                          - SV
                          - SY
                          - SZ
                          - TC
                          - TD
                          - TF
                          - TG
                          - TH
                          - TJ
                          - TK
                          - TL
                          - TM
                          - TN
                          - TO
                          - TR
                          - TT
                          - TV
                          - TW
                          - TZ
                          - UA
                          - UG
                          - UM
                          - US
                          - UY
                          - UZ
                          - VA
                          - VC
                          - VE
                          - VG
                          - VI
                          - VN
                          - VU
                          - WF
                          - WS
                          - YE
                          - YT
                          - YU
                          - ZA
                          - ZM
                          - ZW
                    example:
                      endUsers:
                      - endUserName: Jack
                        country: FR
                  delivery:
                    $ref: '#/components/schemas/delivery'
                  notificationEmails:
                    type: array
                    items: string
                required:
                - contractId
                - aoi
                - items
                - customerReference
                - optionsPerProductType
                - endUsers
                - primaryMarket
                - notificationEmails
                type: object
                example:
                  aoi:
                  - id: 1
                    name: Polygon 1
                    geometry:
                      type: Polygon
                      coordinates:
                      - - - -0.8847217475974262
                          - 48.627903919147286
                        - - -0.7528858100974261
                          - 48.627903919147286
                        - - -0.7528858100974261
                          - 48.711340646239705
                        - - -0.8847217475974262
                          - 48.711340646239705
                        - - -0.8847217475974262
                          - 48.627903919147286
                  programReference: programReference
                  contractId: CTR21000XXX
                  items:
                    productTypeId: PleiadesArchiveMono
                    dataSourceId:
                    - catalogId: PublicMOC
                      catalogItemId: xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx
                    aoiId: 1
                    properties: []
                    datastripIds:
                    - DS_PHR1A_202212111112398_FR1_PX_E001N43_0615_01665
                    comments: ''
                    segmentKey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  primaryMarket: AUTRE
                  customerReference: Test Kevin
                  optionsPerProductType:
                  - productTypeId: PleiadesArchiveMono
                    options:
                    - key: spectral_processing
                      value: bundle
                    - key: radiometric_processing
                      value: basic
                    - key: image_format
                      value: dimap_jpeg2000_regular
                    - key: pixel_coding
                      value: 12bits
                    - key: processing_level
                      value: ortho
                    - key: projection_1
                      value: '4326'
                    - key: dem_1
                      value: best_available
                    - key: priority
                      value: rush
                    - key: licence
                      value: standard
                    - key: delivery_method
                      value: on_the_flow
                    - key: fullStrip
                      value: 'false'
                  orderGroup: orderGroup
                  endUsers:
                  - country: FR
                  delivery:
                    type: network
                    workspace: crestmaze
                  notificationEmails:
                  - an@email.xx
                  - aother@one.xx
              - title: Tasking PleiadesNeo
                properties:
                  aoi:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          format: integer
                          type: number
                          description: It is used to identify the aoi on which some options are set (refer to the 'item' parameter below)
                        name:
                          type: string
                        geometry:
                          $ref: '#/components/schemas/GeojsonGeometry'
                  programReference:
                    type: string
                  contractId:
                    $ref: '#/components/schemas/contractId'
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        notifications:
                          type: array
                          items:
                            type: object
                            properties:
                              channels:
                                $ref: '#/components/schemas/Channels'
                              filter:
                                type: array
                                items:
                                  anyOf:
                                  - type: object
                                    title: NEW_ACQUISITION
                                    properties:
                                      event:
                                        enum:
                                        - NEW_ACQUISITION
                                        description: an email is generated for every acquisition planned.
                                  - type: object
                                    title: BEFORE_TASKING_END
                                    properties:
                                      event:
                                        enum:
                                        - BEFORE_TASKING_END
                                      daysBeforeEnd:
                                        format: integer
                                        type: number
                                        description: an email is generated X days before the end of the tasking widow (X being the daysBeforeEnd parameter)
                                  - type: object
                                    title: ACQUISITION_CAMPAIGN
                                    properties:
                                      event:
                                        enum:
                                        - ACQUISITION_CAMPAIGN
                                        description: an email is generated summming up the acquisitions.
                                  - type: object
                                    title: WEATHER_PREDICTION
                                    properties:
                                      event:
                                        enum:
                                        - WEATHER_PREDICTION
                                        description: Only for ONEDAY offer
                                        an email is generated with the forecast of your acquisition about 24h before the acquisition": null
                        productTypeId:
                          oneOf:
                          - enum:
                            - PleiadesNeoOneDay
                            - PleiadesNeoOneNowWeather
                            - PleiadesNeoOneNowAttempts
                            - PleiadesNeoOnePlan
                            type: string
                          - enum:
                            - PleiadesNeoOneDayVrs
                            - PleiadesNeoOneNowWeatherVrs
                            - PleiadesNeoOneNowAttemptsVrs
                            - PleiadesNeoOnePlanVrs
                            type: string
                        dataSourceIds:
                          $ref: '#/components/schemas/DataSourceIds'
                        aoiId:
                          type: number
                          format: integer
                          description: refers to the specific aoi id.
                        properties:
                          type: array
                          items:
                            anyOf:
                            - type: object
                              title: acquisitionMode
                              properties:
                                key:
                                  enum:
                                  - acquisitionMode
                                value:
                                  enum:
                                  - MONO
                                  - STEREO
                                  - TRISTEREO
                            - type: object
                              title: notificationThreshold
                              properties:
                                key:
                                  enum:
                                  - notificationThreshold
                                value:
                                  format: float
                                  type: number
                                  maximum: 100
                                  minimum: 0
                                  description: Defines the cloud cover percentage upon which you want the acquisitions to be proposed to you (tasking continues unless you accept the acquisition). If you want to integrate only through API, we advise you to keep notification Threshold = maxCloudCover
                            - type: object
                              title: maxCloudCover
                              properties:
                                key:
                                  enum:
                                  - maxCloudCover
                                value:
                                  format: float
                                  type: number
                                  maximum: 100
                                  minimum: 0
                                  description: Defines the cloud cover percentage upon which you want validate automatically the acquisition
                            - type: object
                              title: maxIncidenceAngle
                              properties:
                                key:
                                  enum:
                                  - maxIncidenceAngle
                                value:
                                  format: float
                                  type: number
                                  maximum: 90
                                  minimum: 0
                                  description: Defines the maximum incidence angle you want validate automatically the acquisition
                            - type: object
                              title: acqPeriod
                              properties:
                                key:
                                  enum:
                                  - acqPeriod
                                value:
                                  $ref: '#/components/schemas/AcqPerod'
                            - type: object
                              title: feasibilityAutomation
                              properties:
                                key:
                                  enum:
                                  - feasibilityAutomation
                                  description: Value is to be filled with the result of the RETRIEVE FEASIBILITY (key 'automation'). If you want to force a manual feasibility study, use 'MANUAL' and request quotation
                                value:
                                  enum:
                                  - AUTOMATIC
                                  - MANUAL
                            - type: object
                              title: classification
                              properties:
                                key:
                                  enum:
                                  - classification
                                value:
                                  enum:
                                  - CHALLENGING
                                  - EASY
                                  description: Value is to be filled with the result of the RETRIEVE FEASIBILITY (key 'classification')
                            - type: object
                              title: acquisitionModeMinBH
                              properties:
                                key:
                                  enum:
                                  - acquisitionModeMinBH
                                  description: Only in STEREO and TRISTEREO modes
                                value:
                                  format: float
                                  type: number
                                  maximum: 0.8
                                  minimum: 0.2
                            - type: object
                              title: acquisitionModeMaxBH
                              properties:
                                key:
                                  enum:
                                  - acquisitionModeMaxBH
                                  description: Only in STEREO and TRISTEREO modes
                                value:
                                  format: float
                                  type: number
                                  maximum: 0.8
                                  minimum: 0.2
                        comments:
                          $ref: '#/components/schemas/Comments'
                  primaryMarket:
                    type: string
                    enum:
                    - AGRI
                    - GENIE
                    - GDPUBLIC
                    - DEFSEC
                    - DISTRI
                    - RISQUE
                    - ENERGIE
                    - ENV
                    - FORET
                    - SANTE
                    - ASSUR
                    - IOT
                    - CARTO
                    - MARITIME
                    - PRESSE
                    - MOBIL
                    - AUTRE
                    - TELECOM
                    - TOURISME
                    - TRANSPORT
                    - NQUAL
                  customerReference:
                    $ref: '#/components/schemas/CustomerReference'
                  optionsPerProductType:
                    type: array
                    items:
                      type: object
                      properties:
                        productTypeId:
                        - enum:
                          - PleiadesNeoOneDay
                          - PleiadesNeoOneNowWeather
                          - PleiadesNeoOneNowAttempts
                          - PleiadesNeoOnePlan
                          type: string
                        - enum:
                          - PleiadesNeoOneDayVrs
                          - PleiadesNeoOneNowWeatherVrs
                          - PleiadesNeoOneNowAttemptsVrs
                          - PleiadesNeoOnePlanVrs
                          type: string
                        options:
                          type: array
                          items:
                            anyOf:
                            - type: object
                              title: spectral_processing
                              properties:
                                key:
                                  enum:
                                  - spectral_processing
                                value:
                                  description: Defines the spectral processing
                                  default: full_bundle
                                  enum:
                                  - panchromatic
                                  - pansharpened
                                  - multispectral
                                  - bundle
                                  - full_bundle
                                  - full_pms
                                  - full_ms
                            - type: object
                              title: radiometric_processing
                              properties:
                                key:
                                  enum:
                                  - radiometric_processing
                                value:
                                  description: Defines the radiometric processing
                                  enum:
                                  - basic
                                  - reflectance
                                  - display
                            - type: object
                              title: image_format
                              properties:
                                key:
                                  enum:
                                  - image_format
                                value:
                                  description: Defines the output image format
                                  default: dimap_jpeg2000_regular
                                  enum:
                                  - dimap_jpeg2000_optimized
                                  - dimap_jpeg2000_regular
                                  - dimap_geotiff
                            - $ref: '#/components/schemas/pixelCoding'
                            - type: object
                              title: processing_level
                              properties:
                                key:
                                  enum:
                                  - processing_level
                                value:
                                  description: Defines the processing level
                                  enum:
                                  - ortho
                                  - projected
                                  - primary
                            - type: object
                              title: projection_i
                              properties:
                                key:
                                  enum:
                                  - projection_i
                                value:
                                  description: Defines the projection, i refers to the aoi's id (To be filled only if processing_level = ortho or projected)
                                  enum:
                                  - ortho
                                  - projected
                                  - primary
                            - $ref: '#/components/schemas/dem'
                            - type: object
                              title: elevation
                              properties:
                                key:
                                  enum:
                                  - elevation
                                value:
                                  description: Defines the elevation. To be filled only if processing_level = projected
                                  format: float
                                  type: number
                                  maximum: 10000
                                  minimum: -100
                            - type: object
                              title: priority
                              properties:
                                key:
                                  enum:
                                  - priority
                                value:
                                  description: Defines the priority. 'Rush' means no quality checking
                                  default: standard
                                  enum:
                                  - standard
                                  - rush
                            - type: object
                              title: licence
                              properties:
                                key:
                                  enum:
                                  - licence
                                value:
                                  description: Defines the licence (our licences in details here:https://www.intelligence-airbusds.com/legal/licences/).
                                  enum:
                                  - standard
                                  - background_layer
                                  - stand_background_layer
                            - type: object
                              title: delivery_method
                              properties:
                                key:
                                  enum:
                                  - delivery_method
                                value:
                                  description: Defines the delivery method
                                  enum:
                                  - on_the_flow
                                  - at_the_end
                  orderGroup:
                    description: Allows to provide a custom identifier for grouped invoicing
                    example: ''
                    type: string
                  endUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        endUserName:
                          type: string
                        country:
                          type: string
                          enum:
                          - SU
                          - NT
                          - AE
                          - AD
                          - AF
                          - AG
                          - AI
                          - AL
                          - AM
                          - AN
                          - AO
                          - AQ
                          - AR
                          - AS
                          - AT
                          - AU
                          - AW
                          - AX
                          - AZ
                          - BA
                          - BB
                          - BD
                          - BE
                          - BF
                          - BG
                          - BH
                          - BI
                          - BJ
                          - BL
                          - BM
                          - BN
                          - BO
                          - BR
                          - BS
                          - BT
                          - BV
                          - BW
                          - BY
                          - BZ
                          - CA
                          - CC
                          - CD
                          - CF
                          - CG
                          - CH
                          - CI
                          - CK
                          - CL
                          - CM
                          - CN
                          - CO
                          - CR
                          - CS
                          - CU
                          - CV
                          - CX
                          - CY
                          - CZ
                          - DE
                          - DJ
                          - DK
                          - DM
                          - DO
                          - DZ
                          - EC
                          - EE
                          - EG
                          - EH
                          - ER
                          - ES
                          - ET
                          - FI
                          - FJ
                          - FK
                          - FM
                          - FO
                          - FR
                          - GA
                          - GB
                          - GD
                          - GE
                          - GF
                          - GG
                          - GH
                          - GI
                          - GL
                          - GM
                          - GN
                          - GP
                          - GQ
                          - GR
                          - GS
                          - GT
                          - GU
                          - GW
                          - GY
                          - HK
                          - HM
                          - HN
                          - HR
                          - HT
                          - HU
                          - ID
                          - IE
                          - IL
                          - IM
                          - IN
                          - IO
                          - IQ
                          - IR
                          - IS
                          - IT
                          - JE
                          - JM
                          - JO
                          - JP
                          - KE
                          - KG
                          - KH
                          - KI
                          - KM
                          - KN
                          - KP
                          - KR
                          - KW
                          - KY
                          - KZ
                          - LA
                          - LB
                          - LC
                          - LI
                          - LK
                          - LR
                          - LS
                          - LT
                          - LU
                          - LV
                          - LY
                          - MA
                          - MC
                          - MD
                          - ME
                          - MF
                          - MG
                          - MH
                          - MK
                          - ML
                          - MM
                          - MN
                          - MO
                          - MP
                          - MQ
                          - MR
                          - MS
                          - MT
                          - MU
                          - MV
                          - MW
                          - MX
                          - MY
                          - MZ
                          - NA
                          - NC
                          - NE
                          - NF
                          - NG
                          - NI
                          - NL
                          - 'NO'
                          - NP
                          - NR
                          - NU
                          - NZ
                          - OM
                          - PA
                          - PE
                          - PF
                          - PG
                          - PH
                          - PK
                          - PL
                          - PM
                          - PN
                          - PR
                          - PS
                          - PT
                          - PW
                          - PY
                          - QA
                          - RE
                          - RO
                          - RS
                          - RU
                          - RW
                          - SA
                          - SB
                          - SC
                          - SD
                          - SE
                          - SG
                          - SH
                          - SI
                          - SJ
                          - SK
                          - SL
                          - SM
                          - SN
                          - SO
                          - SR
                          - SS
                          - ST
                          - SV
                          - SY
                          - SZ
                          - TC
                          - TD
                          - TF
                          - TG
                          - TH
                          - TJ
                          - TK
                          - TL
                          - TM
                          - TN
                          - TO
                          - TR
                          - TT
                          - TV
                          - TW
                          - TZ
                          - UA
                          - UG
                          - UM
                          - US
                          - UY
                          - UZ
                          - VA
                          - VC
                          - VE
                          - VG
                          - VI
                          - VN
                          - VU
                          - WF
                          - WS
                          - YE
                          - YT
                          - YU
                          - ZA
                          - ZM
                          - ZW
                    example:
                      endUsers:
                      - endUserName: Jack
                        country: FR
                  delivery:
                    $ref: '#/components/schemas/deliveryPNEO'
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        channels:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - email
                              addressee:
                                type: object
                                description: null
                                properties:
                                  to:
                                    type: array
                                    items:
                                      type: string
                                    description: 'recipients: list of people that need to receive notification regarding the tasking'
                                  cc:
                                    type: array
                                    items:
                                      type: string
                                    description: list of people being in copy
                        filter:
                          type: object
                          properties:
                            events:
                              type: array
                              items:
                                anyOf:
                                - type: object
                                  title: SALES_ORDER
                                  properties:
                                    event:
                                      enum:
                                      - SALES_ORDER
                                      description: An e-mail is generated when the order is confirmed
                                - type: object
                                  title: DELIVERY
                                  properties:
                                    event:
                                      enum:
                                      - DELIVERY
                                      description: An e-mail is generated upon every product delivery
                required:
                - contractId
                - aoi
                - items
                - customerReference
                - optionsPerProductType
                - endUsers
                - primaryMarket
                type: object
                example:
                  aoi:
                  - id: 2
                    name: Polygon 2
                    geometry:
                      type: Polygon
                      coordinates:
                      - - - -0.8847217475974262
                          - 48.627903919147286
                        - - -0.7528858100974261
                          - 48.627903919147286
                        - - -0.7528858100974261
                          - 48.711340646239705
[...]
