openapi: 3.2.0
info:
  title: Airbus Oneatlas Token retrieval API
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  version: '1.0'
  description: 'Operations tagged Token retrieval across 3 of this provider''s published API definitions: oneatlas-data-living-library-openapi.yml, oneatlas-data-pay-per-order-api-openapi.yml, oneatlas-data-pay-per-order-tasking-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
- description: API server
  url: https://order.api.oneatlas.airbus.com
tags:
- name: Token retrieval
paths:
  /auth/realms/IDP/protocol/openid-connect/token:
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                apikey:
                  description: The OneAtlas API key associated with the service account to authenticate.
                  example: SDKI5Fkx_LpILj_4kZjTJsoVgjJHvzj8khr4kwljpEjkjptuFYkSiALHYTuHlRblrizOYHbCX12Z2jRq-jHoUZD==
                  type: string
                client_id:
                  description: The API service group accessed. This service group can be retrieved by consulting the service documentation or calling the unprotected _/well_known/serviceGroup_ URI on the service itself.
                  enum:
                  - IDP
                  type: string
                grant_type:
                  description: OneAtlas Grant type. Must be the value _api_key_ for API key authentication.
                  enum:
                  - api_key
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  access_token:
                    description: The access token to use when calling protected APIs for the requested service group.
                    type: string
                  expires_in:
                    description: The number of secondes before this token is considered invalid (expiration).
                    format: integer
                    type: number
                  not-before-policy:
                    format: integer
                    type: number
                  refresh_expires_in:
                    format: integer
                    type: number
                  session_state:
                    $ref: '#/components/schemas/Id'
                  token_type:
                    description: The type of the returned token. Currently only bearer is supported.
                    enum:
                    - bearer
                    type: string
                type: object
              example:
                access_token: HEADER.PAYLOAD.SIGNATURE
                expires_in: 3600
                refresh_expires_in: 0
                token_type: Bearer
                not-before-policy: 0
                session_state: 0fc9b229-6b13-4ff6-812c-a4b1519704eb
                scope: ''
          description: Authentication successful
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      summary: Authenticate Using an API Key
      tags:
      - Token retrieval
      servers:
      - description: Prod authenticate server
        url: https://authenticate.foundation.api.oneatlas.airbus.com
    servers:
    - description: API server
      url: https://data.api.oneatlas.airbus.com
components:
  responses:
    '403':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: User has not enough rights to consume the item
    '500':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Internal server error
    '400':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Bad request
  schemas:
    Id:
      description: Unique Id of an element. Follows UUID v4 standard.
      example: d1c80fd9-ddf6-4f6a-b6dc-4c8e60be61e8
      format: uuid
      readOnly: true
      type: string
    ApiError:
      properties:
        correlationId:
          $ref: '#/components/schemas/Id'
        hint:
          type: string
        internalCode:
          example: 400
          format: integer
          type: number
        message:
          type: string
        timestamp:
          description: Number of seconds since 01/01/1970
          example: 1530088354390
          format: integer
          type: number
      type: object
x-refined-from:
- oneatlas-data-living-library-openapi.yml
- oneatlas-data-pay-per-order-api-openapi.yml
- oneatlas-data-pay-per-order-tasking-api-openapi.yml
