openapi: 3.2.0
info:
  title: OneAtlas Basemap Maps API
  description: OneAtlas Basemap API is a geospatial service that provides access to high-resolution satellite imagery and basemaps. It allows users to retrieve up-to-date visual information of any location on Earth, enabling them to analyze and monitor changes in the environment, infrastructure, and land use. The API offers a seamless and easy-to-use interface for developers to integrate mapping capabilities into their applications, providing valuable insights for a wide range of industries such as agriculture, urban planning, disaster management, and more. With OneAtlas Basemap API, users can access reliable and accurate geospatial data to support decision-making processes and enhance their understanding of the world around them.
  version: '2.0'
servers:
- url: https://view-bm.api.oneatlas.airbus.com
tags:
- name: Maps
paths:
  ? /basemap/wmts?layer=advancedBasemap&tilematrixset={tileSet}&Service={service}&Request={request}&Version=1.0.0&Format={format}&TileMatrix={zoomLevel}&TileCol={tileColumn}&TileRow={tileRow}
  : get:
      summary: Returns a Tile from a Layer.
      description: 'Returns a 256x256 tile from a layer in JPEG or PNG format.


        __IMPORTANT:__ whatever the requested image format is, a transparent image will be delivered in PNG format if no tile is found at the specified location.


        __Example__: https://view-bm.api.oneatlas.airbus.com/basemap/wmts?layer=advancedBasemap&style=default&tilematrixset=3857&Service=WMTS&Request=GetTile&Version=1.0.0&Format=image/unknown&TileMatrix=18&TileCol=132063&TileRow=95710

        '
      security:
      - Bearer: []
      parameters:
      - description: The format of the image you want to display
        in: path
        name: service
        required: true
        schema:
          type: string
          format: string
          enum:
          - WMTS
      - description: The service you request
        in: path
        name: request
        required: true
        schema:
          type: string
          format: string
          enum:
          - GetTile
      - name: tileSet
        description: The desired tile set from which to retrieve the tiles (currently supported set are 4326 (projected coordinates) and 3857 (spherical coordinates)). 3857 only is available at the moment.
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 3857
      - name: format
        description: the requested image format (image/jpeg or image/png).
        in: path
        required: true
        schema:
          type: string
          format: mime type
          enum:
          - image/jpeg
          - image/png
      - name: zoomLevel
        description: The map zoom level (Tilegrid depth). Starts at 0 and ends at 16 for SPOT layers, 17 for Pleiades layers and 19 for Pl�iades Neo layers.
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
      - name: tileColumn
        description: Tilegrid column. The index of the tile column within the chosen tilegrid (different options are available with GetCapabilities). Must be inferior or equal to MatrixWidth
        in: path
        required: true
        schema:
          type: integer
      - name: tileRow
        description: Tilegrid row. The index of the tile row within the chosen tilegrid (different options are available with GetCapabilities) Must be inferior or equal to MatrixHeight.
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Request successful - returns the requested tile as an image.
          headers:
            Content-Type:
              description: the image mime type returned (decided by the server)
              schema:
                type: string
        '401':
          description: 'Unauthorized: the authorization is missing or has expired.'
      tags:
      - Maps
components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: 'Enter the token with the `Bearer: ` prefix, e.g. "Bearer abcde12345".'
