openapi: 3.0.3
info:
  title: OneAtlas WorldDEM Access Pilot API
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: The OneAtlas WorldDEM API is a tool that provides access to high-resolution global elevation data. This data, collected by satellites and processed using advanced technologies, offers a detailed and accurate representation of the Earth's surface. By integrating the WorldDEM API into their applications, users can benefit from precise terrain information for a wide range of use cases, such as urban planning, disaster response, agriculture, and infrastructure development. This API allows developers to easily incorporate elevation data into their projects, enabling them to create more accurate and effective solutions.
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Elevation
security:
- basicAuth: []
tags:
- name: Pilot
paths:
  /api/v1/items/{catalogItemId}/download:
    head:
      description: Dry run version of the download endpoint, useful to get the checkum headers without downloading the data
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/CatalogItemId'
      responses:
        '200':
          description: Empty response body
          headers:
            X-Ads-Checksum-Method:
              schema:
                description: The method used to generate the checksum
                enum:
                - md5
                example: md5
                type: string
            X-Ads-Checksum-Value:
              schema:
                description: The value of the computed checksum
                example: 595f44fec1e92a71d3e9e77456ba80d1
                type: string
      summary: Retrieve Formatted Product Checksum
      tags:
      - Pilot
components:
  parameters:
    CorrelationID:
      description: CorrelationID is a header to track transaction identifier. If not specified, a new one is automatically generated.
      example: 799246d8-4172-11e8-b045-e7011a379ec4
      in: header
      name: X-Ads-Correlation-Id
      schema:
        $ref: '#/components/schemas/Id'
    CatalogItemId:
      description: Identifier of an IDP catalog item (property `id` of a search result).
      example: 799246d8-4172-11e8-b045-e7011a379ec4
      in: path
      name: catalogItemId
      required: true
      schema:
        $ref: '#/components/schemas/Id'
  schemas:
    Id:
      description: Unique Id of an element. Follows UUID v4 standard.
      example: d1c80fd9-ddf6-4f6a-b6dc-4c8e60be61e8
      format: uuid
      readOnly: true
      type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
