openapi: 3.0.3
info:
  title: OneAtlas WorldDEM Access Maps API
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: The OneAtlas WorldDEM API is a tool that provides access to high-resolution global elevation data. This data, collected by satellites and processed using advanced technologies, offers a detailed and accurate representation of the Earth's surface. By integrating the WorldDEM API into their applications, users can benefit from precise terrain information for a wide range of use cases, such as urban planning, disaster response, agriculture, and infrastructure development. This API allows developers to easily incorporate elevation data into their projects, enabling them to create more accurate and effective solutions.
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Elevation
security:
- basicAuth: []
tags:
- name: Maps
paths:
  ? /basemap/wmts?layer=advancedBasemap&tilematrixset={tileSet}&Service={service}&Request={request}&Version=1.0.0&Format={format}&TileMatrix={zoomLevel}&TileCol={tileColumn}&TileRow={tileRow}
  : get:
      summary: Returns a Tile from a Layer.
      description: 'Returns a 256x256 tile from a layer in JPEG or PNG format.


        __IMPORTANT:__ whatever the requested image format is, a transparent image will be delivered in PNG format if no tile is found at the specified location.


        __Example__: https://view-bm.api.oneatlas.airbus.com/basemap/wmts?layer=advancedBasemap&style=default&tilematrixset=3857&Service=WMTS&Request=GetTile&Version=1.0.0&Format=image/unknown&TileMatrix=18&TileCol=132063&TileRow=95710

        '
      security:
      - Bearer: []
      parameters:
      - description: The format of the image you want to display
        format: string
        in: path
        name: service
        enum:
        - WMTS
        required: true
        type: string
      - description: The service you request
        format: string
        in: path
        name: request
        enum:
        - GetTile
        required: true
        type: string
      - name: tileSet
        description: The desired tile set from which to retrieve the tiles (currently supported set are 4326 (projected coordinates) and 3857 (spherical coordinates)). 3857 only is available at the moment.
        type: integer
        in: path
        required: true
        enum:
        - 3857
      - name: format
        description: the requested image format (image/jpeg or image/png).
        type: string
        format: mime type
        enum:
        - image/jpeg
        - image/png
        in: path
        required: true
      - name: zoomLevel
        description: The map zoom level (Tilegrid depth). Starts at 0 and ends at 16 for SPOT layers, 17 for Pleiades layers and 19 for Pl�iades Neo layers.
        type: integer
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
        in: path
        required: true
      - name: tileColumn
        description: Tilegrid column. The index of the tile column within the chosen tilegrid (different options are available with GetCapabilities). Must be inferior or equal to MatrixWidth
        type: integer
        in: path
        required: true
      - name: tileRow
        description: Tilegrid row. The index of the tile row within the chosen tilegrid (different options are available with GetCapabilities) Must be inferior or equal to MatrixHeight.
        type: integer
        in: path
        required: true
      responses:
        '200':
          description: Request successful - returns the requested tile as an image.
          headers:
            Content-Type:
              description: the image mime type returned (decided by the server)
              type: string
        '401':
          description: 'Unauthorized: the authorization is missing or has expired.'
      tags:
      - Maps
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
