openapi: 3.2.0
info:
  title: Airbus Oneatlas Accounting/transactions API
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: 'Operations tagged accounting/transactions across 2 of this provider''s published API definitions: airbus-oneatlas-worlddem-api-openapi.yml, oneatlas-worlddem-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Elevation
security:
- basicAuth: []
tags:
- name: accounting/transactions
  description: 'Allows users to query their transactions.

    '
paths:
  /accounting/transactions:
    get:
      summary: Get Transactions of the Current User
      tags:
      - accounting/transactions
      responses:
        '200':
          description: transaction(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - description: Transaction information
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      item_id:
                        type: string
                        format: uuid
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                      order_id:
                        type: string
                        format: uuid
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        description: UUID of the order the request belongs to
                      transaction_type:
                        description: The type of transaction
                        type: string
                        enum:
                        - pay_in
                        - pay_out
                        - timeout
                      request_path:
                        type: string
                        example: /elevation/orders
                      balance:
                        description: the different available currencies
                        type: string
                        enum:
                        - EUR
                        - CREDITS
                        - USD
                      dif_value:
                        type: string
                        example: '35.2'
                      pending:
                        type: boolean
                      user_id:
                        type: string
                        format: uuid
                        description: UUID of the user
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                      timeout:
                        type: string
                        format: date-time
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
    servers:
    - url: https://sar.api.oneatlas.airbus.com/v1
      description: OneAtlas - Elevation
  /accounting/transactions/{itemId}:
    parameters:
    - in: path
      name: itemId
      schema:
        type: string
        example: e640f434-9761-4bd0-bf2d-2de2f31a13a9
        format: uuid
        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      description: UUID of requested transaction
      required: true
    get:
      summary: Get Specific Transaction of the Current User
      tags:
      - accounting/transactions
      responses:
        '200':
          description: transaction(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - description: Transaction information
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      item_id:
                        type: string
                        format: uuid
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                      order_id:
                        type: string
                        format: uuid
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        description: UUID of the order the request belongs to
                      transaction_type:
                        description: The type of transaction
                        type: string
                        enum:
                        - pay_in
                        - pay_out
                        - timeout
                      request_path:
                        type: string
                        example: /elevation/orders
                      balance:
                        description: the different available currencies
                        type: string
                        enum:
                        - EUR
                        - CREDITS
                        - USD
                      dif_value:
                        type: string
                        example: '35.2'
                      pending:
                        type: boolean
                      user_id:
                        type: string
                        format: uuid
                        description: UUID of the user
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                      timeout:
                        type: string
                        format: date-time
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
    servers:
    - url: https://sar.api.oneatlas.airbus.com/v1
      description: OneAtlas - Elevation
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- airbus-oneatlas-worlddem-api-openapi.yml
- oneatlas-worlddem-api-openapi.yml
