openapi: 3.2.0
info:
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  title: OneAtlas Data Living Library Notifications API
  description: OneAtlas Data Living Library is a platform that provides users with access to a diverse range of geospatial data and satellite imagery.
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
tags:
- name: Notifications
paths:
  /api/v1/notifications:
    get:
      description: Get all notifications for the current user contract
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $schema: http://json-schema.org/draft-06/schema#
                  additionalProperties: true
                  id: http://local/schemas/private/notifications.json#
                  properties:
                    createdAt:
                      type: string
                    data:
                      properties:
                        message:
                          type: string
                      type: object
                    id:
                      type: string
                    type:
                      type: integer
                  title: Notification schema
                  type: object
                type: array
          description: notifications list
      summary: Get All Notifications
      tags:
      - Notifications
      operationId: getApiV1Notifications
      x-operation-id-source: derived
x-tagGroups:
- name: Authentication
  tags:
  - APIkey management
  - Token retrieval
- name: Catalog search
  tags:
  - Catalog search
- name: Living Library ordering
  tags:
  - Orders
  - Subscriptions
