openapi: 3.2.0
info:
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  title: OneAtlas Data Living Library Format API
  description: OneAtlas Data Living Library is a platform that provides users with access to a diverse range of geospatial data and satellite imagery. The library is constantly updated with the latest data, ensuring that users have access to accurate and timely information for their projects. Users can easily search for and find the data they need, whether it be for environmental monitoring, urban planning, agriculture, or any other application. The platform also offers tools for analysis and visualization, allowing users to derive insights and make informed decisions based on the data they have access to. Overall, OneAtlas Data Living Library is a valuable resource for anyone looking to harness the power of geospatial data for their work.
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
tags:
- name: Format
paths:
  /api/v1/items/{catalogItemId}/format:
    post:
      description: Defines the format for the given catalog item id
      parameters:
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/CatalogItemId'
      - $ref: '#/components/parameters/Priority'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Format'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySmall'
          description: If last format (if exists) has the same payload. In this case X-Ads-CorrelationId header is ignored.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySmall'
          description: Creation of the format activity
      summary: Format Product
      tags:
      - Format
components:
  parameters:
    CatalogItemId:
      description: Identifier of an IDP catalog item (property `id` of a search result).
      example: 799246d8-4172-11e8-b045-e7011a379ec4
      in: path
      name: catalogItemId
      required: true
      schema:
        $ref: '#/components/schemas/Id'
    Priority:
      description: Priority is a header to sort activities. The highest priority is 1, the lowest is 9. If not specified, priority is set to 5.
      example: 799246d8-4172-11e8-b045-e7011a379ec4
      in: header
      name: X-Ads-Priority
      schema:
        $ref: '#/components/schemas/Id'
    CorrelationID:
      description: CorrelationID is a header to track transaction identifier. If not specified, a new one is automatically generated.
      example: 799246d8-4172-11e8-b045-e7011a379ec4
      in: header
      name: X-Ads-Correlation-Id
      schema:
        $ref: '#/components/schemas/Id'
  schemas:
    DimapV2PackagingParameters:
      properties:
        imageFormat:
          enum:
          - image/jp2
          - image/geotiff
          example: image/jp2
          type: string
      type: object
    Format:
      properties:
        checksum:
          properties:
            parameters:
              example:
                crcCode: dhdf54
              oneOf:
              - $ref: '#/components/schemas/Md5ChecksumParameters'
            type:
              enum:
              - md5
              - none
              type: string
          type: object
        compression:
          enum:
          - zip
          type: string
        packaging:
          properties:
            parameters:
              description: Key/value options of the packaging. Properties depend on the type of packaging
              example:
                imageFormat: image/jp2
              oneOf:
              - $ref: '#/components/schemas/DimapV2PackagingParameters'
            type:
              enum:
              - dimapV2
              type: string
          type: object
      type: object
    Id:
      description: Unique Id of an element. Follows UUID v4 standard.
      example: d1c80fd9-ddf6-4f6a-b6dc-4c8e60be61e8
      format: uuid
      readOnly: true
      type: string
    Md5ChecksumParameters:
      properties:
        crcCode:
          type: string
      type: object
    Link:
      description: Link object
      properties:
        href:
          description: The absolute web link
          example: https://monitoring.oneatlas.geoapi-airbusds.com/api/v1/activities/6b7a749b-64fb-48cd-ae68-39c0bbbe5051
          format: uri
          type: string
        method:
          default: GET
          description: HTTP verb to distinguish between several possible actions on the same ressource.
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - HEAD
          type: string
        name:
          description: The name of the link
          example: Self
          type: string
        resourceId:
          $ref: '#/components/schemas/Id'
        type:
          description: The mime-type when deferencing the link
          example: application/json
          type: string
      required:
      - href
      type: object
    ActivitySmall:
      properties:
        _links:
          properties:
            history:
              allOf:
              - description: See [Get activity stages](#/paths/~1api~1v1~1activities~1{correlationId}~1stages/get)
              - $ref: '#/components/schemas/Link'
            monitoring:
              allOf:
              - description: See [Get activity](#/paths/~1api~1v1~1activities~1{correlationId}/get)
              - $ref: '#/components/schemas/Link'
          readOnly: true
          type: object
        message:
          description: A free text (copy of the last stage message)
          readOnly: true
          type: string
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - APIkey management
  - Token retrieval
- name: Catalog search
  tags:
  - Catalog search
- name: Living Library ordering
  tags:
  - Orders
  - Subscriptions
