openapi: 3.0.3
info:
  title: OneAtlas WorldDEM Access Opensearch API
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: The OneAtlas WorldDEM API is a tool that provides access to high-resolution global elevation data. This data, collected by satellites and processed using advanced technologies, offers a detailed and accurate representation of the Earth's surface. By integrating the WorldDEM API into their applications, users can benefit from precise terrain information for a wide range of use cases, such as urban planning, disaster response, agriculture, and infrastructure development. This API allows developers to easily incorporate elevation data into their projects, enabling them to create more accurate and effective solutions.
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Elevation
security:
- basicAuth: []
tags:
- name: Opensearch
paths:
  /api/v1/opensearch:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
          description: OK
      tags:
      - Opensearch
components:
  schemas:
    GeojsonGeometry:
      externalDocs:
        url: http://geojson.org/geojson-spec.html#geometry-objects
      properties:
        geometry:
          description: A valid geojson geometry coordinates
          type: object
        type:
          enum:
          - Polygon
      type: object
    Privilege:
      example:
        filter:
          workspace: public
        rights:
          browse: {}
          wmts: {}
        userId: de2d5963-a8a5-41b5-9f2a-ed6d478eb3af
      properties:
        createdAt:
          description: The creation time of the created Privilege. This is returned when the Privilege is properly created.
          format: datetime
          readOnly: true
          type: string
        filter:
          description: Filters the scope of the privilege (e.g. by workspace, id)
          properties:
            id:
              $ref: '#/components/schemas/Id'
            workspace:
              $ref: '#/components/schemas/WorkspaceIdentifier'
          required:
          - workspace
          type: object
        id:
          $ref: '#/components/schemas/Id'
        priority:
          description: The priority of the privilege
          example: 10
          format: int64
          type: integer
        rights:
          description: List of rights granted to a user. For now, only "browse" is supported. Therefore, it will give all the rights for now.
          properties:
            browse:
              description: Indicates that the user is granted the right to browse the target of the privilege
              type: object
            buffer:
              description: Indicates that the user is granted the right to request buffer dissemination
              type: object
            download:
              description: Indicates that the user is granted the right to request download dissemination
              type: object
            wms:
              description: Indicates that the user is granted the right to request WMS disseminatione
              type: object
            wmts:
              description: Indicates that the user is granted the right to request WMTS dissemination
              type: object
          type: object
        subscriptionId:
          $ref: '#/components/schemas/Id'
        userId:
          $ref: '#/components/schemas/Id'
      required:
      - userId
      - filter
      - rights
      type: object
    WorkspaceIdentifier:
      oneOf:
      - $ref: '#/components/schemas/Id'
      - description: The name of the workspace, must be seen as a human readable technique id. Can not be formatted like an id. Must be unique in the platform. Auto-generated if not provided at the creation of the workspace.
        example: MySuperWorkspace
        type: string
    CatalogItem:
      properties:
        _links:
          properties:
            buffer:
              allOf:
              - description: See [Get buffer](#/paths/~1api~1v1~1items~1{catalogItemId}~1images~1{imageId}~1buffer/post)
              - $ref: '#/components/schemas/Link'
            download:
              description: 'See [Download formatted product](#/paths/~1api~1v1~1items~1{catalogItemId}~1download/get) and direct download links (gs, ftp)

                '
              items:
                $ref: '#/components/schemas/Link'
              minItems: 1
              type: array
            imagesMetadata:
              description: See [Get catalog item image metadata](#/paths/~1api~1v1~1items~1{catalogItemId}~1images~1{imageId}~1metadata/get)
              items:
                $ref: '#/components/schemas/Link'
              minItems: 1
              type: array
            quicklook:
              allOf:
              - description: See [QuickLook](#/paths/~1api~1v1~1items~1{catalogItemId}~1quicklook/get)
              - $ref: '#/components/schemas/Link'
            thumbnail:
              allOf:
              - description: See [Thumbnail](#/paths/~1api~1v1~1items~1{catalogItemId}~1thumbnail/get)
              - $ref: '#/components/schemas/Link'
            wms:
              allOf:
              - description: 'See [WMS OTF visualization](#/paths/~1api~1v1~1items~1{catalogItemId}~1wms/get) and [WMS visualization](#/paths/~1api~1v1~1items~1{catalogItemId}~1images~1{imageId}~1wms/get)

                  '
              - $ref: '#/components/schemas/Link'
            wmts:
              allOf:
              - description: 'See [WMTS OTF visualization](#/paths/~1api~1v1~1items~1{catalogItemId}~1wmts/get) and [WMTS visualization](#/paths/~1api~1v1~1items~1{catalogItemId}~1images~1{imageId}~1wmts/get)

                  '
              - $ref: '#/components/schemas/Link'
          readOnly: true
          type: object
        geometry:
          $ref: '#/components/schemas/GeojsonGeometry'
        properties:
          properties:
            acquisitionDate:
              example: '2018-02-28T11:00:29.027Z'
              format: date-time
              type: string
            acquisitionStation:
              example: FR1
              type: string
            archivingCenter:
              example: FR1
              type: string
            azimuthAngle:
              example: 180.0016489732347
              format: double
              type: number
            cloudCover:
              example: 40.6133
              format: float
              type: number
            constellation:
              description: '*Enumeration is not restrictive*'
              enum:
              - SPOT
              - PLEIADES
              - SENTINEL-2
              example: PHR
              type: string
            correlationId:
              $ref: '#/components/schemas/Id'
            format:
              example: image/jp2
              type: string
            id:
              $ref: '#/components/schemas/Id'
            illuminationAzimuthAngle:
              example: 153.1708281261751
              format: double
              type: number
            illuminationElevationAngle:
              example: 41.29941056994953
              format: double
              type: number
            incidenceAngle:
              example: 18.92724363373624
              format: double
              type: number
            incidenceAngleAcrossTrack:
              example: 13.90087672831772
              format: double
              type: number
            incidenceAngleAlongTrack:
              example: 13.35195258346335
              format: double
              type: number
            organisationName:
              example: AIRBUS DS GEO
              type: string
            parentIdentifier:
              example: DS_PHR1A_201703101042018_FR1_PX_E002N41_0311_03240
              type: string
            platform:
              description: '*Enumeration is not restrictive*'
              enum:
              - PHR1A
              - SPOT6
              - SPOT7
              - SENTINEL2-A
              type: string
            processingCenter:
              example: FCMUGC
              type: string
            processingDate:
              example: '2017-11-22T10:54:33.987'
              format: date-time
              type: string
            processingLevel:
              example: SENSOR
              type: string
            processorName:
              example: IPU V_05_03vV_05_03
              type: string
            productType:
              description: '*Enumeration is not restrictive*'
              enum:
              - mono
              - bundle
              - panchromatic
              - multispectral
              - pansharpen
              type: string
            productionStatus:
              oneOf:
              - description: Internal item
                properties:
                  archive:
                    description: Data is archived outside the platform.
                    properties:
                      expirationDate:
                        description: Date of deletion of this metadata item if no other prodution status is defined.
                        example: '2019-03-31T10:59:16.537577277Z'
                        format: date-time
                        type: string
                    type: object
                  nearline:
                    description: Data is archived inside the platform.
                    properties:
                      expirationDate:
                        description: Date of deletion of the data in the archive section of the platform and deletion of the metadata item if no other prodution status is defined.
                        example: '2019-03-31T10:59:16.537577277Z'
                        format: date-time
                        type: string
                    type: object
                  online:
                    description: Data is available on the platform.
                    properties:
                      expirationDate:
                        description: Date of deletion of the data in the online section of the platform and deletion of the metadata item if no other prodution status is defined.
                        example: '2019-03-31T10:59:16.537577277Z'
                        format: date-time
                        type: string
                    type: object
                type: object
              - description: External item
                properties:
                  external:
                    description: Data is available outside the platform.
                    properties:
                      expirationDate:
                        description: Date of deletion of this metadata item
                        example: '2019-03-31T10:59:16.537577277Z'
                        format: date-time
                        type: string
                    type: object
                type: object
            publicationDate:
              example: '2018-03-31T10:59:16.537577277Z'
              format: date-time
              type: string
            qualified:
              example: false
              type: boolean
            resolution:
              description: In meters
              example: 0.5
              format: float
              type: number
            sensorType:
              example: OPTICAL
              type: string
            snowCover:
              example: 0
              format: float
              type: number
            sourceIdentifier:
              example: DS_PHR1A_201703101041248_FR1_PX_E002N41_0311_03233
              type: string
            spectralRange:
              example: VISIBLE
              type: string
            title:
              example: DS_PHR1A_201703101041248_FR1_PX_E002N41_0311_03233
              type: string
            workspaceId:
              $ref: '#/components/schemas/Id'
            workspaceName:
              example: public
              type: string
            workspaceTitle:
              example: Public
              type: string
          type: object
        rights:
          properties:
            associatedData:
              description: If present, indicates that the user who performed the request can use the associatedData links. Otherwise, a 403 status code will be returned.
              properties:
                privileges:
                  items:
                    $ref: '#/components/schemas/Privilege'
                  type: array
              type: object
            browse:
              description: If present, indicates that the user who performed the request can view the item in a catalog search response and can use the metadata and histogram links. Otherwise, a 403 status code will be returned.
              properties:
                privileges:
                  items:
                    $ref: '#/components/schemas/Privilege'
                  type: array
              type: object
            buffer:
              description: If present, indicates that the user who performed the request can use the buffer links. Otherwise, a 403 status code will be returned.
              properties:
                privileges:
                  items:
                    $ref: '#/components/schemas/Privilege'
                  type: array
              type: object
            download:
              description: If present, indicates that the user who performed the request can use the download link. Otherwise, a 403 status code will be returned.
              properties:
                privileges:
                  items:
                    $ref: '#/components/schemas/Privilege'
                  type: array
              type: object
            wms:
              description: If present, indicates that the user who performed the request can use the wms, panchroWms and multispectralWms links. Otherwise, a 403 status code will be returned.
              properties:
                privileges:
                  items:
                    $ref: '#/components/schemas/Privilege'
                  type: array
              type: object
            wmts:
              description: If present, indicates that the user who performed the request can use the wmts, panchroWmts and multispectralWmts links. Otherwise, a 403 status code will be returned.
              properties:
                privileges:
                  items:
                    $ref: '#/components/schemas/Privilege'
                  type: array
              type: object
          readOnly: true
          type: object
        type:
          example: Feature
          readOnly: true
          type: string
      type: object
    Link:
      description: Link object
      properties:
        href:
          description: The absolute web link
          example: https://monitoring.oneatlas.geoapi-airbusds.com/api/v1/activities/6b7a749b-64fb-48cd-ae68-39c0bbbe5051
          format: uri
          type: string
        method:
          default: GET
          description: HTTP verb to distinguish between several possible actions on the same ressource.
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - HEAD
          type: string
        name:
          description: The name of the link
          example: Self
          type: string
        resourceId:
          $ref: '#/components/schemas/Id'
        type:
          description: The mime-type when deferencing the link
          example: application/json
          type: string
      required:
      - href
      type: object
    SearchResponse:
      properties:
        error:
          example: false
          type: boolean
        features:
          items:
            $ref: '#/components/schemas/CatalogItem'
          type: array
        itemsPerPage:
          description: Number of requested items per page
          example: 100
          minimum: 1
          type: integer
        startIndex:
          description: The index of the first item present in the response
          example: 0
          minimum: 0
          type: integer
        totalResults:
          description: The total number of items present in the catalog
          example: 956126
          maximum: 10000
          minimum: 0
          type: integer
        type:
          example: FeatureCollection
          type: string
      type: object
    Id:
      description: Unique Id of an element. Follows UUID v4 standard.
      example: d1c80fd9-ddf6-4f6a-b6dc-4c8e60be61e8
      format: uuid
      readOnly: true
      type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
