openapi: 3.2.0
info:
  title: Airbus Oneatlas Elevation/price API
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: 'Operations tagged elevation/price across 2 of this provider''s published API definitions: airbus-oneatlas-worlddem-api-openapi.yml, oneatlas-worlddem-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sar.api.oneatlas.airbus.com/v1
  description: OneAtlas - Elevation
security:
- basicAuth: []
tags:
- name: elevation/price
  description: 'Endpoint to query to price of an elevation order.

    '
paths:
  /elevation/price:
    post:
      summary: Get the Price of Elevation Item/download Request
      tags:
      - elevation/price
      requestBody:
        description: object that describes the requested data. Multiple items can be placed in the "items" part.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - items
              - kind
              properties:
                kind:
                  type: string
                  enum:
                  - order.item
                  - order
                title:
                  type: string
                  maxLength: 32
                  pattern: ^([a-zA-Z0-9 _-]{0,32})$
                  description: user defined title of an order to ease the identification of an order (max. 32 characters)
                  example: Friedrichshafen
                customer:
                  type: string
                  description: name of the user's end customer (only relevant for resellers)
                  example: Airbus Intelligence Germany
                items:
                  type: array
                  required:
                  - itemType
                  items:
                    type: object
                    required:
                    - aoi
                    - itemType
                    properties:
                      crsCode:
                        type: string
                        example: urn:ogc:def:crs:EPSG::4326
                      itemFormat:
                        type: string
                        description: output format for area (GeoJSON only for Point, GeoTIFF only for Polygon)
                        enum:
                        - GeoTIFF
                        - GeoJSON
                      itemType:
                        type: string
                        enum:
                        - dem.wddsm
                        - dem.wd4o
                        - dem.wddtmlite
                        - dem.wdneo
                        - dem.wd30
                        - dem.wdneodtm
                      aoi:
                        oneOf:
                        - description: The GeoJSON Point
                          type: object
                          required:
                          - type
                          - coordinates
                          properties:
                            type:
                              type: string
                              example: Point
                              enum:
                              - Point
                            coordinates:
                              description: Basic geometry type describing longitude and latitude
                              type: array
                              minItems: 2
                              items:
                                type: number
                              example:
                              - 9.3
                              - 47.7
                        - description: The GeoJSON MultiPoint (currently **not implemented**)
                          type: object
                          required:
                          - type
                          - coordinates
                          properties:
                            type:
                              type: string
                              example: MultiPoint
                              enum:
                              - MultiPoint
                            coordinates:
                              type: array
                              minItems: 1
                              items:
                                description: Basic geometry type describing longitude and latitude
                                type: array
                                minItems: 2
                                items:
                                  type: number
                                example:
                                - 9.3
                                - 47.7
                        - description: The GeoJSON Polygon
                          type: object
                          required:
                          - type
                          - coordinates
                          properties:
                            type:
                              type: string
                              example: Polygon
                              enum:
                              - Polygon
                            coordinates:
                              type: array
                              minItems: 1
                              items:
                                description: Closed ring of four or more positions. First and last position must be identical.
                                type: array
                                minItems: 4
                                items:
                                  description: Basic geometry type describing longitude and latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                  - 9.3
                                  - 47.7
                                example:
                                - - 9.3
                                  - 47.7
                                - - 9.3
                                  - 47.2
                                - - 9.5
                                  - 47.2
                                - - 9.5
                                  - 47.7
                                - - 9.3
                                  - 47.7
                        - description: The GeoJSON MultiPolygon
                          type: object
                          required:
                          - type
                          - coordinates
                          properties:
                            type:
                              type: string
                              example: MultiPolygon
                              enum:
                              - MultiPolygon
                            coordinates:
                              type: array
                              minItems: 1
                              example:
                              - - - 9.3
                                  - 47.7
                                - - 9.4
                                  - 47.7
                                - - 9.4
                                  - 47.65
                                - - 9.3
                                  - 47.7
                              items:
                                type: array
                                minItems: 1
                                items:
                                  description: Closed ring of four or more positions. First and last position must be identical.
                                  type: array
                                  minItems: 4
                                  items:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                                  example:
                                  - - 9.3
                                    - 47.7
                                  - - 9.3
                                    - 47.2
                                  - - 9.5
                                    - 47.2
                                  - - 9.5
                                    - 47.7
                                  - - 9.3
                                    - 47.7
                        - description: The GeoJSON LineString (currently **not implemented**)
                          type: object
                          required:
                          - type
                          - coordinates
                          properties:
                            type:
                              type: string
                              example: LineString
                              enum:
                              - LineString
                            coordinates:
                              description: String of connected positions
                              type: array
                              minItems: 2
                              items:
                                description: Basic geometry type describing longitude and latitude
                                type: array
                                minItems: 2
                                items:
                                  type: number
                                example:
                                - 9.3
                                - 47.7
                              example:
                              - - 9.3
                                - 47.7
                              - - 9.5
                                - 47.2
                        - description: The GeoJSON MultiLineString (currently **not implemented**)
                          type: object
                          required:
                          - type
                          - coordinates
                          properties:
                            type:
                              type: string
                              example: MultiLineString
                              enum:
                              - MultiLineString
                            coordinates:
                              type: array
                              minItems: 1
                              items:
                                description: String of connected positions
                                type: array
                                minItems: 2
                                items:
                                  description: Basic geometry type describing longitude and latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                  - 9.3
                                  - 47.7
                                example:
                                - - 9.3
                                  - 47.7
                                - - 9.5
                                  - 47.2
                        example:
                          type: Polygon
                          coordinates:
                          - - - 9.3
                              - 47.7
                            - - 9.4
                              - 47.7
                            - - 9.4
                              - 47.65
                            - - 9.3
                              - 47.7
      responses:
        '200':
          description: Object that can be sent to /orders
          content:
            application/json:
              schema:
                description: order object with price included
                allOf:
                - type: object
                  required:
                  - kind
                  - items
                  - price
                  - billableAreaKm2
                  properties:
                    kind:
                      type: string
                      enum:
                      - order.item
                      - order
                    title:
                      type: string
                      maxLength: 32
                      pattern: ^([a-zA-Z0-9 _-]{0,32})$
                      description: user defined title of an order to ease the identification of an order (max. 32 characters)
                      example: Friedrichshafen
                    customer:
                      type: string
                      description: name of the user's end customer (only relevant for resellers)
                      example: Airbus Intelligence Germany
                    items:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - aoi
                          - itemType
                          properties:
                            crsCode:
                              type: string
                              example: urn:ogc:def:crs:EPSG::4326
                            itemFormat:
                              type: string
                              description: output format for area (GeoJSON only for Point, GeoTIFF only for Polygon)
                              enum:
                              - GeoTIFF
                              - GeoJSON
                            itemType:
                              type: string
                              enum:
                              - dem.wddsm
                              - dem.wd4o
                              - dem.wddtmlite
                              - dem.wdneo
                              - dem.wd30
                              - dem.wdneodtm
                            aoi:
                              oneOf:
                              - description: The GeoJSON Point
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Point
                                    enum:
                                    - Point
                                  coordinates:
                                    description: Basic geometry type describing longitude and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                    - 9.3
                                    - 47.7
                              - description: The GeoJSON MultiPoint (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPoint
                                    enum:
                                    - MultiPoint
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                              - description: The GeoJSON Polygon
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Polygon
                                    enum:
                                    - Polygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: Closed ring of four or more positions. First and last position must be identical.
                                      type: array
                                      minItems: 4
                                      items:
                                        description: Basic geometry type describing longitude and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                        - 9.3
                                        - 47.7
                                      example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.3
                                        - 47.2
                                      - - 9.5
                                        - 47.2
                                      - - 9.5
                                        - 47.7
                                      - - 9.3
                                        - 47.7
                              - description: The GeoJSON MultiPolygon
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPolygon
                                    enum:
                                    - MultiPolygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    example:
                                    - - - 9.3
                                        - 47.7
                                      - - 9.4
                                        - 47.7
                                      - - 9.4
                                        - 47.65
                                      - - 9.3
                                        - 47.7
                                    items:
                                      type: array
                                      minItems: 1
                                      items:
                                        description: Closed ring of four or more positions. First and last position must be identical.
                                        type: array
                                        minItems: 4
                                        items:
                                          description: Basic geometry type describing longitude and latitude
                                          type: array
                                          minItems: 2
                                          items:
                                            type: number
                                          example:
                                          - 9.3
                                          - 47.7
                                        example:
                                        - - 9.3
                                          - 47.7
                                        - - 9.3
                                          - 47.2
                                        - - 9.5
                                          - 47.2
                                        - - 9.5
                                          - 47.7
                                        - - 9.3
                                          - 47.7
                              - description: The GeoJSON LineString (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: LineString
                                    enum:
                                    - LineString
                                  coordinates:
                                    description: String of connected positions
                                    type: array
                                    minItems: 2
                                    items:
                                      description: Basic geometry type describing longitude and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                      - 9.3
                                      - 47.7
                                    example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.5
                                      - 47.2
                              - description: The GeoJSON MultiLineString (currently **not implemented**)
                                type: object
                                required:
                                - type
                                - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiLineString
                                    enum:
                                    - MultiLineString
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: String of connected positions
                                      type: array
                                      minItems: 2
                                      items:
                                        description: Basic geometry type describing longitude and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                        - 9.3
                                        - 47.7
                                      example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.5
                                        - 47.2
                              example:
                                type: Polygon
                                coordinates:
                                - - - 9.3
                                    - 47.7
                                  - - 9.4
                                    - 47.7
                                  - - 9.4
                                    - 47.65
                                  - - 9.3
                                    - 47.7
                        - type: object
                          required:
                          - price
                          - areaKm2
                          - billableAreaKm2
                          properties:
                            price:
                              description: Price information
                              type: object
                              required:
                              - amountUnit
                              - amount
                              - amountPerKm2
                              properties:
                                amountUnit:
                                  type: string
                                  enum:
                                  - EUR
                                  - CREDITS
                                  - USD
                                amount:
                                  type: number
                                  example: 83.4
                                amountPerKm2:
                                  type: number
                                  example: 4
                            areaKm2:
                              type: number
                              example: 20.85
                              description: area in km� of AOI
                            billableAreaKm2:
                              type: number
                              example: 15.23
                              description: area (in km�) of AOI with elevation information available and therefore billable
                            discounts:
                              type: object
                              properties:
                                reseller:
                                  allOf:
                                  - description: The reseller discount granted for being a reseller
                                  - type: object
                                    properties:
                                      basePrice:
                                        allOf:
                                        - description: The base price this discount uses for calculations
                                        - description: Price information
                                          type: object
                                          required:
                                          - amountUnit
                                          - amount
                                          - amountPerKm2
                                          properties:
                                            amountUnit:
                                              type: string
                                              enum:
                                              - EUR
                                              - CREDITS
                                              - USD
                                            amount:
                                              type: number
                                              example: 83.4
                                            amountPerKm2:
                                              type: number
                                              example: 4
                                      percentage:
                                        description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                        minimum: 0
                                        maximum: 100
                                        type: number
                                        example: 34.56
                                      amount:
                                        description: The amount which will be deducted from the basePrice amount
                                        type: number
                                        maximum: 0
                                        example: -123.45
                                      amountPerKm2:
                                        description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                        type: number
                                        maximum: 0
                                        example: -0.5
                                      amountUnit:
                                        type: string
                                        enum:
                                        - EUR
                                        - CREDITS
                                        - USD
                                volume:
                                  allOf:
                                  - description: The volume discount granted depending on the item area
                                  - allOf:
                                    - type: object
                                      properties:
                                        basePrice:
                                          allOf:
                                          - description: The base price this discount uses for calculations
                                          - description: Price information
                                            type: object
                                            required:
                                            - amountUnit
                                            - amount
                                            - amountPerKm2
                                            properties:
                                              amountUnit:
                                                type: string
                                                enum:
                                                - EUR
                                                - CREDITS
                                                - USD
                                              amount:
                                                type: number
                                                example: 83.4
                                              amountPerKm2:
                                                type: number
                                                example: 4
                                        percentage:
                                          description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                          minimum: 0
                                          maximum: 100
                                          type: number
                                          example: 34.56
                                        amount:
                                          description: The amount which will be deducted from the basePrice amount
                                          type: number
                                          maximum: 0
                                          example: -123.45
                                        amountPerKm2:
                                          description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                          type: number
                                          maximum: 0
                                          example: -0.5
                                        amountUnit:
                                          type: string
                                          enum:
                                          - EUR
                                          - CREDITS
                                          - USD
                                    - type: object
                                      properties:
                                        nextDiscount:
                                          description: The next possible discount
                                          allOf:
                                          - type: object
                                            properties:
                                              basePrice:
                                                allOf:
                                                - description: The base price this discount uses for calculations
                                                - description: Price information
                                                  type: object
                                                  required:
                                                  - amountUnit
                                                  - amount
                                                  - amountPerKm2
                                                  properties:
                                                    amountUnit:
                                                      type: string
                                                      enum:
                                                      - EUR
                                                      - CREDITS
                                                      - USD
                                                    amount:
                                                      type: number
                                                      example: 83.4
                                                    amountPerKm2:
                                                      type: number
                                                      example: 4
                                              percentage:
                                                description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                                minimum: 0
                                                maximum: 100
                                                type: number
                                                example: 34.56
                                              amount:
                                                description: The amount which will be deducted from the basePrice amount
                                                type: number
                                                maximum: 0
                                                example: -123.45
                                              amountPerKm2:
                                                description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                                type: number
                                                maximum: 0
                                                example: -0.5
                                              amountUnit:
                                                type: string
                                                enum:
                                                - EUR
                                                - CREDITS
                                                - USD
                                          - type: object
                                            properties:
                                              missingKm2:
                                                description: The missing billable km� for the next discount to be reached
                                                type: number
                                                example: '1234.45'
                                total:
                                  allOf:
                                  - description: The total discount applied (which is the sum of all other discounts)
                                  - type: object
                                    properties:
                                      basePrice:
                                        allOf:
                                        - description: The base price this discount uses for calculations
                                        - description: Price information
                                          type: object
                                          required:
                                          - amountUnit
                                          - amount
                                          - amountPerKm2
                                          properties:
                                            amountUnit:
                                              type: string
                                              enum:
                                              - EUR
                                              - CREDITS
                                              - USD
                                            amount:
                                              type: number
                                              example: 83.4
                                            amountPerKm2:
                                              type: number
                                              example: 4
                                      percentage:
                                        description: Percent value of the discount, used to calculated the deducted amount & amountPerKm2 from the basePrice
                                        minimum: 0
                                        maximum: 100
                                        type: number
                                        example: 34.56
                                      amount:
                                        description: The amount which will be deducted from the basePrice amount
                                        type: number
                                        maximum: 0
                                        example: -123.45
                                      amountPerKm2:
                                        description: The amountPerKm2 which will be deducted from the basePrice amountPerKm2
                                        type: number
                                        maximum: 0
                                        example: -0.5
                                      amountUnit:
                                        type: string
                                        enum:
                                        - EUR
                                        - CREDITS
                                        - USD
                    areaKm2:
                      type: number
                      example: 20.85
                      description: area in km� of AOI
                    billableAreaKm2:
                      type: number
                      example: 15.23
                      description: area (in km�) of AOI with elevation information available and therefore billable
                    price:
                      description: Price information
                      type: object
                      required:
                      - amountUnit
                      - amount
                      properties:
                        amountUnit:
                          type: string
                          enum:
                          - EUR
                          - CREDITS
                          - USD
                        amount:
                          type: number
                          example: 83.4
                    orderable:
                      type: boolean
                      example: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
    servers:
    - url: https://sar.api.oneatlas.airbus.com/v1
      description: OneAtlas - Elevation
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- airbus-oneatlas-worlddem-api-openapi.yml
- oneatlas-worlddem-api-openapi.yml
