openapi: 3.2.0
info:
  contact:
    email: intelligence-customertechnicalsupport@fr.airbus.com
    name: API support
    url: https://oneatlas.airbus.com
  title: OneAtlas Data Living Library Contracts API
  description: OneAtlas Data Living Library is a platform that provides users with access to a diverse range of geospatial data and satellite imagery.
servers:
- description: API server
  url: https://data.api.oneatlas.airbus.com
tags:
- name: Contracts
paths:
  /api/v1/contracts/{contractId}/notifications:
    parameters:
    - $ref: '#/components/parameters/contractId'
    get:
      description: Get all contract notifications by contract id
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $schema: http://json-schema.org/draft-06/schema#
                  additionalProperties: true
                  id: http://local/schemas/private/notifications.json#
                  properties:
                    createdAt:
                      type: string
                    data:
                      properties:
                        message:
                          type: string
                      type: object
                    id:
                      type: string
                    type:
                      type: integer
                  title: Notification schema
                  type: object
                type: array
          description: notifications list
      tags:
      - Contracts
      summary: Get api contracts by contract id notifications
      x-summary-source: derived
      operationId: getApiV1ContractsByContractIdNotifications
      x-operation-id-source: derived
  /api/v1/contracts:
    get:
      summary: Get Contracts
      tags:
      - Contracts
      description: Get all contracts
      responses:
        '200':
          description: List of all contracts
      servers:
      - description: Tasking API server
        url: https://task.api.oneatlas.airbus.com
      operationId: getApiV1Contracts
      x-operation-id-source: derived
components:
  parameters:
    contractId:
      description: It corresponds to an internal id for the customer contract - you will be provided the contractId
      in: path
      name: contractId
      required: true
      schema:
        type: string
x-tagGroups:
- name: Authentication
  tags:
  - APIkey management
  - Token retrieval
- name: Catalog search
  tags:
  - Catalog search
- name: Living Library ordering
  tags:
  - Orders
  - Subscriptions
