openapi: 3.0.3
info:
  title: OneAtlas - Elevation
  version: 1.0.1
  contact:
    email: dl-geo-webservices@airbus.com
  description: >
    REST API to order DEM data (Elevation API) <br/>

    <ul>
      <li>place orders</li>
      <li>show placed orders</li>
      <li>download purchased data</li>
    </ul>

    <br/> 

    Those commands can be used to test and understand the services provided by
    the APIs. You can use them in a third party application such as Postman.
tags:
  - name: user
    description: |
      Endpoint for generic user information.
  - name: accounting/balance
    description: |
      Allows users to query their current balance.
  - name: accounting/transactions
    description: |
      Allows users to query their transactions.
  - name: elevation/price
    description: |
      Endpoint to query to price of an elevation order.
  - name: elevation/orders
    description: |
      All operations needed to order DEM data:
        * place orders
        * show placed orders
        * download purchased data
servers:
  - url: https://sar.api.oneatlas.airbus.com/v1
    description: OneAtlas - Elevation
paths:
  /user/whoami:
    get:
      summary: Return account information of the current user
      tags:
        - user
      responses:
        '200':
          description: Basic account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    description: Unique account name
                    example: john.doe@company.com
                  contract_type:
                    type: string
                  pw_change_needed:
                    type: boolean
                    description: >-
                      This flag is set if the password has been (re)set by the
                      system or flagged for some other reason (e.g. if security
                      standards have changed). It is unrelated to the password
                      expiration date.
                  pw_expiration_date:
                    type: string
                    format: date
                    description: >-
                      If the password of this account is set to expire, this is
                      the end date (included) until which the password can be
                      used to log in without being changed
                  expiration_date:
                    type: string
                    format: date
                    nullable: true
                    description: End date (included) until which the user is able to log in
                  services:
                    type: array
                    items:
                      type: string
                      example: radar
                      enum:
                        - radar
                        - worlddem
                        - mgmt
                      description: The service identifier
                    example:
                      - radar
                      - worlddem
                  registration_status:
                    type: string
                    enum:
                      - pending
                      - in_progress
                      - completed
                    description: >-
                      This flag is only set if the account isn't fully
                      registered
                  oneatlas_username:
                    type: string
                    description: Account username in OneAtlas
                    example: john.doe@company.com
                    nullable: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: RFC-7807 Problem Details
                type: object
                properties:
                  type:
                    type: string
                    description: URI reference that identifies the problem type.
                    example: /problems/example-problem
                  title:
                    type: string
                    description: >-
                      Human-readable summary of the problem type. Should not
                      change from occurrence to occurrence of the problem.
                    example: Some error occurred
                  status:
                    type: integer
                    description: HTTP status code associated with the problem type.
                    example: 418
                  detail:
                    type: string
                    description: >-
                      Human-readable explanation specific to this occurrence of
                      the problem.
                    example: A specific problem occurred during this example
                  instance:
                    type: string
                    description: >-
                      URI reference that identifies the specific occurrence of
                      the problem.
                    example: /resource/12345/msgs/abc
                additionalProperties:
                  description: Extension Key/Value-Pairs
                required:
                  - type
                  - title
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                description: RFC-7807 Problem Details
                type: object
                properties:
                  type:
                    type: string
                    description: URI reference that identifies the problem type.
                    example: /problems/example-problem
                  title:
                    type: string
                    description: >-
                      Human-readable summary of the problem type. Should not
                      change from occurrence to occurrence of the problem.
                    example: Some error occurred
                  status:
                    type: integer
                    description: HTTP status code associated with the problem type.
                    example: 418
                  detail:
                    type: string
                    description: >-
                      Human-readable explanation specific to this occurrence of
                      the problem.
                    example: A specific problem occurred during this example
                  instance:
                    type: string
                    description: >-
                      URI reference that identifies the specific occurrence of
                      the problem.
                    example: /resource/12345/msgs/abc
                additionalProperties:
                  description: Extension Key/Value-Pairs
                required:
                  - type
                  - title
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: RFC-7807 Problem Details
                type: object
                properties:
                  type:
                    type: string
                    description: URI reference that identifies the problem type.
                    example: /problems/example-problem
                  title:
                    type: string
                    description: >-
                      Human-readable summary of the problem type. Should not
                      change from occurrence to occurrence of the problem.
                    example: Some error occurred
                  status:
                    type: integer
                    description: HTTP status code associated with the problem type.
                    example: 418
                  detail:
                    type: string
                    description: >-
                      Human-readable explanation specific to this occurrence of
                      the problem.
                    example: A specific problem occurred during this example
                  instance:
                    type: string
                    description: >-
                      URI reference that identifies the specific occurrence of
                      the problem.
                    example: /resource/12345/msgs/abc
                additionalProperties:
                  description: Extension Key/Value-Pairs
                required:
                  - type
                  - title
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: RFC-7807 Problem Details
                type: object
                properties:
                  type:
                    type: string
                    description: URI reference that identifies the problem type.
                    example: /problems/example-problem
                  title:
                    type: string
                    description: >-
                      Human-readable summary of the problem type. Should not
                      change from occurrence to occurrence of the problem.
                    example: Some error occurred
                  status:
                    type: integer
                    description: HTTP status code associated with the problem type.
                    example: 418
                  detail:
                    type: string
                    description: >-
                      Human-readable explanation specific to this occurrence of
                      the problem.
                    example: A specific problem occurred during this example
                  instance:
                    type: string
                    description: >-
                      URI reference that identifies the specific occurrence of
                      the problem.
                    example: /resource/12345/msgs/abc
                additionalProperties:
                  description: Extension Key/Value-Pairs
                required:
                  - type
                  - title
  /accounting/balance:
    get:
      summary: get the balance
      tags:
        - accounting/balance
      responses:
        '200':
          description: balance object(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - description: Balance information
                      type: object
                      properties:
                        units:
                          description: the different available currencies
                          type: string
                          enum:
                            - EUR
                            - CREDITS
                            - USD
                        amount_max:
                          type: number
                          example: 10000
                          description: sum of pay_ins
                        amount_consumed:
                          type: number
                          example: -5729.42
                          description: sum of all orders
                        amount_available:
                          type: number
                          example: 4270.58
                          description: The available limit of potential new orders
                      required:
                        - units
                        - amount_max
                        - amount_consumed
                        - amount_available
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
  /accounting/transactions:
    get:
      summary: get transactions of the current user
      tags:
        - accounting/transactions
      responses:
        '200':
          description: transaction(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - description: Transaction information
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        item_id:
                          type: string
                          format: uuid
                          pattern: >-
                            ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        order_id:
                          type: string
                          format: uuid
                          pattern: >-
                            ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                          description: UUID of the order the request belongs to
                        transaction_type:
                          description: The type of transaction
                          type: string
                          enum:
                            - pay_in
                            - pay_out
                            - timeout
                        request_path:
                          type: string
                          example: /elevation/orders
                        balance:
                          description: the different available currencies
                          type: string
                          enum:
                            - EUR
                            - CREDITS
                            - USD
                        dif_value:
                          type: string
                          example: '35.2'
                        pending:
                          type: boolean
                        user_id:
                          type: string
                          format: uuid
                          description: UUID of the user
                          pattern: >-
                            ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        timeout:
                          type: string
                          format: date-time
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
  /accounting/transactions/{itemId}:
    parameters:
      - in: path
        name: itemId
        schema:
          type: string
          example: e640f434-9761-4bd0-bf2d-2de2f31a13a9
          format: uuid
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
        description: UUID of requested transaction
        required: true
    get:
      summary: get specific transaction of the current user
      tags:
        - accounting/transactions
      responses:
        '200':
          description: transaction(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - description: Transaction information
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        item_id:
                          type: string
                          format: uuid
                          pattern: >-
                            ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        order_id:
                          type: string
                          format: uuid
                          pattern: >-
                            ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                          description: UUID of the order the request belongs to
                        transaction_type:
                          description: The type of transaction
                          type: string
                          enum:
                            - pay_in
                            - pay_out
                            - timeout
                        request_path:
                          type: string
                          example: /elevation/orders
                        balance:
                          description: the different available currencies
                          type: string
                          enum:
                            - EUR
                            - CREDITS
                            - USD
                        dif_value:
                          type: string
                          example: '35.2'
                        pending:
                          type: boolean
                        user_id:
                          type: string
                          format: uuid
                          description: UUID of the user
                          pattern: >-
                            ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        timeout:
                          type: string
                          format: date-time
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
  /elevation/price:
    post:
      summary: get the price of elevation item/download request
      tags:
        - elevation/price
      requestBody:
        description: >-
          object that describes the requested data. Multiple items can be placed
          in the "items" part.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
                - kind
              properties:
                kind:
                  type: string
                  enum:
                    - order.item
                    - order
                title:
                  type: string
                  maxLength: 32
                  pattern: ^([a-zA-Z0-9 _-]{0,32})$
                  description: >-
                    user defined title of an order to ease the identification of
                    an order (max. 32 characters)
                  example: Friedrichshafen
                customer:
                  type: string
                  description: >-
                    name of the user's end customer (only relevant for
                    resellers)
                  example: Airbus Intelligence Germany
                items:
                  type: array
                  required:
                    - itemType
                  items:
                    type: object
                    required:
                      - aoi
                      - itemType
                    properties:
                      crsCode:
                        type: string
                        example: urn:ogc:def:crs:EPSG::4326
                      itemFormat:
                        type: string
                        description: >-
                          output format for area (GeoJSON only for Point,
                          GeoTIFF only for Polygon)
                        enum:
                          - GeoTIFF
                          - GeoJSON
                      itemType:
                        type: string
                        enum:
                          - dem.wddsm
                          - dem.wd4o
                          - dem.wddtmlite
                          - dem.wdneo
                          - dem.wd30
                          - dem.wdneodtm
                      aoi:
                        oneOf:
                          - description: The GeoJSON Point
                            type: object
                            required:
                              - type
                              - coordinates
                            properties:
                              type:
                                type: string
                                example: Point
                                enum:
                                  - Point
                              coordinates:
                                description: >-
                                  Basic geometry type describing longitude and
                                  latitude
                                type: array
                                minItems: 2
                                items:
                                  type: number
                                example:
                                  - 9.3
                                  - 47.7
                          - description: >-
                              The GeoJSON MultiPoint (currently **not
                              implemented**)
                            type: object
                            required:
                              - type
                              - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiPoint
                                enum:
                                  - MultiPoint
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: >-
                                    Basic geometry type describing longitude and
                                    latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                    - 9.3
                                    - 47.7
                          - description: The GeoJSON Polygon
                            type: object
                            required:
                              - type
                              - coordinates
                            properties:
                              type:
                                type: string
                                example: Polygon
                                enum:
                                  - Polygon
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: >-
                                    Closed ring of four or more positions. First
                                    and last position must be identical.
                                  type: array
                                  minItems: 4
                                  items:
                                    description: >-
                                      Basic geometry type describing longitude
                                      and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                      - 9.3
                                      - 47.7
                                  example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.3
                                      - 47.2
                                    - - 9.5
                                      - 47.2
                                    - - 9.5
                                      - 47.7
                                    - - 9.3
                                      - 47.7
                          - description: The GeoJSON MultiPolygon
                            type: object
                            required:
                              - type
                              - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiPolygon
                                enum:
                                  - MultiPolygon
                              coordinates:
                                type: array
                                minItems: 1
                                example:
                                  - - - 9.3
                                      - 47.7
                                    - - 9.4
                                      - 47.7
                                    - - 9.4
                                      - 47.65
                                    - - 9.3
                                      - 47.7
                                items:
                                  type: array
                                  minItems: 1
                                  items:
                                    description: >-
                                      Closed ring of four or more positions.
                                      First and last position must be identical.
                                    type: array
                                    minItems: 4
                                    items:
                                      description: >-
                                        Basic geometry type describing longitude
                                        and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                        - 9.3
                                        - 47.7
                                    example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.3
                                        - 47.2
                                      - - 9.5
                                        - 47.2
                                      - - 9.5
                                        - 47.7
                                      - - 9.3
                                        - 47.7
                          - description: >-
                              The GeoJSON LineString (currently **not
                              implemented**)
                            type: object
                            required:
                              - type
                              - coordinates
                            properties:
                              type:
                                type: string
                                example: LineString
                                enum:
                                  - LineString
                              coordinates:
                                description: String of connected positions
                                type: array
                                minItems: 2
                                items:
                                  description: >-
                                    Basic geometry type describing longitude and
                                    latitude
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                                  example:
                                    - 9.3
                                    - 47.7
                                example:
                                  - - 9.3
                                    - 47.7
                                  - - 9.5
                                    - 47.2
                          - description: >-
                              The GeoJSON MultiLineString (currently **not
                              implemented**)
                            type: object
                            required:
                              - type
                              - coordinates
                            properties:
                              type:
                                type: string
                                example: MultiLineString
                                enum:
                                  - MultiLineString
                              coordinates:
                                type: array
                                minItems: 1
                                items:
                                  description: String of connected positions
                                  type: array
                                  minItems: 2
                                  items:
                                    description: >-
                                      Basic geometry type describing longitude
                                      and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                      - 9.3
                                      - 47.7
                                  example:
                                    - - 9.3
                                      - 47.7
                                    - - 9.5
                                      - 47.2
                        example:
                          type: Polygon
                          coordinates:
                            - - - 9.3
                                - 47.7
                              - - 9.4
                                - 47.7
                              - - 9.4
                                - 47.65
                              - - 9.3
                                - 47.7
      responses:
        '200':
          description: Object that can be sent to /orders
          content:
            application/json:
              schema:
                description: order object with price included
                allOf:
                  - type: object
                    required:
                      - kind
                      - items
                      - price
                      - billableAreaKm2
                    properties:
                      kind:
                        type: string
                        enum:
                          - order.item
                          - order
                      title:
                        type: string
                        maxLength: 32
                        pattern: ^([a-zA-Z0-9 _-]{0,32})$
                        description: >-
                          user defined title of an order to ease the
                          identification of an order (max. 32 characters)
                        example: Friedrichshafen
                      customer:
                        type: string
                        description: >-
                          name of the user's end customer (only relevant for
                          resellers)
                        example: Airbus Intelligence Germany
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              required:
                                - aoi
                                - itemType
                              properties:
                                crsCode:
                                  type: string
                                  example: urn:ogc:def:crs:EPSG::4326
                                itemFormat:
                                  type: string
                                  description: >-
                                    output format for area (GeoJSON only for
                                    Point, GeoTIFF only for Polygon)
                                  enum:
                                    - GeoTIFF
                                    - GeoJSON
                                itemType:
                                  type: string
                                  enum:
                                    - dem.wddsm
                                    - dem.wd4o
                                    - dem.wddtmlite
                                    - dem.wdneo
                                    - dem.wd30
                                    - dem.wdneodtm
                                aoi:
                                  oneOf:
                                    - description: The GeoJSON Point
                                      type: object
                                      required:
                                        - type
                                        - coordinates
                                      properties:
                                        type:
                                          type: string
                                          example: Point
                                          enum:
                                            - Point
                                        coordinates:
                                          description: >-
                                            Basic geometry type describing longitude
                                            and latitude
                                          type: array
                                          minItems: 2
                                          items:
                                            type: number
                                          example:
                                            - 9.3
                                            - 47.7
                                    - description: >-
                                        The GeoJSON MultiPoint (currently **not
                                        implemented**)
                                      type: object
                                      required:
                                        - type
                                        - coordinates
                                      properties:
                                        type:
                                          type: string
                                          example: MultiPoint
                                          enum:
                                            - MultiPoint
                                        coordinates:
                                          type: array
                                          minItems: 1
                                          items:
                                            description: >-
                                              Basic geometry type describing longitude
                                              and latitude
                                            type: array
                                            minItems: 2
                                            items:
                                              type: number
                                            example:
                                              - 9.3
                                              - 47.7
                                    - description: The GeoJSON Polygon
                                      type: object
                                      required:
                                        - type
                                        - coordinates
                                      properties:
                                        type:
                                          type: string
                                          example: Polygon
                                          enum:
                                            - Polygon
                                        coordinates:
                                          type: array
                                          minItems: 1
                                          items:
                                            description: >-
                                              Closed ring of four or more positions.
                                              First and last position must be
                                              identical.
                                            type: array
                                            minItems: 4
                                            items:
                                              description: >-
                                                Basic geometry type describing longitude
                                                and latitude
                                              type: array
                                              minItems: 2
                                              items:
                                                type: number
                                              example:
                                                - 9.3
                                                - 47.7
                                            example:
                                              - - 9.3
                                                - 47.7
                                              - - 9.3
                                                - 47.2
                                              - - 9.5
                                                - 47.2
                                              - - 9.5
                                                - 47.7
                                              - - 9.3
                                                - 47.7
                                    - description: The GeoJSON MultiPolygon
                                      type: object
                                      required:
                                        - type
                                        - coordinates
                                      properties:
                                        type:
                                          type: string
                                          example: MultiPolygon
                                          enum:
                                            - MultiPolygon
                                        coordinates:
                                          type: array
                                          minItems: 1
                                          example:
                                            - - - 9.3
                                                - 47.7
                                              - - 9.4
                                                - 47.7
                                              - - 9.4
                                                - 47.65
                                              - - 9.3
                                                - 47.7
                                          items:
                                            type: array
                                            minItems: 1
                                            items:
                                              description: >-
                                                Closed ring of four or more positions.
                                                First and last position must be
                                                identical.
                                              type: array
                                              minItems: 4
                                              items:
                                                description: >-
                                                  Basic geometry type describing longitude
                                                  and latitude
                                                type: array
                                                minItems: 2
                                                items:
                                                  type: number
                                                example:
                                                  - 9.3
                                                  - 47.7
                                              example:
                                                - - 9.3
                                                  - 47.7
                                                - - 9.3
                                                  - 47.2
                                                - - 9.5
                                                  - 47.2
                                                - - 9.5
                                                  - 47.7
                                                - - 9.3
                                                  - 47.7
                                    - description: >-
                                        The GeoJSON LineString (currently **not
                                        implemented**)
                                      type: object
                                      required:
                                        - type
                                        - coordinates
                                      properties:
                                        type:
                                          type: string
                                          example: LineString
                                          enum:
                                            - LineString
                                        coordinates:
                                          description: String of connected positions
                                          type: array
                                          minItems: 2
                                          items:
                                            description: >-
                                              Basic geometry type describing longitude
                                              and latitude
                                            type: array
                                            minItems: 2
                                            items:
                                              type: number
                                            example:
                                              - 9.3
                                              - 47.7
                                          example:
                                            - - 9.3
                                              - 47.7
                                            - - 9.5
                                              - 47.2
                                    - description: >-
                                        The GeoJSON MultiLineString (currently
                                        **not implemented**)
                                      type: object
                                      required:
                                        - type
                                        - coordinates
                                      properties:
                                        type:
                                          type: string
                                          example: MultiLineString
                                          enum:
                                            - MultiLineString
                                        coordinates:
                                          type: array
                                          minItems: 1
                                          items:
                                            description: String of connected positions
                                            type: array
                                            minItems: 2
                                            items:
                                              description: >-
                                                Basic geometry type describing longitude
                                                and latitude
                                              type: array
                                              minItems: 2
                                              items:
                                                type: number
                                              example:
                                                - 9.3
                                                - 47.7
                                            example:
                                              - - 9.3
                                                - 47.7
                                              - - 9.5
                                                - 47.2
                                  example:
                                    type: Polygon
                                    coordinates:
                                      - - - 9.3
                                          - 47.7
                                        - - 9.4
                                          - 47.7
                                        - - 9.4
                                          - 47.65
                                        - - 9.3
                                          - 47.7
                            - type: object
                              required:
                                - price
                                - areaKm2
                                - billableAreaKm2
                              properties:
                                price:
                                  description: Price information
                                  type: object
                                  required:
                                    - amountUnit
                                    - amount
                                    - amountPerKm2
                                  properties:
                                    amountUnit:
                                      type: string
                                      enum:
                                        - EUR
                                        - CREDITS
                                        - USD
                                    amount:
                                      type: number
                                      example: 83.4
                                    amountPerKm2:
                                      type: number
                                      example: 4
                                areaKm2:
                                  type: number
                                  example: 20.85
                                  description: area in km² of AOI
                                billableAreaKm2:
                                  type: number
                                  example: 15.23
                                  description: >-
                                    area (in km²) of AOI with elevation
                                    information available and therefore billable
                                discounts:
                                  type: object
                                  properties:
                                    reseller:
                                      allOf:
                                        - description: >-
                                            The reseller discount granted for being
                                            a reseller
                                        - type: object
                                          properties:
                                            basePrice:
                                              allOf:
                                                - description: >-
                                                    The base price this discount uses for
                                                    calculations
                                                - description: Price information
                                                  type: object
                                                  required:
                                                    - amountUnit
                                                    - amount
                                                    - amountPerKm2
                                                  properties:
                                                    amountUnit:
                                                      type: string
                                                      enum:
                                                        - EUR
                                                        - CREDITS
                                                        - USD
                                                    amount:
                                                      type: number
                                                      example: 83.4
                                                    amountPerKm2:
                                                      type: number
                                                      example: 4
                                            percentage:
                                              description: >-
                                                Percent value of the discount, used to
                                                calculated the deducted amount &
                                                amountPerKm2 from the basePrice
                                              minimum: 0
                                              maximum: 100
                                              type: number
                                              example: 34.56
                                            amount:
                                              description: >-
                                                The amount which will be deducted from
                                                the basePrice amount
                                              type: number
                                              maximum: 0
                                              example: -123.45
                                            amountPerKm2:
                                              description: >-
                                                The amountPerKm2 which will be deducted
                                                from the basePrice amountPerKm2
                                              type: number
                                              maximum: 0
                                              example: -0.5
                                            amountUnit:
                                              type: string
                                              enum:
                                                - EUR
                                                - CREDITS
                                                - USD
                                    volume:
                                      allOf:
                                        - description: >-
                                            The volume discount granted depending on
                                            the item area
                                        - allOf:
                                            - type: object
                                              properties:
                                                basePrice:
                                                  allOf:
                                                    - description: >-
                                                        The base price this discount uses for
                                                        calculations
                                                    - description: Price information
                                                      type: object
                                                      required:
                                                        - amountUnit
                                                        - amount
                                                        - amountPerKm2
                                                      properties:
                                                        amountUnit:
                                                          type: string
                                                          enum:
                                                            - EUR
                                                            - CREDITS
                                                            - USD
                                                        amount:
                                                          type: number
                                                          example: 83.4
                                                        amountPerKm2:
                                                          type: number
                                                          example: 4
                                                percentage:
                                                  description: >-
                                                    Percent value of the discount, used to
                                                    calculated the deducted amount &
                                                    amountPerKm2 from the basePrice
                                                  minimum: 0
                                                  maximum: 100
                                                  type: number
                                                  example: 34.56
                                                amount:
                                                  description: >-
                                                    The amount which will be deducted from
                                                    the basePrice amount
                                                  type: number
                                                  maximum: 0
                                                  example: -123.45
                                                amountPerKm2:
                                                  description: >-
                                                    The amountPerKm2 which will be deducted
                                                    from the basePrice amountPerKm2
                                                  type: number
                                                  maximum: 0
                                                  example: -0.5
                                                amountUnit:
                                                  type: string
                                                  enum:
                                                    - EUR
                                                    - CREDITS
                                                    - USD
                                            - type: object
                                              properties:
                                                nextDiscount:
                                                  description: The next possible discount
                                                  allOf:
                                                    - type: object
                                                      properties:
                                                        basePrice:
                                                          allOf:
                                                            - description: >-
                                                                The base price this discount uses for
                                                                calculations
                                                            - description: Price information
                                                              type: object
                                                              required:
                                                                - amountUnit
                                                                - amount
                                                                - amountPerKm2
                                                              properties:
                                                                amountUnit:
                                                                  type: string
                                                                  enum:
                                                                    - EUR
                                                                    - CREDITS
                                                                    - USD
                                                                amount:
                                                                  type: number
                                                                  example: 83.4
                                                                amountPerKm2:
                                                                  type: number
                                                                  example: 4
                                                        percentage:
                                                          description: >-
                                                            Percent value of the discount, used to
                                                            calculated the deducted amount &
                                                            amountPerKm2 from the basePrice
                                                          minimum: 0
                                                          maximum: 100
                                                          type: number
                                                          example: 34.56
                                                        amount:
                                                          description: >-
                                                            The amount which will be deducted from
                                                            the basePrice amount
                                                          type: number
                                                          maximum: 0
                                                          example: -123.45
                                                        amountPerKm2:
                                                          description: >-
                                                            The amountPerKm2 which will be deducted
                                                            from the basePrice amountPerKm2
                                                          type: number
                                                          maximum: 0
                                                          example: -0.5
                                                        amountUnit:
                                                          type: string
                                                          enum:
                                                            - EUR
                                                            - CREDITS
                                                            - USD
                                                    - type: object
                                                      properties:
                                                        missingKm2:
                                                          description: >-
                                                            The missing billable km² for the next
                                                            discount to be reached
                                                          type: number
                                                          example: '1234.45'
                                    total:
                                      allOf:
                                        - description: >-
                                            The total discount applied (which is the
                                            sum of all other discounts)
                                        - type: object
                                          properties:
                                            basePrice:
                                              allOf:
                                                - description: >-
                                                    The base price this discount uses for
                                                    calculations
                                                - description: Price information
                                                  type: object
                                                  required:
                                                    - amountUnit
                                                    - amount
                                                    - amountPerKm2
                                                  properties:
                                                    amountUnit:
                                                      type: string
                                                      enum:
                                                        - EUR
                                                        - CREDITS
                                                        - USD
                                                    amount:
                                                      type: number
                                                      example: 83.4
                                                    amountPerKm2:
                                                      type: number
                                                      example: 4
                                            percentage:
                                              description: >-
                                                Percent value of the discount, used to
                                                calculated the deducted amount &
                                                amountPerKm2 from the basePrice
                                              minimum: 0
                                              maximum: 100
                                              type: number
                                              example: 34.56
                                            amount:
                                              description: >-
                                                The amount which will be deducted from
                                                the basePrice amount
                                              type: number
                                              maximum: 0
                                              example: -123.45
                                            amountPerKm2:
                                              description: >-
                                                The amountPerKm2 which will be deducted
                                                from the basePrice amountPerKm2
                                              type: number
                                              maximum: 0
                                              example: -0.5
                                            amountUnit:
                                              type: string
                                              enum:
                                                - EUR
                                                - CREDITS
                                                - USD
                      areaKm2:
                        type: number
                        example: 20.85
                        description: area in km² of AOI
                      billableAreaKm2:
                        type: number
                        example: 15.23
                        description: >-
                          area (in km²) of AOI with elevation information
                          available and therefore billable
                      price:
                        description: Price information
                        type: object
                        required:
                          - amountUnit
                          - amount
                        properties:
                          amountUnit:
                            type: string
                            enum:
                              - EUR
                              - CREDITS
                              - USD
                          amount:
                            type: number
                            example: 83.4
                      orderable:
                        type: boolean
                        example: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
  /elevation/orders:
    post:
      summary: create new order
      tags:
        - elevation/orders
      requestBody:
        description: >-
          Data to be ordered. Multiple items can be placed in the "items" part.
          After requesting a price, the response can be sent to order data.
          Instead of requesting a price first, it is possible to set
          min-/max-Filter to avoid orders that exceed those limits.
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - type: object
                  required:
                    - items
                    - kind
                  properties:
                    kind:
                      type: string
                      enum:
                        - order.item
                        - order
                    title:
                      type: string
                      maxLength: 32
                      pattern: ^([a-zA-Z0-9 _-]{0,32})$
                      description: >-
                        user defined title of an order to ease the
                        identification of an order (max. 32 characters)
                      example: Friedrichshafen
                    customer:
                      type: string
                      description: >-
                        name of the user's end customer (only relevant for
                        resellers)
                      example: Airbus Intelligence Germany
                    items:
                      type: array
                      required:
                        - itemType
                      items:
                        type: object
                        required:
                          - aoi
                          - itemType
                        properties:
                          crsCode:
                            type: string
                            example: urn:ogc:def:crs:EPSG::4326
                          itemFormat:
                            type: string
                            description: >-
                              output format for area (GeoJSON only for Point,
                              GeoTIFF only for Polygon)
                            enum:
                              - GeoTIFF
                              - GeoJSON
                          itemType:
                            type: string
                            enum:
                              - dem.wddsm
                              - dem.wd4o
                              - dem.wddtmlite
                              - dem.wdneo
                              - dem.wd30
                              - dem.wdneodtm
                          aoi:
                            oneOf:
                              - description: The GeoJSON Point
                                type: object
                                required:
                                  - type
                                  - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Point
                                    enum:
                                      - Point
                                  coordinates:
                                    description: >-
                                      Basic geometry type describing longitude
                                      and latitude
                                    type: array
                                    minItems: 2
                                    items:
                                      type: number
                                    example:
                                      - 9.3
                                      - 47.7
                              - description: >-
                                  The GeoJSON MultiPoint (currently **not
                                  implemented**)
                                type: object
                                required:
                                  - type
                                  - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPoint
                                    enum:
                                      - MultiPoint
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: >-
                                        Basic geometry type describing longitude
                                        and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                        - 9.3
                                        - 47.7
                              - description: The GeoJSON Polygon
                                type: object
                                required:
                                  - type
                                  - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: Polygon
                                    enum:
                                      - Polygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: >-
                                        Closed ring of four or more positions.
                                        First and last position must be
                                        identical.
                                      type: array
                                      minItems: 4
                                      items:
                                        description: >-
                                          Basic geometry type describing longitude
                                          and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                          - 9.3
                                          - 47.7
                                      example:
                                        - - 9.3
                                          - 47.7
                                        - - 9.3
                                          - 47.2
                                        - - 9.5
                                          - 47.2
                                        - - 9.5
                                          - 47.7
                                        - - 9.3
                                          - 47.7
                              - description: The GeoJSON MultiPolygon
                                type: object
                                required:
                                  - type
                                  - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiPolygon
                                    enum:
                                      - MultiPolygon
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    example:
                                      - - - 9.3
                                          - 47.7
                                        - - 9.4
                                          - 47.7
                                        - - 9.4
                                          - 47.65
                                        - - 9.3
                                          - 47.7
                                    items:
                                      type: array
                                      minItems: 1
                                      items:
                                        description: >-
                                          Closed ring of four or more positions.
                                          First and last position must be
                                          identical.
                                        type: array
                                        minItems: 4
                                        items:
                                          description: >-
                                            Basic geometry type describing longitude
                                            and latitude
                                          type: array
                                          minItems: 2
                                          items:
                                            type: number
                                          example:
                                            - 9.3
                                            - 47.7
                                        example:
                                          - - 9.3
                                            - 47.7
                                          - - 9.3
                                            - 47.2
                                          - - 9.5
                                            - 47.2
                                          - - 9.5
                                            - 47.7
                                          - - 9.3
                                            - 47.7
                              - description: >-
                                  The GeoJSON LineString (currently **not
                                  implemented**)
                                type: object
                                required:
                                  - type
                                  - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: LineString
                                    enum:
                                      - LineString
                                  coordinates:
                                    description: String of connected positions
                                    type: array
                                    minItems: 2
                                    items:
                                      description: >-
                                        Basic geometry type describing longitude
                                        and latitude
                                      type: array
                                      minItems: 2
                                      items:
                                        type: number
                                      example:
                                        - 9.3
                                        - 47.7
                                    example:
                                      - - 9.3
                                        - 47.7
                                      - - 9.5
                                        - 47.2
                              - description: >-
                                  The GeoJSON MultiLineString (currently **not
                                  implemented**)
                                type: object
                                required:
                                  - type
                                  - coordinates
                                properties:
                                  type:
                                    type: string
                                    example: MultiLineString
                                    enum:
                                      - MultiLineString
                                  coordinates:
                                    type: array
                                    minItems: 1
                                    items:
                                      description: String of connected positions
                                      type: array
                                      minItems: 2
                                      items:
                                        description: >-
                                          Basic geometry type describing longitude
                                          and latitude
                                        type: array
                                        minItems: 2
                                        items:
                                          type: number
                                        example:
                                          - 9.3
                                          - 47.7
                                      example:
                                        - - 9.3
                                          - 47.7
                                        - - 9.5
                                          - 47.2
                            example:
                              type: Polygon
                              coordinates:
                                - - - 9.3
                                    - 47.7
                                  - - 9.4
                                    - 47.7
                                  - - 9.4
                                    - 47.65
                                  - - 9.3
                                    - 47.7
                - description: order object with price included
                  allOf:
                    - type: object
                      required:
                        - kind
                        - items
                        - price
                        - billableAreaKm2
                      properties:
                        kind:
                          type: string
                          enum:
                            - order.item
                            - order
                        title:
                          type: string
                          maxLength: 32
                          pattern: ^([a-zA-Z0-9 _-]{0,32})$
                          description: >-
                            user defined title of an order to ease the
                            identification of an order (max. 32 characters)
                          example: Friedrichshafen
                        customer:
                          type: string
                          description: >-
                            name of the user's end customer (only relevant for
                            resellers)
                          example: Airbus Intelligence Germany
                        items:
                          type: array
                          items:
                            allOf:
                              - type: object
                                required:
                                  - aoi
                                  - itemType
                                properties:
                                  crsCode:
                                    type: string
                                    example: urn:ogc:def:crs:EPSG::4326
                                  itemFormat:
                                    type: string
                                    description: >-
                                      output format for area (GeoJSON only for
                                      Point, GeoTIFF only for Polygon)
                                    enum:
                                      - GeoTIFF
                                      - GeoJSON
                                  itemType:
                                    type: string
                                    enum:
                                      - dem.wddsm
                                      - dem.wd4o
                                      - dem.wddtmlite
                                      - dem.wdneo
                                      - dem.wd30
                                      - dem.wdneodtm
                                  aoi:
                                    oneOf:
                                      - description: The GeoJSON Point
                                        type: object
                                        required:
                                          - type
                                          - coordinates
                                        properties:
                                          type:
                                            type: string
                                            example: Point
                                            enum:
                                              - Point
                                          coordinates:
                                            description: >-
                                              Basic geometry type describing longitude
                                              and latitude
                                            type: array
                                            minItems: 2
                                            items:
                                              type: number
                                            example:
                                              - 9.3
                                              - 47.7
                                      - description: >-
                                          The GeoJSON MultiPoint (currently **not
                                          implemented**)
                                        type: object
                                        required:
                                          - type
                                          - coordinates
                                        properties:
                                          type:
                                            type: string
                                            example: MultiPoint
                                            enum:
                                              - MultiPoint
                                          coordinates:
                                            type: array
                                            minItems: 1
                                            items:
                                              description: >-
                                                Basic geometry type describing longitude
                                                and latitude
                                              type: array
                                              minItems: 2
                                              items:
                                                type: number
                                              example:
                                                - 9.3
                                                - 47.7
                                      - description: The GeoJSON Polygon
                                        type: object
                                        required:
                                          - type
                                          - coordinates
                                        properties:
                                          type:
                                            type: string
                                            example: Polygon
                                            enum:
                                              - Polygon
                                          coordinates:
                                            type: array
                                            minItems: 1
                                            items:
                                              description: >-
                                                Closed ring of four or more positions.
                                                First and last position must be
                                                identical.
                                              type: array
                                              minItems: 4
                                              items:
                                                description: >-
                                                  Basic geometry type describing longitude
                                                  and latitude
                                                type: array
                                                minItems: 2
                                                items:
                                                  type: number
                                                example:
                                                  - 9.3
                                                  - 47.7
                                              example:
                                                - - 9.3
                                                  - 47.7
                                                - - 9.3
                                                  - 47.2
                                                - - 9.5
                                                  - 47.2
                                                - - 9.5
                                                  - 47.7
                                                - - 9.3
                                                  - 47.7
                                      - description: The GeoJSON MultiPolygon
                                        type: object
                                        required:
                                          - type
                                          - coordinates
                                        properties:
                                          type:
                                            type: string
                                            example: MultiPolygon
                                            enum:
                                              - MultiPolygon
                                          coordinates:
                                            type: array
                                            minItems: 1
                                            example:
                                              - - - 9.3
                                                  - 47.7
                                                - - 9.4
                                                  - 47.7
                                                - - 9.4
                                                  - 47.65
                                                - - 9.3
                                                  - 47.7
                                            items:
                                              type: array
                                              minItems: 1
                                              items:
                                                description: >-
                                                  Closed ring of four or more positions.
                                                  First and last position must be
                                                  identical.
                                                type: array
                                                minItems: 4
                                                items:
                                                  description: >-
                                                    Basic geometry type describing longitude
                                                    and latitude
                                                  type: array
                                                  minItems: 2
                                                  items:
                                                    type: number
                                                  example:
                                                    - 9.3
                                                    - 47.7
                                                example:
                                                  - - 9.3
                                                    - 47.7
                                                  - - 9.3
                                                    - 47.2
                                                  - - 9.5
                                                    - 47.2
                                                  - - 9.5
                                                    - 47.7
                                                  - - 9.3
                                                    - 47.7
                                      - description: >-
                                          The GeoJSON LineString (currently **not
                                          implemented**)
                                        type: object
                                        required:
                                          - type
                                          - coordinates
                                        properties:
                                          type:
                                            type: string
                                            example: LineString
                                            enum:
                                              - LineString
                                          coordinates:
                                            description: String of connected positions
                                            type: array
                                            minItems: 2
                                            items:
                                              description: >-
                                                Basic geometry type describing longitude
                                                and latitude
                                              type: array
                                              minItems: 2
                                              items:
                                                type: number
                                              example:
[...]
