openapi: 3.0.3
info:
  title: OneAtlas - Radar Tasking & Archive
  version: 1.0.0
  contact:
    email: dl_webservices_geo@airbus.com
  description: >
    REST API to search, order and access TerraSAR and PAZ Data (Radar API)<br/>

    Those commands can be used to test and understand the services provided by
    the APIs. You can use them in a third party application such as Postman.
tags:
  - name: user
    description: |
      Endpoint for generic user information.
  - name: sar/config
    description: |
      Endpoint for SAR specific user configuration.
  - name: sar/search
    description: |
      Endpoint to search for possible SAR acquisitions.
  - name: sar/prices
    description: |
      Query the price of an SAR acquisition.
  - name: sar/editing
    description: |
      Endpoint to modify an SAR acquisition.
  - name: sar/baskets
    description: |
      Handle your baskets to order SAR acquisitions.
  - name: sar/shopcart
    description: |
      <b>Deprecated!</b> Please use baskets instead.
  - name: sar/monitoring
    description: |
      Monitor your ordered SAR acquisitions.
servers:
  - url: https://sar.api.oneatlas.airbus.com/v1
    description: OneAtlas - Radar Tasking & Archive
paths:
  /user/whoami:
    get:
      summary: Return account information of the current user
      tags:
        - user
      responses:
        '200':
          description: Basic account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    description: Unique account name
                    example: john.doe@company.com
                  pw_change_needed:
                    type: boolean
                    description: >-
                      This flag is set if the password has been (re)set by the
                      system or flagged for some other reason (e.g. if security
                      standards have changed). It is unrelated to the password
                      expiration date.
                  pw_expiration_date:
                    type: string
                    format: date
                    description: >-
                      If the password of this account is set to expire, this is
                      the end date (included) until which the password can be
                      used to log in without being changed
                  expiration_date:
                    type: string
                    format: date
                    nullable: true
                    description: End date (included) until which the user is able to log in
                  services:
                    type: array
                    items:
                      type: string
                      example: radar
                      enum:
                        - radar
                        - worlddem
                        - mgmt
                      description: The service identifier
                    example:
                      - radar
                      - worlddem
                  registration_status:
                    type: string
                    enum:
                      - pending
                      - in_progress
                      - completed
                    description: >-
                      This flag is only set if the account isn't fully
                      registered
                  oneatlas_username:
                    type: string
                    description: Account username in OneAtlas
                    example: john.doe@company.com
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                  message:
                    type: string
        '401':
          description: No authentication information available
  /sar/config:
    get:
      summary: retrieve entire configuration
      tags:
        - sar/config
      responses:
        '200':
          description: omnibus configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions:
                    type: object
                    properties:
                      acquisitionOnly:
                        type: boolean
                      leftLooking:
                        type: boolean
                      outOfFullPerformance:
                        type: boolean
                      PAZ:
                        type: boolean
                    required:
                      - acquisitionOnly
                      - leftLooking
                      - outOfFullPerformance
                      - PAZ
                  receivingStations:
                    type: array
                    items:
                      description: Downlink station to use for direct-access customers
                      type: string
                      default: NSG_POOL
                      example: NSG_POOL
                  orderTemplates:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        default:
                          type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/config/orderTemplates:
    get:
      summary: retrieve list of order templates
      tags:
        - sar/config
      responses:
        '200':
          description: list of order templates
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    default:
                      type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/config/permissions:
    get:
      summary: get user permissions
      tags:
        - sar/config
      responses:
        '200':
          description: user permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  acquisitionOnly:
                    type: boolean
                  leftLooking:
                    type: boolean
                  outOfFullPerformance:
                    type: boolean
                  PAZ:
                    type: boolean
                required:
                  - acquisitionOnly
                  - leftLooking
                  - outOfFullPerformance
                  - PAZ
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/config/receivingStations:
    get:
      summary: get allowed receiving stations
      tags:
        - sar/config
      responses:
        '200':
          description: list of receiving stations
          content:
            application/json:
              schema:
                type: array
                items:
                  description: Downlink station to use for direct-access customers
                  type: string
                  default: NSG_POOL
                  example: NSG_POOL
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/feasibility:
    post:
      summary: search for possible acquisitions for tasking
      tags:
        - sar/search
      requestBody:
        description: Search parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - aoi
                - time
                - feasibilityLevel
                - sensorMode
              properties:
                aoi:
                  oneOf:
                    - allOf:
                        - description: Polygon for feasibility search
                        - type: object
                          additionalProperties: false
                          required:
                            - type
                            - coordinates
                          properties:
                            type:
                              type: string
                              enum:
                                - Polygon
                            coordinates:
                              type: array
                              minLength: 1
                              items:
                                type: array
                                minLength: 3
                                items:
                                  type: array
                                  minLength: 2
                                  maxLength: 2
                                  items:
                                    type: number
                          example:
                            type: Polygon
                            coordinates:
                              - - - 9.346
                                  - 47.788
                                - - 9.291
                                  - 47.644
                                - - 9.538
                                  - 47.592
                                - - 9.62
                                  - 47.75
                                - - 9.511
                                  - 47.802
                                - - 9.346
                                  - 47.788
                    - allOf:
                        - description: MultiPolygon for feasibility search
                        - type: object
                          additionalProperties: false
                          required:
                            - type
                            - coordinates
                          properties:
                            type:
                              type: string
                              enum:
                                - MultiPolygon
                            coordinates:
                              type: array
                              minLength: 1
                              items:
                                type: array
                                minLength: 1
                                items:
                                  type: array
                                  minLength: 3
                                  items:
                                    type: array
                                    minLength: 2
                                    maxLength: 2
                                    items:
                                      type: number
                          example:
                            type: MultiPolygon
                            coordinates:
                              - - - - 8.346
                                    - 47.788
                                  - - 8.291
                                    - 47.644
                                  - - 8.538
                                    - 47.592
                                  - - 8.62
                                    - 47.75
                                  - - 8.511
                                    - 47.802
                                  - - 8.346
                                    - 47.788
                                - - - 9.346
                                    - 47.788
                                  - - 9.291
                                    - 47.644
                                  - - 9.538
                                    - 47.592
                                  - - 9.62
                                    - 47.75
                                  - - 9.511
                                    - 47.802
                                  - - 9.346
                                    - 47.788
                    - allOf:
                        - description: Point for feasibility search
                        - type: object
                          additionalProperties: false
                          required:
                            - type
                            - coordinates
                          properties:
                            type:
                              type: string
                              enum:
                                - Point
                            coordinates:
                              type: array
                              minLength: 2
                              maxLength: 2
                              items:
                                type: number
                          example:
                            type: Point
                            coordinates:
                              - 9.346
                              - 47.788
                time:
                  allOf:
                    - description: Time range for feasibility search
                    - type: object
                      additionalProperties: false
                      properties:
                        from:
                          type: string
                          format: date-time
                          example: '2021-10-14T13:28:03.569Z'
                        to:
                          type: string
                          format: date-time
                          example: '2021-10-24T13:28:03.569Z'
                mission:
                  oneOf:
                    - description: Array of Satellite missions
                      type: array
                      items:
                        type: string
                        enum:
                          - TSX
                          - PAZ
                      default:
                        - TSX
                        - PAZ
                      example:
                        - TSX
                        - PAZ
                    - description: Satellite mission
                      type: string
                      default: all
                      enum:
                        - TSX
                        - PAZ
                        - all
                priority:
                  description: >-
                    Higher priority orders have a better chance of success but
                    incur an additional fee
                  type: string
                  enum:
                    - standard
                    - priority
                    - exclusive
                  example: standard
                feasibilityLevel:
                  description: Level of feasibility for the search
                  type: string
                  enum:
                    - simple
                    - complete
                periodicity:
                  description: >-
                    If set a datastack search will be performed. There will be
                    up to 3 footprints with datastacks (grouped by groupId)
                    taking periodicity and occerrences into account.
                  type: integer
                  enum:
                    - 11
                    - 22
                    - 33
                    - 44
                    - 55
                    - 66
                    - 77
                    - 88
                    - 99
                occurrences:
                  description: >-
                    If set: Number of times a scene should be acquired. This
                    parameter will only be used if periodicity is set and can be
                    used for the acquisition of datastacks.
                  type: integer
                  minimum: 2
                  maximum: 50
                sensorMode:
                  description: >-
                    The imaging/instrument/sensor mode to use for the
                    acquisition
                  type: string
                  enum:
                    - SAR_ST_S
                    - SAR_HS_S
                    - SAR_HS_S_300
                    - SAR_HS_S_150
                    - SAR_HS_D
                    - SAR_HS_D_300
                    - SAR_HS_D_150
                    - SAR_SL_S
                    - SAR_SL_D
                    - SAR_SM_S
                    - SAR_SM_D
                    - SAR_SC_S
                    - SAR_WS_S
                  example: SAR_SM_S
                polarizationChannels:
                  description: >-
                    The dual-polarization modes (HHVV, HHHV, VVVH) are not
                    available for staring spotlight or (wide) ScanSAR modes. The
                    polarization modes HV and VH are only available for Wide
                    ScanSAR acquisitions.
                  type: string
                  enum:
                    - HH
                    - VV
                    - HV
                    - VH
                    - HHVV
                    - HHHV
                    - VVVH
                  example: HH
                incidenceAngle:
                  description: >-
                    Incidence angle range in degrees. Only acquisitions with an
                    average incidence angle in this range will be considered.
                  type: object
                  additionalProperties: false
                  properties:
                    minimum:
                      type: number
                      minimum: 10
                      maximum: 70
                      example: 30
                    maximum:
                      type: number
                      minimum: 10
                      maximum: 70
                      example: 50
                pathDirection:
                  default:
                    - ascending
                    - descending
                  oneOf:
                    - description: Path or orbit direction
                      type: string
                      default: both
                      example: ascending
                      enum:
                        - ascending
                        - descending
                        - both
                    - description: Path or orbit direction
                      type: array
                      items:
                        type: string
                        enum:
                          - ascending
                          - descending
                lookDirection:
                  description: >-
                    Look Direction. Left-looking acquisitions require special
                    authorization.
                  type: string
                  enum:
                    - R
                    - L
                outOfFullPerformance:
                  description: >-
                    If set to true and the account is authorized, out of full
                    performance scenes will be included in the response.
                  type: boolean
                  default: false
                orderTemplate:
                  type: string
                productType:
                  description: >-
                    Product type for the processing of the acuqisition.
                    Mandatory on placing the order, but not for feasibility.
                  type: string
                  enum:
                    - SSC
                    - MGD
                    - GEC
                    - EEC
                  example: EEC
                resolutionVariant:
                  description: >-
                    Radiometric or spatial enhancement. Mandatory on placing the
                    order, but not for feasibility.
                  type: string
                  enum:
                    - SE
                    - RE
                acquisitionOnly:
                  description: >-
                    Acquisition is done and archived, but product will not be
                    processed and deliverd. Requires special authorization.
                  type: boolean
                  default: false
                receivingStation:
                  description: Downlink station to use for direct-access customers
                  type: string
                  default: NSG_POOL
                  example: NSG_POOL
                orbitType:
                  description: >-
                    Near Realtime acquisitions will incur an additional fee.
                    Science processing is most accurate but takes approx 5 days
                    to complete. Mandatory on placing the order, but not for
                    feasibility.
                  type: string
                  enum:
                    - NRT
                    - rapid
                    - science
                geocodedIncidenceMask:
                  description: >-
                    Include GIM in delivered product. Only applicable for EEC
                    products.
                  type: boolean
                  default: false
                mapProjection:
                  description: >-
                    Projection of the delivered product. Mandatory on placing
                    the order, but not for feasibility.
                  type: string
                  default: auto
                  enum:
                    - auto
                    - UTM
                    - UPS
                gainAttenuation:
                  description: >-
                    Processor gain Attenuation. Mandatory on placing the order,
                    but not for feasibility.
                  type: integer
                  default: 0
                  enum:
                    - 0
                    - 10
                    - 20
            example:
              aoi:
                type: Polygon
                coordinates:
                  - - - 9.346
                      - 47.788
                    - - 9.291
                      - 47.644
                    - - 9.538
                      - 47.592
                    - - 9.62
                      - 47.75
                    - - 9.511
                      - 47.802
                    - - 9.346
                      - 47.788
              tags:
                - Project 1
              time:
                from: '2022-10-14T13:28:03.569Z'
                to: '2022-10-24T13:28:03.569Z'
              mission:
                - TSX
                - PAZ
              feasibilityLevel: complete
              sensorMode: SAR_SM_S
              polarizationChannels: HH
              incidenceAngle:
                minimum: 30
                maximum: 50
              pathDirection:
                - ascending
                - descending
              lookDirection: R
              outOfFullPerformance: false
              orderTemplate: default
              productType: EEC
              resolutionVariant: SE
              acquisitionOnly: false
              receivingStation: NSG_POOL
              orbitType: NRT
              geocodedIncidenceMask: false
              mapProjection: auto
              gainAttenuation: 0
      responses:
        '200':
          description: Possible acquisitions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - type
                  - features
                properties:
                  type:
                    type: string
                    enum:
                      - FeatureCollection
                  features:
                    type: array
                    items:
                      allOf:
                        - type: object
                          required:
                            - type
                            - geometry
                            - properties
                          properties:
                            type:
                              type: string
                              enum:
                                - Feature
                            geometry:
                              type: object
                              additionalProperties: false
                              required:
                                - type
                                - coordinates
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - Polygon
                                coordinates:
                                  type: array
                                  minLength: 1
                                  items:
                                    type: array
                                    minLength: 3
                                    items:
                                      type: array
                                      minLength: 2
                                      maxLength: 2
                                      items:
                                        type: number
                              example:
                                type: Polygon
                                coordinates:
                                  - - - 9.346
                                      - 47.788
                                    - - 9.291
                                      - 47.644
                                    - - 9.538
                                      - 47.592
                                    - - 9.62
                                      - 47.75
                                    - - 9.511
                                      - 47.802
                                    - - 9.346
                                      - 47.788
                            properties:
                              type: object
                              required:
                                - itemId
                                - mission
                                - acquisitionId
                                - startTime
                                - stopTime
                                - sensorMode
                                - polarizationChannels
                                - beamId
                                - pathDirection
                                - lookDirection
                                - incidenceAngle
                                - lastUpdateTime
                                - status
                                - outOfFullPerformance
                              properties:
                                itemId:
                                  type: string
                                  format: uuid
                                mission:
                                  description: Satellite mission
                                  type: string
                                  enum:
                                    - TSX
                                    - PAZ
                                satellite:
                                  description: Satellite
                                  type: string
                                  enum:
                                    - TSX-1
                                    - PAZ-1
                                    - TDX-1
                                acquisitionId:
                                  type: string
                                  example: TSX-1_ST_S_spot_049R_49677_D31767159_432
                                groupId:
                                  type: integer
                                startTime:
                                  type: string
                                  format: date-time
                                stopTime:
                                  type: string
                                  format: date-time
                                sensorMode:
                                  description: >-
                                    The imaging/instrument/sensor mode to use
                                    for the acquisition
                                  type: string
                                  enum:
                                    - SAR_ST_S
                                    - SAR_HS_S
                                    - SAR_HS_S_300
                                    - SAR_HS_S_150
                                    - SAR_HS_D
                                    - SAR_HS_D_300
                                    - SAR_HS_D_150
                                    - SAR_SL_S
                                    - SAR_SL_D
                                    - SAR_SM_S
                                    - SAR_SM_D
                                    - SAR_SC_S
                                    - SAR_WS_S
                                  example: SAR_SM_S
                                polarizationChannels:
                                  description: >-
                                    The dual-polarization modes (HHVV, HHHV,
                                    VVVH) are not available for staring
                                    spotlight or (wide) ScanSAR modes. The
                                    polarization modes HV and VH are only
                                    available for Wide ScanSAR acquisitions.
                                  type: string
                                  enum:
                                    - HH
                                    - VV
                                    - HV
                                    - VH
                                    - HHVV
                                    - HHHV
                                    - VVVH
                                  example: HH
                                beamId:
                                  type: string
                                  example: strip_010
                                pathDirection:
                                  description: Path or orbit direction
                                  type: string
                                  example: ascending
                                  enum:
                                    - ascending
                                    - descending
                                lookDirection:
                                  description: >-
                                    Look Direction. Left-looking acquisitions
                                    require special authorization.
                                  type: string
                                  enum:
                                    - R
                                    - L
                                incidenceAngle:
                                  description: >-
                                    Incidence angle range in degrees. Only
                                    acquisitions with an average incidence angle
                                    in this range will be considered.
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    minimum:
                                      type: number
                                      minimum: 10
                                      maximum: 70
                                      example: 30
                                    maximum:
                                      type: number
                                      minimum: 10
                                      maximum: 70
                                      example: 50
                                productType:
                                  description: >-
                                    Product type for the processing of the
                                    acuqisition. Mandatory on placing the order,
                                    but not for feasibility.
                                  type: string
                                  enum:
                                    - SSC
                                    - MGD
                                    - GEC
                                    - EEC
                                  example: EEC
                                resolutionVariant:
                                  description: >-
                                    Radiometric or spatial enhancement.
                                    Mandatory on placing the order, but not for
                                    feasibility.
                                  type: string
                                  enum:
                                    - SE
                                    - RE
                                orbitType:
                                  description: >-
                                    Near Realtime acquisitions will incur an
                                    additional fee. Science processing is most
                                    accurate but takes approx 5 days to
                                    complete. Mandatory on placing the order,
                                    but not for feasibility.
                                  type: string
                                  enum:
                                    - NRT
                                    - rapid
                                    - science
                                geocodedIncidenceMask:
                                  description: >-
                                    Include GIM in delivered product. Only
                                    applicable for EEC products.
                                  type: boolean
                                  default: false
                                mapProjection:
                                  description: >-
                                    Projection of the delivered product.
                                    Mandatory on placing the order, but not for
                                    feasibility.
                                  type: string
                                  default: auto
                                  enum:
                                    - auto
                                    - UTM
                                    - UPS
                                gainAttenuation:
                                  description: >-
                                    Processor gain Attenuation. Mandatory on
                                    placing the order, but not for feasibility.
                                  type: integer
                                  default: 0
                                  enum:
                                    - 0
                                    - 10
                                    - 20
                                relativeOrbit:
                                  type: integer
                                absoluteOrbit:
                                  type: integer
                                orderTemplate:
                                  type: string
                                lastUpdateTime:
                                  type: string
                                  format: date-time
                                status:
                                  description: Status of item
                                  type: string
                                  enum:
                                    - feasible
                                    - availableInArchive
                                    - unavailable
                                    - submitted
                                    - waitingForAcquisitionApproval
                                    - accepted
                                    - planned
                                    - acquistion
                                    - transition
                                    - downlink
                                    - waitingForOrbit
                                    - processing
                                    - waitingForDeliveryApproval
                                    - delivery
                                    - completed
                                    - failed
                                    - cancelled
                                    - approvalRejected
                                sensitivity:
                                  type: object
                                  additionalProperties: false
                                  required:
                                    - status
                                  properties:
                                    status:
                                      type: string
                                      enum:
                                        - notSensitive
                                        - potential
                                        - sensitive
                                    missingParameters:
                                      description: >-
                                        parameters that need to be set to get
                                        definite sensitivity status
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                          - productType
                                          - resolutionVariant
                                      example:
                                        - productType
                                        - resolutionVariant
                                    type:
                                      type: string
                                      enum:
                                        - blacklist
                                        - resolution
                                    sensitivityInformation:
                                      type: string
                                itemType:
                                  type: string
                                  enum:
                                    - catalogue
                                    - future
                                outOfFullPerformance:
                                  description: >-
                                    If set to true and the account is
                                    authorized, out of full performance scenes
                                    will be included in the response.
                                  type: boolean
                                  default: false
                                scienceOrbitAvailability:
                                  type: boolean
                        - type: object
                          properties:
                            properties:
                              type: object
                              properties:
                                submissionDeadline:
                                  type: string
                                  format: date-time
                                acquisitionOnly:
                                  description: >-
                                    Acquisition is done and archived, but
                                    product will not be processed and deliverd.
                                    Requires special authorization.
                                  type: boolean
                                  default: false
                                priority:
                                  description: >-
                                    Higher priority orders have a better chance
                                    of success but incur an additional fee
                                  type: string
                                  enum:
                                    - standard
                                    - priority
                                    - exclusive
                                  example: standard
                                conflicts:
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      enum:
                                        - none
                                        - potential
                                        - expected
                                    external:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                              - none
                                              - potential
                                              - expected
                                          startTime:
                                            type: string
                                            format: date-time
                                          stopTime:
                                            type: string
                                            format: date-time
                                        minLength: 1
                                    baskets:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        additionalProperties:
                                          type: object
                                          properties:
                                            status:
                                              type: string
                                              enum:
                                                - none
                                                - potential
                                                - expected
                                            startTime:
                                              type: string
                                              format: date-time
                                            stopTime:
                                              type: string
                                              format: date-time
                                          minLength: 1
                                      minLength: 1
                                    shopcart:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                              - none
                                              - potential
                                              - expected
                                          startTime:
                                            type: string
                                            format: date-time
                                          stopTime:
                                            type: string
                                            format: date-time
                                        minLength: 1
                                    feasibility:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                              - none
                                              - potential
                                              - expected
                                          startTime:
                                            type: string
                                            format: date-time
                                          stopTime:
                                            type: string
                                            format: date-time
                                        minLength: 1
                                  required:
                                    - status
                                estimatedDownloadAvailability:
                                  type: string
                                  format: date-time
                                receivingStation:
                                  description: >-
                                    Downlink station to use for direct-access
                                    customers
                                  type: string
                                  default: NSG_POOL
                                  example: NSG_POOL
                        - type: object
                          properties:
                            properties:
                              type: object
                              properties:
                                expiry:
                                  type: string
                                  format: date-time
                  bbox:
                    type: array
                    items:
                      type: number
                    minItems: 4
                    maxItems: 4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/catalogue:
    post:
      summary: search for possible acquisitions in catalogue
      tags:
        - sar/search
      requestBody:
        description: Search parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                limit:
                  type: integer
                  minimum: 1
                  default: 200
                aoi:
                  oneOf:
                    - allOf:
                        - description: Polygon for feasibility search
                        - type: object
                          additionalProperties: false
                          required:
                            - type
                            - coordinates
                          properties:
                            type:
                              type: string
                              enum:
                                - Polygon
                            coordinates:
                              type: array
                              minLength: 1
                              items:
                                type: array
                                minLength: 3
                                items:
                                  type: array
                                  minLength: 2
                                  maxLength: 2
                                  items:
                                    type: number
                          example:
                            type: Polygon
                            coordinates:
                              - - - 9.346
                                  - 47.788
                                - - 9.291
                                  - 47.644
                                - - 9.538
                                  - 47.592
                                - - 9.62
                                  - 47.75
                                - - 9.511
                                  - 47.802
                                - - 9.346
                                  - 47.788
                    - allOf:
                        - description: MultiPolygon for feasibility search
                        - type: object
                          additionalProperties: false
                          required:
                            - type
                            - coordinates
                          properties:
                            type:
                              type: string
                              enum:
                                - MultiPolygon
                            coordinates:
                              type: array
                              minLength: 1
                              items:
                                type: array
                                minLength: 1
                                items:
                                  type: array
                                  minLength: 3
                                  items:
                                    type: array
                                    minLength: 2
                                    maxLength: 2
                                    items:
                                      type: number
                          example:
                            type: MultiPolygon
                            coordinates:
                              - - - - 8.346
                                    - 47.788
                                  - - 8.291
                                    - 47.644
                                  - - 8.538
                                    - 47.592
                                  - - 8.62
                                    - 47.75
                                  - - 8.511
                                    - 47.802
                                  - - 8.346
                                    - 47.788
                                - - - 9.346
                                    - 47.788
                                  - - 9.291
                                    - 47.644
                                  - - 9.538
                                    - 47.592
                                  - - 9.62
                                    - 47.75
                                  - - 9.511
                                    - 47.802
                                  - - 9.346
                                    - 47.788
                    - allOf:
                        - description: Point for feasibility search
                        - type: object
                          additionalProperties: false
                          required:
                            - type
                            - coordinates
                          properties:
                            type:
                              type: string
                              enum:
                                - Point
                            coordinates:
                              type: array
                              minLength: 2
                              maxLength: 2
                              items:
                                type: number
                          example:
                            type: Point
                            coordinates:
                              - 9.346
                              - 47.788
                catalogueTime:
                  allOf:
                    - description: >-
                        Time range of time an acquisition has been added to the
                        catalogue.
                    - type: object
                      additionalProperties: false
                      properties:
                        from:
                          type: string
                          format: date-time
                          example: '2021-10-14T13:28:03.569Z'
                        to:
                          type: string
                          format: date-time
                          example: '2021-10-24T13:28:03.569Z'
                time:
                  allOf:
                    - description: Time range of acquisition
                    - type: object
                      additionalProperties: false
                      properties:
                        from:
                          type: string
                          format: date-time
                          example: '2021-10-14T13:28:03.569Z'
                        to:
                          type: string
                          format: date-time
                          example: '2021-10-24T13:28:03.569Z'
                mission:
                  oneOf:
                    - description: Array of Satellite missions
                      type: array
                      items:
                        type: string
                        enum:
                          - TSX
                          - PAZ
                      default:
                        - TSX
                        - PAZ
                      example:
                        - TSX
                        - PAZ
                    - description: Satellite mission
                      type: string
                      default: all
                      enum:
                        - TSX
                        - PAZ
                        - all
                satellite:
                  default: all
                  description: Satellite
                  oneOf:
                    - type: string
                      enum:
                        - TSX-1
                        - PAZ-1
                        - TDX-1
                        - all
                    - type: array
                      items:
                        type: string
                        enum:
                          - TSX-1
                          - PAZ-1
                          - TDX-1
                occurrences:
                  description: 'If set: minimum size of datastacks.'
                  type: integer
                  minimum: 2
                sensorMode:
                  default: all
                  oneOf:
                    - description: The imaging/instrument/sensor mode of the acquisition
                      type: string
                      enum:
                        - SAR_ST_S
                        - SAR_HS_S
                        - SAR_HS_S_300
                        - SAR_HS_S_150
                        - SAR_HS_D
                        - SAR_HS_D_300
                        - SAR_HS_D_150
                        - SAR_SL_S
                        - SAR_SL_D
                        - SAR_SM_S
                        - SAR_SM_D
                        - SAR_SC_S
                        - SAR_WS_S
                        - all
                      example: SAR_SM_S
                    - description: The imaging/instrument/sensor mode of the acquisition
                      type: array
                      items:
                        type: string
                        enum:
                          - SAR_ST_S
                          - SAR_HS_S
                          - SAR_HS_S_300
                          - SAR_HS_S_150
                          - SAR_HS_D
                          - SAR_HS_D_300
                          - SAR_HS_D_150
                          - SAR_SL_S
                          - SAR_SL_D
                          - SAR_SM_S
                          - SAR_SM_D
                          - SAR_SC_S
                          - SAR_WS_S
                polarizationChannels:
                  default: all
                  oneOf:
                    - description: >-
                        The dual-polarization modes (HHVV, HHHV, VVVH) are not
                        available for staring spotlight or (wide) ScanSAR modes.
                        The polarization modes HV and VH are only available for
                        Wide ScanSAR acquisitions.
                      type: string
                      enum:
                        - HH
                        - VV
                        - HV
                        - VH
                        - HHVV
                        - HHHV
                        - VVVH
                        - all
                    - description: >-
                        The dual-polarization modes (HHVV, HHHV, VVVH) are not
                        available for staring spotlight or (wide) ScanSAR modes.
                        The polarization modes HV and VH are only available for
                        Wide ScanSAR acquisitions.
                      type: array
                      items:
                        type: string
                        enum:
                          - HH
                          - VV
                          - HV
                          - VH
                          - HHVV
                          - HHHV
                          - VVVH
                incidenceAngle:
                  description: >-
                    Incidence angle range in degrees. Only acquisitions with an
                    average incidence angle in this range will be considered.
                  type: object
                  additionalProperties: false
                  properties:
                    minimum:
                      type: number
                      minimum: 10
                      maximum: 70
                      example: 30
                    maximum:
                      type: number
                      minimum: 10
                      maximum: 70
                      example: 50
                pathDirection:
                  default:
                    - ascending
                    - descending
                  oneOf:
                    - description: Path or orbit direction
                      type: string
                      default: both
                      example: ascending
                      enum:
                        - ascending
                        - descending
                        - both
                    - description: Path or orbit direction
                      type: array
                      items:
                        type: string
                        enum:
                          - ascending
                          - descending
                lookDirection:
                  default:
                    - R
                    - L
                  oneOf:
                    - description: >-
                        Look Direction. Left-looking acquisitions require
                        special authorization.
                      type: string
                      enum:
                        - R
                        - L
                        - both
                    - description: >-
                        Look Direction. Left-looking acquisitions require
                        special authorization.
                      type: array
                      items:
                        type: string
                        enum:
                          - R
                          - L
                beamId:
                  description: Either a valid beam id or array of beam ids or 'all'
                  default: all
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                relativeOrbit:
                  default: all
                  oneOf:
                    - type: string
                      enum:
                        - all
                    - type: integer
                      minimum: 1
                      maximum: 167
                    - type: array
                      items:
                        type: integer
                        minimum: 1
                        maximum: 167
                outOfFullPerformance:
                  description: >-
                    If set to true and the account is authorized, out of full
                    performance scenes will be included in the response.
                  type: boolean
                  default: false
                orderTemplate:
                  type: string
                productType:
                  description: >-
                    Product type for the processing of the acuqisition.
                    Mandatory on placing the order, but not for feasibility.
                  type: string
                  enum:
                    - SSC
                    - MGD
                    - GEC
                    - EEC
                  example: EEC
                resolutionVariant:
                  description: >-
                    Radiometric or spatial enhancement. Mandatory on placing the
                    order, but not for feasibility.
                  type: string
                  enum:
                    - SE
                    - RE
                orbitType:
                  description: >-
                    Near Realtime acquisitions will incur an additional fee.
                    Science processing is most accurate but takes approx 5 days
                    to complete.
                  type: string
                  default: science
                  enum:
                    - rapid
                    - science
                geocodedIncidenceMask:
                  description: >-
                    Include GIM in delivered product. Only applicable for EEC
                    products.
                  type: boolean
                  default: false
                mapProjection:
                  description: >-
                    Projection of the delivered product. Mandatory on placing
                    the order, but not for feasibility.
                  type: string
                  default: auto
                  enum:
                    - auto
                    - UTM
                    - UPS
                gainAttenuation:
                  description: >-
                    Processor gain Attenuation. Mandatory on placing the order,
                    but not for feasibility.
                  type: integer
                  default: 0
                  enum:
                    - 0
                    - 10
                    - 20
      responses:
        '200':
          description: acquisitions in catalogue
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - type
                  - features
                properties:
                  type:
                    type: string
                    enum:
                      - FeatureCollection
                  limit:
                    type: integer
                    minimum: 1
                    default: 200
                  total:
                    type: integer
                  features:
                    type: array
                    items:
                      allOf:
                        - type: object
                          required:
                            - type
                            - geometry
                            - properties
                          properties:
                            type:
                              type: string
                              enum:
                                - Feature
                            geometry:
                              type: object
                              additionalProperties: false
                              required:
                                - type
                                - coordinates
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - Polygon
                                coordinates:
                                  type: array
                                  minLength: 1
                                  items:
                                    type: array
                                    minLength: 3
                                    items:
                                      type: array
                                      minLength: 2
                                      maxLength: 2
                                      items:
                                        type: number
                              example:
                                type: Polygon
                                coordinates:
                                  - - - 9.346
                                      - 47.788
                                    - - 9.291
                                      - 47.644
                                    - - 9.538
                                      - 47.592
                                    - - 9.62
                                      - 47.75
                                    - - 9.511
                                      - 47.802
                                    - - 9.346
                                      - 47.788
                            properties:
                              type: object
                              required:
                                - itemId
                                - mission
                                - acquisitionId
                                - startTime
                                - stopTime
                                - sensorMode
                                - polarizationChannels
                                - beamId
                                - pathDirection
                                - lookDirection
                                - incidenceAngle
                                - lastUpdateTime
                                - status
                                - outOfFullPerformance
                              properties:
                                itemId:
                                  type: string
                                  format: uuid
                                mission:
                                  description: Satellite mission
                                  type: string
                                  enum:
                                    - TSX
                                    - PAZ
                                satellite:
                                  description: Satellite
                                  type: string
                                  enum:
                                    - TSX-1
                                    - PAZ-1
                                    - TDX-1
                                acquisitionId:
                                  type: string
                                  example: TSX-1_ST_S_spot_049R_49677_D31767159_432
                                groupId:
                                  type: integer
                                startTime:
                                  type: string
                                  format: date-time
                                stopTime:
                                  type: string
                                  format: date-time
                                sensorMode:
                                  description: >-
                                    The imaging/instrument/sensor mode to use
                                    for the acquisition
                                  type: string
                                  enum:
                                    - SAR_ST_S
                                    - SAR_HS_S
                                    - SAR_HS_S_300
                                    - SAR_HS_S_150
                                    - SAR_HS_D
                                    - SAR_HS_D_300
                                    - SAR_HS_D_150
                                    - SAR_SL_S
                                    - SAR_SL_D
                                    - SAR_SM_S
                                    - SAR_SM_D
                                    - SAR_SC_S
                                    - SAR_WS_S
                                  example: SAR_SM_S
                                polarizationChannels:
                                  description: >-
                                    The dual-polarization modes (HHVV, HHHV,
                                    VVVH) are not available for staring
                                    spotlight or (wide) ScanSAR modes. The
                                    polarization modes HV and VH are only
                                    available for Wide ScanSAR acquisitions.
                                  type: string
                                  enum:
                                    - HH
                                    - VV
                                    - HV
                                    - VH
                                    - HHVV
                                    - HHHV
                                    - VVVH
                                  example: HH
                                beamId:
                                  type: string
                                  example: strip_010
                                pathDirection:
                                  description: Path or orbit direction
                                  type: string
                                  example: ascending
                                  enum:
                                    - ascending
                                    - descending
                                lookDirection:
                                  description: >-
                                    Look Direction. Left-looking acquisitions
                                    require special authorization.
                                  type: string
                                  enum:
                                    - R
                                    - L
                                incidenceAngle:
                                  description: >-
                                    Incidence angle range in degrees. Only
                                    acquisitions with an average incidence angle
                                    in this range will be considered.
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    minimum:
                                      type: number
                                      minimum: 10
                                      maximum: 70
                                      example: 30
                                    maximum:
                                      type: number
                                      minimum: 10
                                      maximum: 70
                                      example: 50
                                productType:
                                  description: >-
                                    Product type for the processing of the
                                    acuqisition. Mandatory on placing the order,
                                    but not for feasibility.
                                  type: string
                                  enum:
                                    - SSC
                                    - MGD
                                    - GEC
                                    - EEC
                                  example: EEC
                                resolutionVariant:
                                  description: >-
                                    Radiometric or spatial enhancement.
                                    Mandatory on placing the order, but not for
                                    feasibility.
                                  type: string
                                  enum:
                                    - SE
                                    - RE
                                orbitType:
                                  description: >-
                                    Near Realtime acquisitions will incur an
                                    additional fee. Science processing is most
                                    accurate but takes approx 5 days to
                                    complete. Mandatory on placing the order,
                                    but not for feasibility.
                                  type: string
                                  enum:
                                    - NRT
                                    - rapid
                                    - science
                                geocodedIncidenceMask:
                                  description: >-
                                    Include GIM in delivered product. Only
                                    applicable for EEC products.
                                  type: boolean
                                  default: false
                                mapProjection:
                                  description: >-
                                    Projection of the delivered product.
                                    Mandatory on placing the order, but not for
                                    feasibility.
                                  type: string
                                  default: auto
                                  enum:
                                    - auto
                                    - UTM
                                    - UPS
                                gainAttenuation:
                                  description: >-
                                    Processor gain Attenuation. Mandatory on
                                    placing the order, but not for feasibility.
                                  type: integer
                                  default: 0
                                  enum:
                                    - 0
                                    - 10
                                    - 20
                                relativeOrbit:
                                  type: integer
                                absoluteOrbit:
                                  type: integer
                                orderTemplate:
                                  type: string
                                lastUpdateTime:
                                  type: string
                                  format: date-time
                                status:
                                  description: Status of item
                                  type: string
                                  enum:
                                    - feasible
                                    - availableInArchive
                                    - unavailable
                                    - submitted
                                    - waitingForAcquisitionApproval
                                    - accepted
                                    - planned
                                    - acquistion
                                    - transition
                                    - downlink
                                    - waitingForOrbit
                                    - processing
                                    - waitingForDeliveryApproval
                                    - delivery
                                    - completed
                                    - failed
                                    - cancelled
                                    - approvalRejected
                                sensitivity:
                                  type: object
                                  additionalProperties: false
                                  required:
                                    - status
                                  properties:
                                    status:
                                      type: string
                                      enum:
                                        - notSensitive
                                        - potential
                                        - sensitive
                                    missingParameters:
                                      description: >-
                                        parameters that need to be set to get
                                        definite sensitivity status
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                          - productType
                                          - resolutionVariant
                                      example:
                                        - productType
                                        - resolutionVariant
                                    type:
                                      type: string
                                      enum:
                                        - blacklist
                                        - resolution
                                    sensitivityInformation:
                                      type: string
                                itemType:
                                  type: string
                                  enum:
                                    - catalogue
                                    - future
                                outOfFullPerformance:
                                  description: >-
                                    If set to true and the account is
                                    authorized, out of full performance scenes
                                    will be included in the response.
                                  type: boolean
                                  default: false
                                scienceOrbitAvailability:
                                  type: boolean
                        - type: object
                          properties:
                            properties:
                              type: object
                              properties:
                                quality:
                                  type: string
                                  enum:
                                    - OPERATOR_APPROVED
                                    - LIMITED_APPROVAL
                                    - AUTO_APPROVED
                                    - QA_ATTENTION
                                  example: AUTO_APPROVED
                                catalogueTime:
                                  type: string
                                  format: date-time
                                antennaMode:
                                  type: string
                                  enum:
                                    - SRA
                                    - DRA
                                datastackCount:
                                  type: integer
                                resolution:
                                  description: >-
                                    Resolution range of the image. Exact values
                                    depend on incidence angle and processing
                                    parameters.
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    minimum:
                                      type: number
                                      minimum: 0
                                      maximum: 50
                                      example: 3.3
                                    maximum:
                                      type: number
                                      minimum: 0
                                      maximum: 50
                                      example: 3.9
                  bbox:
                    type: array
                    items:
                      type: number
                    minItems: 4
                    maxItems: 4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '401':
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
        '503':
          description: Connection to internal service error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    pattern: ^[A-Za-z0-9]+[A-Z-a-z0-9_\-]*[A-Za-z0-9]$
                  message:
                    type: string
                  location:
                    type: string
                  detail:
                    type: string
                  params:
                    type: object
  /sar/catalogue/retrieve:
    post:
      summary: retrieve ordered items from catalogue
      tags:
        - sar/search
      requestBody:
        description: items to be retrieved from the catalogue
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                acquisitions:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    example: TSX-1_ST_S_spot_049R_49677_D31767159_432
[...]
